{% extends 'posts/post_base.html' %}
{% block title %} {{ title }} {% endblock %}
{% load searchtags %}
{% load paginate %}
{% load blog_tags %}
{% block block_canonical_tag %}
  {% if current_page|slugify == '1'|slugify %}
    {% else %}
    <link rel="prev" href="https://peeljobs.com/blog/{% if prev_page != 1 %}{{ prev_page }}/{% endif %}" />
  {% endif %}
  {% if current_page <= last_page %}
    {% if current_page == last_page %}
    {% else %}
      <link rel="next" href="https://peeljobs.com/blog/{{current_page| add:"1"}}/" />
    {% endif %}
  {% endif %}
{% endblock %}
{% block block_title %}
{% include 'meta_data/blog_view.html' %}
{% endblock %}
{% block page_search_block %}
  <div class="blog_menu_section">
    <div class="container">
      <div class="row mar_lr_0">
        <ul>
          <li><a href="/">Home</a></li>
          {% for category in categories_list %}
            <li><a href="{% url 'selected_category' category_slug=category.slug %}" target="_blank">{{ category }}</a></li>
          {% endfor %}
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block blog_content %}
<style type="text/css"> 
  .blog_title{
    font-size: 16px;
    color: #00aeef;
  }
</style>
{% show_adv_search_filter %}
<!-- main_container starts here -->
      <div class="row mar_lr_0 main_container">
        <div class="container">
          <!-- breadcrumb_section starts here -->
          <div class="breadcrumb_section row mar_lr_0">
            <nav>
              <ol class="cd-breadcrumb triangle">
                <li><a href="/">Home</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li class="current"><em>{{ blog_name.title }}</em></li>
              </ol>
            </nav>
          </div>
          <!-- breadcrumb_section ends here -->
          <div class="row mar_lr_0">
             <ul class="social-share blog_social_share">
            <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{short_url}}&t={{blog_name.title}}" class="facebook social"><i class="fa fa-facebook"></i></a></li>
              <li><a target="_blank" href="https://www.linkedin.com/cws/share?url={{ short_url }}&token=&isFramed=true" class="linkedin social"><i class="fa fa-linkedin"></i></a></li>
              <li><a target="_blank" href="https://plus.google.com/share?hl=en-US&url={{short_url}}" class="google social"><i class="fa fa-google-plus"></i></a></li>
              <li><a target="_blank" href="https://twitter.com/intent/tweet?text={{blog_name.title}}&url={{short_url}}&via={{blog_title}}" class="twitter social"><i class="fa fa-twitter"></i></a></li>
              <li><a href="mailto:?subject=Peeljobs%20Job%20post%20sharing&body=https://peeljobs.com/blog/{{ blog.slug }}/" target="_blank" class="envelope social"><i class="fa fa-envelope"></i></a></li>
          </ul>
            <div class="col-md-9 left_container">

              <!-- side_filter_section starts here -->
              <div class="row">
                <!-- job_list_section starts here -->
                <div class="col-md-12">
                  <div class="blog_detail_section">
                    <!-- blog_item starts here -->
                    <div class="blog_item blog_detail_item">
                      <div class="blog_date text-uppercase" itemprop="datePublished">{{ blog_name.created_on|date:"F d, Y" }}</div>
                      <h1 class="blog_title" itemprop="headline">{{ h1_tag }}</h1>
                      <span class="category"><strong>Category :</strong><a href="{% url 'selected_category' category_slug=blog_name.category.slug %}" target="_blank"><span itemprop="name">{{ blog_name.category }}</span></a> </span>
                      <div class="desc">  {{ blog_name.content|safe }}

                      </div>
                      {% if blog_name.tags.all %}
                      <div class="tags">
                        {% for tag in blog_name.tags.all %}
                          <span class="tag"><a href="{% url 'selected_tag' tag_slug=tag.slug %}" target="_blank">{{ tag }}</a></span>
                        {% endfor %}
                      </div>
                      {% endif %}
                    </div>
                    <!-- blog_item ends here -->
                  </div>
                  {% if related_posts %}
                   <!-- related_blog_post starts here -->
                   <div class="related_blog_post_section">
                         <!-- blog_item starts here -->
                         {% for post in related_posts %}
                     <div class="col-md-4 col-sm-6 job_outer_col">
                          <div class="blog_item" itemscope itemType="http://schema.org/BlogPosting">
                            <div class="blog_title"><a itemprop="name headline mainEntityOfPage" href="https://peeljobs.com/blog/{{ post.slug }}/" target="_blank">{{ post.title }}</a></div>
                            <span class="category"><strong>Category :</strong> <a href="{% url 'selected_category' category_slug=post.category.slug %}" target="_blank" class="category" itemprop="name">{{ post.category }}</a></span>
                            <div class="desc">{{ post.content|safe|truncatewords_html:20  }}</div>
                            {% if post.tags.all %}
                            <div class="tags">
                              {% for tag in post.tags.all %}
                                <span class="tag"><a href="{% url 'selected_tag' tag_slug=tag.slug %}" target="_blank">{{ tag }}</a></span>
                              {% endfor %}
                            </div>
                            {% endif %}
                          </div>
                      </div>
                          {% endfor %}
                          <!-- blog_item ends here -->
                    <br clear="all">
                   </div>
                  {% endif %}
              <!-- related_blog_post ends here -->
                </div>
                <!-- job_list_section ends here -->
              </div>
              <div id="disqus_thread"></div>
            </div>
            <div class="col-md-3 right_container">
              <!-- blog_search starts here -->
              <div class="blog_search">
                <p class="head text-capitalize">Search A Post</p>
                <form name="searchform" id="searchfrom" method="POST" action="/blog/search/">
                {% csrf_token %}
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for..." name="search" id="search">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Go!</button>
                  </span>
                </div>
                </form>
              </div>
              <!-- blog_search ends here -->
              <!--subscribe_box form starts here -->
              <div class="subscribe_box blog_subscribe">
                <div class="login_box">
                  <p class="head text-capitalize">Subscribe with us, to get jobs to your inbox</p>
                 <form id="Jobsubscribeform" name="Jobsubscribeform" class="Jobsubscribeform" method = "POST">
                    <div class="form-group">
                      <select class="form-control" id="job_skills" name="skill" multiple>
                        <option value=''>Select Your Skill</option>
                      </select>
                      <span class="skill_err"></span>
                      <p id="job_response_message"></p>
                    </div>
                    <div class="form-group">
                      {% if request.user.email %}
                      <input type="hidden" name="email" id="job_email" class="form-control" placeholder="Enter Your Email Address" value="{{ request.user.email }}" />
                      {% else %}
                      <input type="text" name="email" id="job_email" class="form-control" placeholder="Enter Your Email Address"/>
                      {% endif %}
                    </div>
                    <button type="submit" class="btn btn-default">Subscribe Here</button>
                  </form>
                </div>
              </div>
              <!--subscribe_box form ends here -->
               <!-- blog_categories starts here -->
              <div class="blog_categories">
                <div class="heading text-uppercase">Archieves</div>
                  {% get_archives as archives %}
                    <div class="panel-group side_filter_section" id="accordion">
                  {% for archive in archives %}
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne_{{archive.year}}"><i class="more-less glyphicon glyphicon-plus"></i> {{ archive.year }}</a>
                          </h4>
                        </div>
                        <div id="collapseOne_{{ archive.year }}" class="panel-collapse collapse">
                          <div class="panel-body">
                            <ul>
                            {% for each in  archive.dates %}
                              <li><a href="{% url 'archive_posts' year=each|date:'Y' month=each|date:'n' %}" target="_blank">{{ each|date:"F" }}</a></li>
                            {% endfor %}
                            </ul>
                          </div>
                        </div>
                      </div>
                  {% endfor %}
                    </div>
              </div>
              <!-- blog_categories ends here -->
              <!-- blog_categories starts here -->
              <div class="blog_categories">
                <div class="heading text-uppercase">Categories</div>
                <ul>
                  {% for category in categories_list %}
                    <li><a href="{% url 'selected_category' category_slug=category.slug %}" target="_blank">{{ category }}</a></li>
                  {% endfor %}
              </ul>
              </div>
              <!-- blog_categories ends here -->
                <!-- blog_categories starts here -->
              <div class="blog_categories tags">
                <div class="heading text-uppercase"><i class="fa fa-tag"></i> Tags</div>
                <ul>
                {% for tag in tags_list %}
                  <li><a href="{% url 'selected_tag' tag_slug=tag.slug %}" target="_blank"> {{ tag }}</a></li>
                {% endfor %}
              </ul>
              </div>
              <!-- blog_categories ends here -->

            </div>
          </div>
        </div>
      </div>
      <!-- main_container ends here -->
  {% block pj_info %}
  <div class="col-md-2 col-sm-8 col-xs-8 about">
  </div>
{% endblock %}
{% endblock %}
{% block 'extra_js' %}
<script type="text/javascript">
  $('#home').addClass('active');
  $("select#job_skills").select2({placeholder: "Select here", maximumSelectionSize: 100});

  $(document).ready(function () {
      $('#job_skills').empty()
      $('#job_skills').append(new Option('Select a Skill', ''))
      $.getJSON("{% url 'jobs:get_skills' %}", function (data) {
          $.each(JSON.parse(data.response), function (key, field) {
              $('#job_skills').append(new Option(field.fields.name, field.pk))
          })
      });
  });


</script>
<script>
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = '//peeljobs-com-1.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}