{% extends 'mobile/base.html'%}
{% load searchtags %}
{% block title %} {{ title }} {% endblock %}
{% load blog_tags %}
{% block block_canonical_tag %}
  {% if current_page|slugify == '1'|slugify %}
    {% else %}
    <link rel="prev" href="https://peeljobs.com{{current_url}}{% if prev_page != 1 %}{{ prev_page }}/{% endif %}" />
  {% endif %}
  {% if current_page <= last_page %}
    {% if current_page == last_page %}
    {% else %}
      <link rel="next" href="https://peeljobs.com{{current_url}}{{ current_page| add:"1" }}/" />
    {% endif %}
  {% endif %}
{% endblock %}
{% block block_title %}
  {% include 'meta_data/blog_data.html' %}
{% endblock %}

{% block stage %}

      <div class="related_posts_container blog_list_container">
        <!-- related_blog_item starts here -->
        {% for blog in blog_posts %}
          <div class="blog_item">
            <div class="blog_title" itemprop="headline"><a href="https://peeljobs.com/blog/{{ blog.slug }}/" itemprop="name headline mainEntityOfPage" target="_blank">{{ blog }}</a> </div>
            <div class="category">
              <span><strong>Category :</strong> <a href="{% url 'selected_category' category_slug=blog.category.slug %}">{{ blog.category }}</a> </span>
              <span class="pull-right" style="font-size:12px">{{ blog.created_on|date:"M d, Y" }}</span>
            </div>
            <div class="desc">{{ blog.content|safe|truncatewords_html:50 }}</div>
            <div class="tags">
            {% for tag in blog.tags.all %}
            <span class="tag"><a href="{% url 'selected_tag' tag_slug=tag.slug %}" target="_blank">{{ tag.name }}</a></span>
                  {% endfor %}
            </div>
            <div class="btn-group social_share_group pull-right">
              <button class="btn btn-default btn-xs disabled">Share This Blog Post:</button>   
              <a class="btn btn-default btn-xs" target="_blank" title="On Facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://peeljobs.com/blog/{{ blog.slug }}/&t={{ blog }}">
              <span class="pj-facebook i fb"></span>
              </a>
              <a class="btn btn-default btn-xs" target="_blank" title="On Twitter" href="https://twitter.com/intent/tweet?text={{ blog }}&url=https://peeljobs.com/blog/{{ blog.slug }}/&via=PeelJobs">
              <span class="pj-twitter i twit"></span>
              </a>
              <a class="btn btn-default btn-xs" target="_blank" title="On Google Plus" href="https://plus.google.com/share?hl=en-US&url=https://peeljobs.com/blog/{{ blog.slug }}/">
              <span class="pj-googleplus i gplus"></span>
              </a>
              <a class="btn btn-default btn-xs" target="_blank" title="On LinkedIn" href="https://www.linkedin.com/cws/share?url=https://peeljobs.com/blog/{{ blog.slug }}/&token=&isFramed=true">
              <span class="pj-linkedin i in"></span>
              </a>
            </div>
            <br clear="all">
          </div>
          {% endfor %}
        <!-- related_blog_item ends here -->
      </div>
         <!-- pagination starts here -->
     {% if last_page > 0 %}
  <div class="pagination_row text-center">
      <ul class="pagination pagination-sm text-center">
      {% if prev_page < current_page %}
      <li><a href="{{current_url}}{% if prev_page == 1%}{% else %}{{ prev_page }}/{% endif %}">Previous</a></li>
      {% endif %}
      <li {% ifequal s current_page %} class="active" {% endifequal %}><a href="{{current_url}}{% if current_page == 1%}{% else %}{{ current_page }}/{% endif %}">{{current_page}} of {{ last_page }}</a></li>
     {% if aft_page > current_page %} 
     <li><a href="{{current_url}}{{aft_page}}/">Next</a></li>{% endif %}
    </ul>
    </div>
    <br clear="all">
    <div class="clearfix"></div>
    {% endif %}
    <!-- pagination ends here -->
            <br clear="all"/>

{% endblock %}