stages:
  - deploy

deploy_live:
  stage: deploy
  environment:
    name: live
  script:
    - sudo /bin/rm -rf /home/peeljobs/peeljobs/; cp -r . /home/peeljobs/peeljobs
    - source /home/peeljobs/env/bin/activate
    - cd /home/peeljobs/peeljobs/backend
    - pip install pipenv
    - pipenv install -d
    - python manage_server.py migrate --noinput
    - sudo /usr/bin/supervisorctl restart all
  tags:
    - peeljobs-live
  only:
    - master
