venv
.idea
*.pyc
*.*~
vagrant-fabric-lxc
django_project/media/images
visual_changelog.db
.vagrant

node_modules
id_dsa.pub
id_rsa.pub
docs/build
fabgis_resources
private.py
.coverage
sample_config.yaml
fabfile.py
.sass-cache
npm-debug.log
django_blog_it
django_dev.log
logs/
celerybeat-schedule
celerybeat.pid
docs/build

.env
resume/
docs/build
dist/
