[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "==1.2.3"
boto3 = "==1.24.78"
django = "==4.2.19"
django-celery-beat = "==2.7.0"
django-compressor = "==4.1"
django-cors-headers = "==3.13.0"
django-haystack = "==3.2.1"
django-ses = "==4.4.0"
django-ses-gateway = "==0.1.1"
django-tellme = {git = "https://github.com/ludrao/django-tellme"}
elasticsearch = "==7.17.6"
google-api-python-client = "==2.62.0"
psycopg2-binary = "==2.9.3"
python-dotenv = "==0.21.0"
python-memcached = "==1.59"
redis = "==5.2.1"
sorl-thumbnail = "==12.9.0"
twython = "==3.9.1"
dj-rest-auth = "==2.2.5"
pyjwt = "==2.5.0"
pytz = "==2025.1"
djangorestframework = "==3.15.2"
djangorestframework-simplejwt = "==5.5.0"
sentry-sdk = "==2.22.0"
django-pymemcache = "==1.0.0"
contextlib2 = "==21.6.0"
django-blog-it = "==0.3.1"
django-endless-pagination = "==2.0"
gunicorn = "==23.0.0"
jsonpickle = "==2.2.0"
lockfile = "==0.12.2"
olefile = "==0.46"
tinys3 = "==0.1.12"

[dev-packages]
behave-django = "==1.4.0"
django-behave = "==0.1.6"
black = "==25.1.0"
bpython = "==0.23"
coverage = "==7.6.12"
django-debug-toolbar-template-profiler = "==2.1.0"
prospector = "==1.15.1"
flake8-polyfill = "==1.0.2"
pip-check = "==2.9"

[requires]
python_version = "3.10"
