arrow==1.2.3
behave-django==1.5.0
black==25.1.0
boto3
bpython==0.23
celery==5.5.0
coverage==6.4.4
django==4.2.22
django-celery-beat==2.7.0
django-compressor==4.1
django-cors-headers==3.13.0
django-debug-toolbar-template-profiler==2.1.0
django-haystack==3.2.1
#django-hmin==0.3.3
django-ses==3.1.2
elasticsearch==7.17.6
google-api-python-client==2.62.0
prospector==1.17.1
psycopg-binary==3.2.9
psycopg2-binary==3.2.9.10
python-dotenv==0.21.0
python-memcached==1.62
redis==4.3.4
sorl-thumbnail==12.11.0
dj-rest-auth==7.0.1
pyjwt==2.5.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.0
"sentry-sdk[django]"==1.9.8
pip-check==2.7
django-storages==1.14.6
lxml==5.4.0

#suspense
flake8-polyfill==1.0.2
django-pymemcache==1.0.0
contextlib2==21.6.0
gunicorn==20.1.0
jsonpickle==2.2.0
lockfile==0.12.2
# pipenv==2021.5.29
# poetry==1.0.10
# python-magic==0.4.24
# simplejson==3.17.2
# smtpapi==0.4.7