{% extends 'dashboard/base.html' %}

{% block stage %}
  <div class="content_wrapper">
    <div class="row mt">
      <!-- CONTENT -->
      <section id='blog-post-create'>
        <h4>{% if company %}Edit{% else %}New{% endif %} Company</h4>
        <form name="companyform" id="companyform" method="post">
        <div class="form-horizontal mail_form">
          <div class="form-group">
            <label class="col-sm-2 control-label">Logo</label>
            <div class="col-sm-10">
              <input type="file" class="form-control" placeholder='Company Name' name="profile_pic" id="profile_pic" value="{{ company.profile_pic }}" accept="image/*">
              {% if company.profile_pic %}
                <img src="{% if 'http' in company.profile_pic|slugify %}{{company.profile_pic}}{% else %}https://d2pt99vxm3n8bc.cloudfront.net/{{company.profile_pic}}{% endif %}" width="60" height="60">
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Campaign Icon</label>
            <div class="col-sm-10">
              <input type="file" class="form-control" placeholder='Company Name' name="campaign_icon" id="campaign_icon" value="{{ company.campaign_icon }}" accept="image/*">
              {% if company.campaign_icon %}<img src="{{company.campaign_icon}}" width="60" height="60">{% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Title<span class="error">*</span></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder='Company Name' name="name" id="name" value="{{ company.name }}">
            </div>
          </div>
          {% if company %}
            <div class="form-group">
              <label class="col-sm-2 control-label">Slug</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder='Company Slug' name="slug" id="slug" value="{{ company.slug }}">
              </div>
            </div>
          {% endif %}
          <div class="form-group">
            <label class="col-sm-2 control-label">Website</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder='Website' name="website" id="website" value="{% if company.website %}{{ company.website }}{% endif %}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Address<span class="error">*</span></label>
            <div class="col-sm-10">
              <textarea class="form-control" name='address' id='address' placeholder='Address'>{{ company.address }}</textarea>
           </div>
          </div>
           <div class="form-group">
            <label class="col-sm-2 control-label">Profile<span class="error">*</span></label>
            <div class="col-sm-10">
              <textarea class="form-control" name='tetareacontents' id='textareacontents' placeholder='Description'>{{ company.profile }}</textarea>
              <input type="hidden" name="profile" id="profile" value="{{ company.profile }}">
              <br>
              <input type="checkbox" name="is_active" id="is_active" {% if company.is_active %}checked{% endif %}><b>Is Active</b>
            </div>
          </div>
           <div class="form-group">
            <label class="col-sm-2 control-label">Meta Title</label>
            <div class="col-sm-10">
            <textarea class="form-control" name='meta_title' id='meta_title' placeholder='Meta Title'>{{ company.meta_title }}</textarea>
             </div>
           </div>
           <div class="form-group">
            <label class="col-sm-2 control-label">Meta Description</label>
            <div class="col-sm-10">
             <textarea class="form-control" name='meta_description' id='meta_description' placeholder='Meta Description'>{{ company.meta_description }}</textarea>
             </div>
           </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">&nbsp;</label>
            <div class="col-sm-10">
              <button type="submit"><i class="fa fa-floppy-o"></i>Save</button>
              <button class="cancelbutton">Cancel</button>
            </div>
          </div>
        </div>
      </section>
      <!--/ CONTENT -->
    </div>
  </div>
{% endblock stage %}

{% block script%}
  <script type="text/javascript">

  CKEDITOR.config.allowedContent = true;
  CKEDITOR.config.forcePasteAsPlainText = true;
  CKEDITOR.config.pasteFromWordRemoveFontStyles = true;
  CKEDITOR.config.pasteFromWordRemoveStyles = true;

  var editor = CKEDITOR.replace('textareacontents', {
  });

  $(".cancelbutton").click(function(e){
    e.preventDefault();
    window.location='{% url "dashboard:companies" 'company' %}';
  });

  $('form#companyform').ajaxForm({
    beforeSerialize: function() {
      $("input[name='profile']").val(CKEDITOR.instances.textareacontents.getData());
    },
    dataType: 'json',
    success: function(data) {
      if (data.error) {
        $('p.error').remove();
        for (var key in data.response) {
          $('#' + key).after('<p class="error">' + data.response[key] + '</p>');
        }
      } else {
          if (data.edit){
            window.location = '{% url "dashboard:companies" 'company' %}?active=' + data.company_active;
          }
          else{
            window.location = '{% url "dashboard:companies" 'company' %}';
          }
        }
      }
  });
</script>
{% endblock script %}
