{% extends "base.html" %}
{% block block_canonical %}
<link rel="canonical" href="https://peeljobs.com{{ request.path }}"/>
{% endblock %}

{% block block_title %}
  <title>Free Job Posting - Job Vacancies - Job search in India - PeelJobs</title>

  <meta name="description" content="PeelJobs - Free Job posting. Search & Apply for Full Time, Internship,  Walk In Jobs."/>

{% endblock %}

{% block base %}
<div class="content_div">
  <!-- SEARCH PART -->
  <section id='content_pages'>
    <div class="container">
      <div class="row mt content-page">
        <!-- content starts here -->
        <h3 class="title">Access Database</h3>
        <div class="content">
          <p>Need data of course we can provide you with tons of them but in this fast moving who takes the pain to sort them out and hand pick the exact pickle needed for you. We take the effort to reduce the junk and inappropriate resumes, we pick the best suited for you. According to the job requirement we give you the exact match of qualities and the candidate qualified for your job.</p>
          <p>We are providing all necessary and adequate data to our users in order to get the required information.</p>
          <p>Users get information related to all active users list, their details etc. They see all the job post details and list without bothering or accessing database. They also get resume details, applied candidates information, even shortlisted and selected candidates also from their site only.</p>
          <p>So, employers or recruiters don’t have to worry about their company data and resume related data, as they are in safe hands. No one is going to access or modified users personal data without their permission. No redundant data or duplicate data will be in database, as our professionals are designed the database in a sophisticated and in secured manner.</p>
          <p>But, if you are having any doubt about accessing database or getting any data related issues, feel free to contact us.</p>
        </div>
        <!-- content ends here -->
        <!-- Tab panes -->
      </div>
    </div>
  </section>
  <!-- content of job page -->
</div>
{% block pj_info %}
  <div class="col-md-2 col-sm-8 col-xs-8 about">
  </div>
{% endblock %}
{% endblock %}
