{% extends "base.html" %}
{% load searchtags %}

{% block block_canonical %}
<link rel="canonical" href="https://peeljobs.com{{ request.path }}"/>
{% endblock %}

{% block block_title %}
  <title>Privacy Policy - PeelJobs</title>

  <meta name="description" content="Peeljobs privacy policy - We set our efforts to secure all your confidential information, third party details and etc. Read more"/>

{% endblock %}
{% block page_search_block %}
{% show_search_filter %}
{% endblock %}
{% block base %}

<div class="content_div">
  <!-- SEARCH PART -->
  <section id='content_pages' class="main_container">
    <div class="container">
      <div class="breadcrumb_section">
        <nav>
          <ol class="cd-breadcrumb triangle">
            <li>
              <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}" class="name">
                <span class="name" >Home</span>
              </a>
            </li>
            <li class="current">
              <span class='job_detail'>
                <span class="name">Privacy Policy</span>
              </span>
            </li>
          </ol>
        </nav>
      </div>
      <div class="row mar_lr_0 content-page" style="margin-left:17px;margin-top: 12px;">
        <!-- content starts here -->
        <h3 class="title">PRIVACY POLICY</h3>
        <div class="content">
          <p><span class="adv-bold">Introduction: </span>We, at 'Peeljobs.com', are committed to respecting your online privacy and recognize your need for appropriate protection and management of any personally identifiable information ("Personal Information") you share with us. <br><br>
            "Personal Information" means any information that may be used to identify an individual, including, but not limited to, a first and last name, a home or other physical address and an email address or other contact information, whether at work or at home. In general, you can visit Peeljobs.com without telling us who you are or revealing any Personal Information about yourself. 
          </p>
          <p><span class="adv-bold">Cookies and other cracking technologies : </span>Some of our Web pages utilize "cookies" and other tracking technologies. A "cookie" is a small text file that may be used, for example, to collect information about Website activity. Some cookies and other technologies may serve to recall Personal Information previously indicated by a Web user. Most browsers allow you to control cookies, including whether or not to accept them and how to remove them.<br> <br>
            You may set most browsers to notify you if you receive a cookie, or you may choose to block cookies with your browser, but please note that if you choose to erase or block your cookies, you will need to re-enter your original user ID and password to gain access to certain parts of the Web site. <br><br>
            Tracking technologies may record information such as Internet domain and host names; Internet protocol (IP) addresses; browser software and operating system types; clickstream patterns; and dates and times that our site is accessed. Our use of cookies and other tracking technologies allows us to improve our Web site and your Web experience. We may also analyze information that does not contain Personal Information for trends and statistics. 
          </p>
          <p><span class="adv-bold">Third party services : </span>Third parties provide certain services available on Peeljobs.com. 'Peeljobs.com' may provide information, including Personal Information, that 'Peeljobs.com' collects on the Web to third-party service providers to help us deliver programs, products, information, and services. Service providers are also an important means by which 'Peeljobs.com' maintains its Web site and mailing lists. 'Peeljobs.com' will take reasonable steps to ensure that these third-party service providers are obligated to protect Personal Information on Info 'Peeljobs.com' behalf. <br><br>
            'Peeljobs.com' does not intend to transfer Personal Information without your consent to third parties who are not bound to act on 'Peeljobs.com' behalf unless such transfer is legally required. 
          </p>
          <p><span class="adv-bold"> Your consent
            : </span>
            By using this Web site, you consent to the terms of our Online Privacy Policy and to 'Peeljobs.com' processing of Personal Information for the purposes given above as well as those explained where 'Peeljobs.com' collects Personal Information on the Web.
          </p>
          <p><span class="adv-bold">Information security: </span>
          </p>
          <ul>
            <li>We take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure or destruction of data.</li>
            <li>We restrict access to your personally identifying information to employees who need to know that information in order to operate, develop or improve our services..</li>
          </ul>
          <p></p>
          <p><span class="adv-bold">Updating your information : </span>
          </p>
          <ul>
            <li>We provide mechanisms for updating and correcting your personally identifying information for many of our services. For more information, please see the FAQ page for help in each service.</li>
          </ul>
          <p></p>
          <p><span class="adv-bold">Children : </span>
          </p>
          <ul>
            <li>'Peeljobs.com' will not contact children under age 13 about special offers or for marketing purposes without a parent's permission.</li>
          </ul>
          <p></p>
          <p><span class="adv-bold">Information sharing and disclosure : </span>
          </p>
          <ul>
            <li>
              'Peeljobs.com' does not rent, sell, or share personal information about you with other people (save with your consent) or non-affiliated companies except to provide products or services you've requested, when we have your permission, or under the following circumstances
              <ol>
                <li>We provide the information to trusted partners who work on behalf of or with 'Peeljobs.com' under confidentiality agreements. These companies may use your personal information to help 'Peeljobs.com' communicate with you about offers from 'Peeljobs.com' and our marketing partners. However, these companies do not have any independent right to share this information.</li>
                <li>We respond to subpoenas, court orders, or legal process, or to establish or exercise our legal rights or defend against legal claims;</li>
                <li>We believe it is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Peeljobs.com's terms of use, or as otherwise required by law.</li>
                <li>We transfer information about you if 'Peeljobs.com' is acquired by or merged with another company. In this event, 'Peeljobs.com' will notify you before information about you is transferred and becomes subject to a different privacy policy.</li>
              </ol>
            </li>
            <li>'Peeljobs.com' does not provide any personal information to the advertiser when you interact with or view a targeted ad. However, by interacting with or viewing an ad you are consenting to the possibility that the advertiser will make the assumption that you meet the targeting criteria used to display the ad.
            </li>
            <li>'Peeljobs.com' advertisers include financial service providers (such as banks, insurance agents, stock brokers and mortgage lenders) and non-financial companies (such as stores, airlines, and software companies).</li>
            <li>'Peeljobs.com' works with vendors, partners, advertisers, and other service providers in different industries and categories of business. </li>
          </ul>
          <p></p>
          <p><span class="adv-bold">Confidentiality and Security : </span>
          </p>
          <ul>
            <li>We limit access to personal information about you to employees who we believe reasonably need to come into contact with that information to provide products or services to you or in order to do their jobs.</li>
            <li>" We have physical, electronic, and procedural safeguards that comply with the laws prevalent in India to protect personal information about you. We seek to ensure compliance with the requirements of the Information Technology Act, 2000 and Rules made thereunder to ensure the protection and preservation of your privacy.</li>
          </ul>
          <p></p>
          <p><span class="adv-bold">Changes to this Privacy Policy : </span>
          </p>
          <ul>
            <li>'Peeljobs.com' reserves the right to update, change or modify this policy at any time. The policy shall come to effect from the date of such update, change or modification. </li>
          </ul>
          <p></p>
          <p><span class="adv-bold">Disclaimer : </span>
            Peeljobs.com does not store or keep credit card data in a location that is accessible via the Internet. Once a credit card transaction has been completed, all credit card data is moved off-line only to ensure that the data/credit card information received is not accessible to anyone after completion of the on-line transaction and to ensure the maximum security. Peeljobs.com uses the maximum care as is possible to ensure that all or any data / information in respect of electronic transfer of money does not fall in the wrong hands. <br>
            <br>
            Peeljobs.com shall not be liable for any loss or damage sustained by reason of any disclosure (inadvertent or otherwise) of any information concerning the user's account and / or information relating to or regarding online transactions using credit cards / debit cards and / or their verification process and particulars nor for any error, omission or inaccuracy with respect to any information so disclosed and used whether or not in pursuance of a legal process or otherwise. 
          </p>
          <p><span class="adv-bold">Contact Information : </span>
            'Peeljobs.com' welcomes your comments regarding this privacy statement at the contact address given at the website. Should there be any concerns about contravention of this Privacy Policy, 'Peeljobs.com' will employ all commercially reasonable efforts to address the same.  <br> <br>
            Note : The terms in this agreement may be changed by Peeljobs.com at any time. Peeljobs.com is free to offer its services to any client/prospective client without restriction
          </p>
        </div>
        <!-- content ends here -->
        <!-- Tab panes -->
      </div>
    </div>
  </section>
  <!-- content of job page -->
</div>
{% block pj_info %}
  <div class="col-md-2 col-sm-8 col-xs-8 about">
  </div>
{% endblock %}
{% endblock %}
