{% extends "base.html" %}
{% load searchtags %}

{% block block_canonical %}
<link rel="canonical" href="https://peeljobs.com{{ request.path }}"/>
{% endblock %}

{% block block_title %}
  <title>Terms And Conditions - PeelJobs</title>

  <meta name="description" content="Bound to terms and conditions to get all the facilities of PeelJobs for your needs."/>

{% endblock %}
{% block page_search_block %}
{% show_search_filter %}
{% endblock %}
{% block base %}

<div class="content_div">
  <!-- SEARCH PART -->
  <section id='content_pages' class="main_container">
    <div class="container">
      <div class="breadcrumb_section">
        <nav>
          <ol class="cd-breadcrumb triangle">
            <li>
              <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}" class="name">
                <span class="name" >Home</span></a>
            </li>
            <li class="current">
              <span class='job_detail'>
                <span class="name">Terms & Conditions</span>
              </span>
            </li>
          </ol>
        </nav>
      </div>
      <div class="row mar_lr_0 content-page" style="margin-left:17px;margin-top: 12px;">
        <!-- content starts here -->
        <h3 class="title">TERMS  & CONDITIONS</h3>
        <div class="content">
          <p>
            This Terms of Use &amp; Subscriber Agreement is a legally binding agreement between Peeljobs.com, Employer (including employers, recruiting firms, staffing agencies, and recruiters) and Job Candidate/User of this web site, including all information, products, services, software, databases, and web site available from Peeljobs.com <br><br>
            By accessing information on Peeljobs.com, User acknowledges that he/she has read, understood and agrees to comply with the terms of this Agreement. By using Peeljobs.com as a Job Candidate, Employer, and/or submitting any content, User agrees to be bound by and comply with this Agreement. You understand and agree that Peeljobs.com is provided to you on an AS IS and AS AVAILABLE basis. Peeljobs.com reserves the right to modify, suspend or discontinue the System with or without notice at any time and without any liability to you.
          </p>
          <p class="sub-head">TERMS APPLICABLE TO EMPLOYERS</p>
          <p><span class="adv-bold">Eligible Subscribers of Peeljobs.com : </span>Peeljobs.com reserves the right to determine, in its sole discretion, whether a firm meets the eligibility requirements for subscriptions.Peeljobs.com asks for company’s social pages information to display your job posting on your social pages which we think is amazing as it maximises the reach of your jobs post.
          </p>
          <p><span class="adv-bold">Subscription Terms : </span>All subscription offers are made to eligible, qualified, Employers. As the expiration date of an Employer’s subscription term approaches, the Employer may be invoiced for a new subscription term. If the invoice is paid, the subscription and its associated benefits will continue; otherwise, the subscription will become inactive on its expiration date. When a subscription becomes inactive, all features, services, and benefits of the subscription cease. These may include but are not limited to: jobs entered in the System, distribution of jobs, web pages maintained by the System, resume-forwarding services.
            <br> 
          </p>
          <p><span class="adv-bold">Employer conduct : </span>Employer agrees that all the information accessed by Employer will be used only to allow the Employer to use the services offered by Peeljobs.com. Employers seeking to fill open, verifiable job positions on behalf of their client or vendor companies may use the System only for lawful purposes. Employers shall upload in the System only genuine, verifiable employment advertisements from Employer’s company or from verifiable companies with which Employer has a direct, explicit, agency relationship. Each Employer shall be responsible for the accuracy, timeliness, and completeness of any employment advertisements or candidate profiles its users place in the System.
            Employer represents, warrants and covenants that any information or materials uploaded to the System by Employer for use in connection with the System will not violate any laws or regulations or third-party proprietary rights, including, without limitation, copyright, trademark, obscenity, rights of publicity or privacy, and defamation laws. Employer hereby grants Peeljobs.com a non-exclusive, worldwide, royalty-free license to use these materials and to hyperlink to Employer’s website.
          </p>
          <p class="sub-head">Specific Prohibited Conduct of Employers</p>
          <p>Prohibited Uses of the System include:
          </p>
          <ul>
            <li><b>Password Sharing</b> Use of the System is limited to registered and authorized account holders. Employers can modify the profile and change the authorized person anytime during the valid subscription period. The sharing of passwords or login information is forbidden. Violation of this prohibition will result in an immediate cancellation, without refund, of any remaining portion of the subscription amount. Each Employer must use the login information for his registered Office’s subscription</li>
            <li><b>Commercial use of system</b>the reselling of any part of the System or the services or benefits provided by the System is expressly forbidden. All usage of the System must be contracted directly via Peeljbs.com or one of our authorized affiliates. Reselling of the Peeljobs.com System or any of its components without prior, written permission from Peeljobs will result in an immediate cancellation, without refund, of any remaining portion of the subscription amount. Peeljobs.com reserves the right to take legal action, both civil and criminal, against unauthorized use of the System.
            </li>
            <li><b>Automatic Searching &amp; Robots </b>  An Employer shall not use or attempt to use any engine, software, tool, agent, or other device or mechanism (including browsers, spiders, robots, avatars, or intelligent agents) to navigate or search the System.</li>
            <li><b>Multiple or Duplicate Postings </b> An Employer shall not post duplicate positions, multiple positions within one advertisement, or copy (plagiarize) other employment advertisements or candidate profiles.
            </li>
          </ul>
          <p></p>
          <p class="sub-head">TERMS APPLICABLE TO ALL USERS</p>
          <p><span class="adv-bold">User conduct : </span>You must be 18 years of age or older to visit or use Peeljobs.com in any manner. By visiting Peeljobs.com or accepting these Terms of Use, You represent and warrant to the Company that You are 18 years of age or older, and that You have the right, authority and capacity to use the Web Site and agree to and abide by these Terms of Use. You also represent and warrant to the Company that You will use Peeljobs.com in a manner consistent with any and all applicable laws and regulations. 
          </p>
          <p><span class="adv-bold">Registration and password : </span>You are responsible for maintaining the confidentiality of your account access information and passwords. You shall be responsible for all uses of your Web Site registrations and passwords, whether or not authorized by You. You are not authorized to share your password or other account access information with any other party, temporarily or permanently, and breach of this obligation may tantamount to disabling the Peeljobs.com  account and Peeljobs Services. You agree to immediately notify the Company of any unauthorized use of your Account, and passwords. You will receive job posting mail and other promotional mails to your inbox when you register with Pelljobs.com
          </p>
          <p><span class="adv-bold">Profile: </span>Any Profile/Resume You submit must be accurate and describe You, an individual person. The Profile requires standard fields to be completed.<br><br>
            You acknowledge and agree that You are solely responsible for the form, content and accuracy of any resume or material contained therein placed by You on the Peeljobs.com. <br><br><strong></strong>
            Peeljobs.com reserves the right to offer third party services and products to You based on the preferences that You identify in Your registration and at any time thereafter or you have agreed to receive, such offers may be made by Peeljobs.com or by third parties.<br><br>
            You understand and acknowledge that You have no ownership rights in Your account and that if You cancel/terminate  Your Peeljobs account, all Your account information from Peeljobs.com, including resumes, Profiles, cover letters, saved jobs, questionnaires will be marked as deleted in and may be deleted from our databases. Information may continue to be available for some period of time because of delays in propagating such deletion through Peeljobs’s web servers. In addition, third parties may retain saved copies of Your Information.<br><br>
            Peeljobs.com reserves the right to delete Your account and all of Your Information after a significant duration of inactivity.
          </p>
          <p><span class="adv-bold">Specific Prohibited Conduct of Users:</span>
          </p>
          <p>Prohibited Uses of the System include:
          </p>
          <ul>
            <li>Post any resume or apply for any job on behalf of another party,</li>
            <li>Set more than one copy of the same resume to public at any one time;</li>
            <li>Post or submit to Pelljobs.com any incomplete, false or inaccurate biographical information or information which is not your own.</li>
            <li>Delete or revise any material posted by any other person or entity;</li>
            <li>Take any action that imposes an unreasonable or disproportionately large load on peeljobs Site's infrastructure;</li>
            <li>Use the Peeljobs Services for any unlawful purpose or any illegal activity, or post or submit any content, resume that is defamatory, libelous, implicitly or explicitly offensive, vulgar, obscene, threatening, abusive, hateful, racist, discriminatory, of a menacing character or likely to cause annoyance, inconvenience, embarrassment, anxiety or could cause harassment to any person or include any links to pornographic, indecent or sexually explicit material of any kind.</li>
          </ul>
          <p></p>
          <p><span class="adv-bold">Reservation of rights : </span>Any rights not expressly granted herein are reserved.</p>
          <p><span class="adv-bold">Revisions : </span>Peeljobs.com may revise these Terms at any time by posting an updated version to http://www.peeljobs.com. You should visit this page periodically to review the most current Agreement because it is binding on Users.</p>
          <p><span class="adv-bold">Questions : </span>For any questions, or legal concerns, please email Support at Peeljobs.com</p>
        </div>
        <!-- content ends here -->
        <!-- Tab panes -->
      </div>
    </div>
  </section>
  <!-- content of job page -->
</div>
{% block pj_info %}
  <div class="col-md-2 col-sm-8 col-xs-8 about">
  </div>
{% endblock %}
{% endblock %}
