{% extends "base.html" %}
{% load searchtags %}

{% block block_canonical %}
<link rel="canonical" href="https://peeljobs.com{{ request.path }}"/>
{% endblock %}

{% block block_title %}
  <title>FAQ - PeelJobs</title>
  <meta name="description" content="Frequently asked questions for candidates to find solutions for all their queries during job search."/>

{% endblock %}
{% block page_search_block %}
{% show_search_filter %}
{% endblock %}
{% block base %}
<div class="content_div">
  <!-- SEARCH PART -->
  <section id='content_pages' class="main_container">
    <div class="container">
      <div class="breadcrumb_section">
        <nav>
          <ol class="cd-breadcrumb triangle">
            <li>
              <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}" class="name">
                <span class="name" >Home</span>
              </a>
            </li>
            <li class="current">
              <span class='job_detail'>
                <span class="name">FAQ</span>
              </span>
            </li>
          </ol>
        </nav>
      </div>
      <div class="row mt content-page" style="margin-left:15px;margin-top: 5px;">
        <!-- content starts here -->
        <h3 class="title">FREQUENTLY ASKED QUESTIONS</h3>
        <div class="content">
          <p class="sub-head">CANDIDATE : </p>
          <p class="adv-head"><span class="que">Q : </span>About peeljobs.com ?<br>
            <span class="ans">A : </span>Peeljobs.com is a job portal site where you can find your suitable jobs easily and fastly.
          </p>
          <p class="adv-head"><span class="que">Q : </span>How can i search for jobs ?<br>
            <span class="ans">A : </span>whenever jobs are available, peeljobs.com posted that jobs on various social sites like facebook, linked IN, twitter etc. From there you can directly apply to jobs. No need to register, no need to pay any registration fee.
            .
          </p>
          <p class="adv-head"><span class="que">Q : </span>How to apply for jobs?<br>
            <span class="ans">A : </span>According to your requirement you can direct apply jobs from social sites. you can see similar jobs also, if you find relevant you can apply as you want.
          </p>
          <p class="adv-head"><span class="que">Q : </span>How do i know i am being selected/shortlisted for a job ?<br>
            <span class="ans">A : </span> If you are selected, you will get a notification via email or given contact number.
          </p>
          <p class="adv-head"><span class="que">Q : </span> How do i submit my resume  ?<br>
            <span class="ans">A : </span>When completing the details  of the online application form, you will be asked to attach your CV, so make sure you have it ready.
          </p>
          <p class="adv-head"><span class="que">Q : </span>Can i apply more than one job ?<br>
            <span class="ans">A : </span>If you meet qualifications and experience necessary for that position then you may apply for more than one vacancy by completing the application requirements.
            Everyday new and active jobs are posted.
          </p>
          <p class="adv-head"><span class="que">Q : </span>If i do not find a suitable vacancy, what can i do ?<br>
            <span class="ans">A : </span>If you do not find a suitable job, we encourage you to see job details every day.
          </p>
        </div>
        <!-- content ends here -->
        <!-- Tab panes -->
      </div>
    </div>
  </section>
  <!-- content of job page -->
</div>
{% block pj_info %}
  <div class="col-md-2 col-sm-8 col-xs-8 about">
  </div>
{% endblock %}
{% endblock %}
