{% load compress %}
{% load thumbnail %}
{% load page_tags %}
{% load static %}
{% load cache %}
<!DOCTYPE html>
<html>
   <head>
   <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-11720509-7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-11720509-7');
</script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="canonical" href="https://peeljobs.com{{ request.path }}"/>
      {% include "meta_data/home.html" %}
   {% compress css %}
      <link rel="stylesheet" type="text/css" href="{% static 'mobile/css/google-fonts.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'mobile/css/font-awesome.min.css' %}">

      <link rel="stylesheet" type="text/less" href="{% static 'mobile/css/icon.less' %}">
      <link rel="stylesheet" type="text/x-scss" href="{% static 'mobile/css/main_mobile.scss' %}">
          <link rel="stylesheet" type="text/less" href="{% static 'css/select2.min.css' %}">
              <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
   {% endcompress %}

   </head>
   <body class="blue_bg">
   
    <div class="overlay_div"></div>
{% block menu %}
    <section class='vertical_menu'>
      <ul>
        {% if request.user.is_authenticated %}
        <li class="user_pic">
          <a href="{% url 'my:profile' %}" >
          {% if request.user.profile_pic|length > 0 %}
            <img src='{{ request.user.profile_pic.url }}'>
          {% else %}
            <img src="//d2pt99vxm3n8bc.cloudfront.net/static/dummy.jpg">
          {% endif %}
            <span>{{ request.user.get_email_name }}  </span><span style="margin-left:50px">My Profile</span></a>
            <span class="log_out"><a href="/logout/"><i class="pj-logout i"></i>Sign Out</a></span>
            </li>
        {% endif %}
        {% if not request.user.is_authenticated %}
        <li class="register_btn"><a class="reg_pop_up"><i class="fa fa-user i" aria-hidden="true"></i>Register</a></li>
        {% endif %}
        <!-- <li><a class='active' href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li> -->
        <li><a href="{% url 'jobs:index' %}"><i class="fa fa-suitcase" aria-hidden="true"></i>Jobs</a></li>
        <li><a href="{% url 'internship_jobs' %}"><i class="fa fa-info" aria-hidden="true"></i>Internship</a></li>
        <li><a href="{% url 'fresher_jobs_by_skills' 'fresher' %}"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Fresher Jobs</a></li>
        <li><a href="{% url 'fresher_jobs_by_skills' 'walkin' %}"><i class="fa fa-black-tie" aria-hidden="true"></i>Walkins</a></li>
        <li><a href="{% url "jobs_by_location" 'jobs' %}"><i class="fa fa-map-marker" aria-hidden="true"></i>Jobs By Location</a></li>
        <li><a href="{% url "jobs_by_industry" %}"><i class="fa fa-industry" aria-hidden="true"></i>Jobs By Industry</a></li>
        <li><a href="{% url "jobs_by_skill" %}"><i class="fa fa-wrench" aria-hidden="true"></i>Jobs By Skills</a></li>
        <li ><a href="{% url "jobs_by_degree" %}"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Jobs By Degrees</a></li>
        <li><a href="{% url "companies" %}"><i class="fa fa-building-o" aria-hidden="true"></i>Companies</a></li>
        <li><a href="{% url "recruiters" %}"><i class="fa fa-user i"></i>Recruiters</a></li>

        <li><a href="{% url 'my:alerts_list'%}"><i class="fa fa-bell" aria-hidden="true"></i>Job Alerts</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'jobs:jobs_applied' %}"><i class="fa fa-check-square-o" aria-hidden="true"></i>Applied Jobs</a></li>
        {% endif %}
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'my:user_password_change' %}"><i class="fa fa-refresh" aria-hidden="true"></i>Change Password</a></li>
         <!--  <li><a href="/logout/"><i class="pj-logout i"></i>Sign Out</a></li> -->
        {% endif %}
      </ul>
      {% cache 604800 mobile_footer_links %}
      <div class="contact">
        <span>Follow Us On</span>
        <ul>
          <li><a class="btn btn-primary fb_footer social" target="_blank" href="https://facebook.com/peeljobs/"><i class='fa fa-facebook'></i></a></li>
          <li><a class="btn btn-primary git_footer social" target="_blank" href="https://www.linkedin.com/company/peeljobs?trk=top_nav_home"><i class='fa fa-linkedin'></i></a></li>
          <li><a class="btn btn-danger gplus_footer social" target="_blank" href="https://plus.google.com/b/105171863747311260917/105171863747311260917"><i class='fa fa-google-plus'></i></a></li>
          <li><a class="btn btn-info twit_footer social" target="_blank" href="https://twitter.com/PeelJobs"><i class='fa fa-twitter'></i></a></li>
        </ul>

      </div>
      <div class="site_links_copy_right">
        <ul>
        <li><a href="{% url "sitemap" %}">sitemap</a></li>
        <li><a href="{% url 'pages' 'faq' %}">FAQ</a></li>
        <li><a href="{% url 'pages' 'recruiter-faq' %}">Recruiter FAQ</a></li>
        <li><a href="{% url 'pages' 'privacy-policy' %}">Privacy Policy</a></li>
        <li><a href="{% url 'pages' 'terms-conditions' %}">Terms & Conditions</a></li>
        <li><a href="{% url 'pages' 'about-us' %}">About Peeljobs</a></li>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
        <li><a href="/blog/">Blog</a></li>
        <!--<li><a href="#">FAQ</a></li>
        <li><a href="#">Recruiter FAQ</a></li>-->
        </ul>
        <br clear="all">
        <div class="copy">copyright &copy; {% now "Y" %} PeelJobs.com</div>
      </div>

    {% endcache %}
    </section>
    {% endblock %}
      <section id='landing_page_wrap'>
         <div class="bg_div"></div>
         <section id='top_bar'>
      <div class='menu'>
        <span class='icon_each'><span class='pj-menu i'></span></span> 
      </div>
      <!-- logo div -->
      </div>
      <!--/ logo div -->
    </section>
         <div class="content_wrap">
            <!-- logo div -->
            <div class="logo">
               <span class='name'><a href='/'>PeelJobs</a></span>
               <span class='tag'>One step to change your career</span>
                {% if request.user.is_authenticated %}
                <a href="/logout/"><span class='logout'>
                   <span class='pj-logout'></span>
                </span></a>{% endif %}
            <!--/ logout button -->
            <div class="clearfix"></div>
            </div>
            <!--/ logo div -->
            <!-- input bar -->
            <div class="filter_jobs">
               <h2>Better matching jobs for your bright career</h2>
                <form autocomplete="off" onsubmit="return validateForm()" name="search-form" id="elastic-search-form" method = "POST" class="autocomplete-me">
               <select name="job_type" id="job_type" class="text_field">
                 <option value="">Job Type</option>
                 {% for job_type in job_types %}
                  <option value="{{ job_type.0 }}" >{{ job_type.1 }}</option>
                  {% endfor %}
                </select>
                <input type="text" class="text_field" placeholder='Enter Any Locations, States' name="location" id="job_location"/>
                <input type="text" class="text_field" placeholder='Enter Any Skills, Qualifications' id ="q-field" name="q"/>
                <!-- <input type="hidden" id ="search_slug" name="search_slug"/> -->
               <button class='search_button' type="submit">
               <span class='pj-magnifier i'>
               </span> Search</button>
               </form>
               <div class="clearfix"></div>
            </div>
            <!--/ input bar -->
          {% if request.user.is_authenticated %}
          {% if request.user.user_type == 'JS' %}
             <div class="login_block  text-center">
              <div class="text-center head_profile">Your Profile Completeness </div>
              <div class="count" id='circle'>
                <span class="count_value"><small>{{ request.user.profile_completion_percentage }}%</small></span>
                <a href="/profile/" target="_blank">Update Your Profile</a>
              </div>
            </div>
            {% endif %}
            {% endif %}
             <!-- user login -->
            <div class="user_login"> 
              {% if not request.user.is_authenticated %}
              {% cache 604800 mobile_social_links %}
               <div class='social_wrap'>
                  <h2>Job Seeker Login</h2>
                  <ul>
                     <li><a href="{% url 'social:facebook_login' %}">
                        <span class='icon_wrap fb'>
                        <span class='pj-facebook i'></span><span class='name'>facebook</span>
                        </span></a>
                     </li>
                     <li><a href="{% url 'social:github_login' %}">
                        <span class='icon_wrap git'>
                        <span class='pj-github i'></span><span class='name'>Github</span>
                        </span>
                     </li>
                     <li><a href="{% url 'social:linkedin_login' %}">
                        <span class='icon_wrap in'>
                        <span class='pj-linkedin i'></span><span class='name'>Linkedin</span>
                        </span></a>
                     </li>
                     <li>
                      <a class="customGPlusSignIn" href='{% url 'social:google_login' %}' style="border:none">
                        <span class="icon" style="background-position:6px 50%; height:28px;"></span>
                        <span class="buttonText">Google</span>
                      </a>
                     </li>
                  </ul>
               </div>
               <div class="index_login"><div class="or_div">Or Login With</div></div>
               <div class="clearfix"></div>
                 <!-- recruiter login -->
                 <div class="index_login">
                  <a>
                    <span class='recruiter_login login_reg_pop'>
                      <span class='fa fa-user i' aria-hidden='true'></span>
                      JobSeeker
                     </span>
                  </a>
                 <a href="{% url 'recruiter:index'%}"><span class='recruiter_login'>
                   <span class='pj-male226 i'></span>
                   Recruiter Login
                 </span></a>
                 <div class="clearfix"></div>
              </div>
              {% endcache %}
              {% endif %}
               <!--/ recruiter login -->
            </div>
            <!--/ user login -->
         </div>
      </section>
       <!-- pop up -->
<div id="block_question" style="display:none;"></div>

 <!-- pop up -->
    <section class='login_pop_up'>
      <span class='pj-close close_pop_up'></span>
      <!--Sample Login Register starts-->
      <div class="modal fade login animated" id="login_register" data-keyboard="false"  data-backdrop="static">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row marl" id="login_div" style="display:block">
               <div class="form_panel ">
                <div class="box loginBox" style="display: block;">
                  <h5 class="social_heading" id="modal-header">Already a Member? Login</h5>
                  <div class="form">
                      <form id="ApplicantForm" name="ApplicantForm" class="ApplicantForm" method="POST">
                    <input type="email" class="form-control" id="userlogin_email" placeholder="Enter Email ID" name="email">
                    <input type="hidden" name="register_type" id='user_register_type' value="login">
                    <input type="password" class="form-control" id="userlogin_password" placeholder="Enter Password" 
                    name="password">
                    <span id="userlogin_response_message"></span>
                  <button type="submit" class="btn btn-default login_form_button" id="button_value">Login Here</button>
                </form>
                  </div>
                  <div class="forgot_pass" id="forgot_pass"><a>Forgot Password?</a></div>
                  <div class="create_acc" id="sign_in_li" style="display:none">Already a Member ? <a >Login Now</a></div>
                  <div class="create_acc" id="sign_up_li">Not a Member ? <a >Register Now</a></div>
                </div>

                  <div class="social_panel ">
                <div class="icons_list">
                  <div class="or"><span>Or</span></div>
                  <h5 class="social_heading">Login Using</h5> 
                  <ul>
                    <li class="facebook_li"><a href="{% url 'social:facebook_login' %}" target="_blank"><i class='fa fa-facebook fb'></i><span><span>FaceBook</span></span></a></li>
                    <li class="linkedin_li"><a href="{% url 'social:linkedin_login' %}" target="_blank"><i class='fa fa-linkedin in'></i><span><span>LinkedIn</span></span></a></li>
                    <li class="github_li"><a href="{% url 'social:github_login' %}" target="_blank"><i class='fa fa-github git'></i><span><span>GitHub</span></span></a></li>
                    <li class="gplus_li" style="top:5px">
                      <a class="customGPlusSignIn" href='{% url 'social:google_login' %}'>
                        <span class="icon"></span>
                        <span class="buttonText">Google</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
                </div>
            </div>

          <div class="row marl" id="register_div" style="display:none">
            <div class="form_panel ">
              <div class="box loginBox" style="display: block;">
                  <h5 class="social_heading" id="modal-header">Not a Member? Register</h5>
                <div class="form">
                  <form id="ApplicantFormRegister" name="ApplicantFormRegister" class="ApplicantForm" method="POST" enctype="multipart/form-data">
                    <input type="email" class="form-control" id="user_register_email" placeholder="Enter valid email address" name="email">
                    <input type="hidden" name="register_type" id='user_register_type' value="register">
                    <input type="password" class="form-control" id="user_register_password" placeholder="Enter Password minimum of 7 characters"  name="password">
                     <input type="number" class="form-control" id="user_register_mobile" placeholder="Mobile Number" name="mobile">
                {% get_all_cities as cities %}
                <span class="current">
                <select class="form-control select2" name="current_city" id="user_register_current_city">
                  <option value="">Select A Location</option>
                  {% for city in cities%}
                    {% if not 'India' in city.name %}
                      <option value="{{ city.id }}">{{ city.name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <span class="city_err"></span>
                </span>
                <input type="text" class="form-control" id="user_register_other_location" placeholder="Enter your Location" name="other_location" style="display:none">
                  <input type="checkbox" name="other_loc" id="other_loc"><span class="help_text">Other Location</span>
                {% get_all_skills as skills %}
                 <select class="form-control select2" name="technical_skills" id="user_register_technical_skills" multiple>
                    {% for skill in skills %}
                        <option value="{{ skill.id }}">{{ skill.name }}</option>
                    {% endfor %}
                </select>
                <span class="reg_skill_err"></span>
                    <div class="row">
                    <div  class="exp_year">
                      <select class="form-control" name="year" id="user_register_year">
                      {% get_years as years %}
                        <option value=''>Exp: Years</option>
                      {% for i in years %}
                        <option value='{{i.0}}'>{{i.1}}</option>
                      {% endfor %}
                  </select>
                    </div>
                    <div  class="exp_year">
                      <select class="form-control" name="month" id="user_register_month">
                    {% get_months as months %}
                      <option value=''>Exp: Months</option>
                  {% for k in months %}
                      <option value='{{k.0}}'>{{k.1}}</option>
                    {% endfor %}
                  </select>
                    </div>
                    </div>
                    <!-- <button type="button" class="bt btn-default upload_file_btn" id="upload_resume_id">Upload Resume</button> -->
                    <div style="color:#9e9ea1">
                    <input type="file" name="resume" id="user_register_resume" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf, application/rtf, application/x-rtf, text/richtext, application/msword, application/vnd.oasis.opendocument.text, application/x-vnd.oasis.opendocument.text, .docx, .odt">
                    <p class="help_text">doc, docx, rtf, pdf, odt - 300kB max</p></div>
                    <span id="user_register_response_message"></span>
                    <div>
                      <input type="checkbox" name="email_notifications"><span class="help_text" style="font-size:10px;color:#27272c">I agree to receive notifications from PeelJobs</span>
                    </div>
                    <button type="submit" class="btn btn-default login_form_button" id="button_value">Register</button>
                  </form>
                </div>
                <div class="create_acc" id="sign_in_but">
                  Already a Member ? <a >Login Now</a>
                </div>
              </div>
            </div>
          </div>
          </div>

        </div>
      </div>
      </div>
      <!--Sample Login Register ends -->
    </section>
    <!--/ pop up -->

        <div class="modal_loading"><!-- Place at bottom of page --></div>

<!--Sample Login Register ends -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

      {% compress js %}
       <script src="{% static 'mobile/js/circle-progress.js' %}" type="text/javascript"></script>
        <script type="text/javascript" src='{% static 'js/jquery.form.js' %}'></script>
       <script type="text/javascript" src='{% static 'js/jquery.blockUI.js' %}'></script>
      <script type="text/javascript" src='{% static 'mobile/js/main.js' %}'></script>
      <script type="text/javascript" src='{% static 'mobile/js/base.js' %}'></script>
      {% endcompress %}

      {% block 'extra_js' %}
    {% endblock %}
{% block custom_javascript %}
    <script type="text/javascript">
       $('#circle').circleProgress({
          value: "{{ request.user.profile_completion_percentage }}"/100,
          size: 100,
          startAngle: -Math.PI / 2,
          fill: {gradient: [['#0681c4', .5], ['#4ac5f8', .5]], gradientAngle: Math.PI / 4}
            // value: 0.5,
            // size: 100,
            // fill: {
            //   color: "#62bb46",
            //   background: "white"
            // }
        });

$("select#user_register_technical_skills").select2({placeholder: "Choose required skillset", maximumSelectionSize: 6})
$("select#user_register_current_city").select2({placeholder: "Choose current location"})

{% if request.GET.referer == 'gmail' and not request.user.is_authenticated %}
    $('p.hint').remove();
    $('.overlay_div').show();
    $('.login_pop_up').show('fast');
  {% endif %}
{% if show_pop_up and not request.user.is_authenticated %}
    reset_menu();
    $('#ApplicantForm').trigger("reset");
    $("#sign_up_li").click()
    $('p.hint').remove()
    $('.overlay_div').show();
    $('.login_pop_up').show('fast');
{% endif %}

$('body').click(function(e){
    if($(e.target).is('#job_location')){
        e.preventDefault()
        $(".ac-skillresults").hide()
        return
    }
    if($(e.target).is('#q-field')){
        e.preventDefault()
        $(".ac-cityresults").hide()
        return
    }
      $(".ac-cityresults").hide()
      $(".ac-skillresults").hide()
})
    </script>
{% endblock custom_javascript %}
</body>
</html>
