{% extends 'mobile/base.html'%}
{% load thumbnail %}
{% load page_tags %}
{% block block_title %}
  <title>Sitemap {{current_page}} - PeelJobs</title>

  <meta name="description" content="Peeljobs sitemap {{current_page}} to browse all the jobs by location, skills, industry etc."/>

{% endblock %}

{% block stage %}
<div class="static_pages_from_wrap">
  <!-- SEARCH PART -->
  <section id='content_wrap_list'>
    <div class="container">
      <div class="row mt content-page">
        <!-- content starts here -->
          <div class="col-md-12 col-sm-12 sitemap">
        <ul>
            {% get_all_skills as skills %}
            {% get_locations as locations %}
            {% if current_page == 1  %}
            <li><a href='https://peeljobs.com/'>Home</a></li>
            <li><a href="{% url 'pages' 'about-us' %}">About</a></li>
            <li><a href="{% url 'pages' 'terms-conditions' %}">Terms & Conditions</a></li>
            <li><a href="{% url 'pages' 'privacy-policy' %}">Privacy Policy</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
            <li><a href="{% url 'pages' 'recruiter-faq' %}">Recruiter FAQ</a></li>
            <li><a href="{% url 'pages' 'faq' %}">Job Seeker FAQ</a></li>
            <li><a href="{% url 'jobs:index' %}">View All Jobs</a></li>

            <li class="sitemap-parent"><a href="{% url 'jobs_by_location' 'jobs' %}">Locations</a></li>
              {% for location in locations %}
               <li class="sitemap-child"><a href="{% url 'job_locations' location.slug %}">Jobs in {{ location.name }}</a></li>
            {% endfor %}
          {% elif current_page == 2  %}
          <li class="sitemap-parent"><a href="{% url 'jobs_by_skill' %}">Skills</a></li>
              {% for skill in skills %}
               <li class="sitemap-child"><a href="{% url 'job_skills' skill.slug %}">Jobs For {{ skill.name }}</a></li>
            {% endfor %}
          {% elif current_page == 3  %}
          <li class="sitemap-parent"><a>Jobs by Educations</a></li>
            {% for edu in educations %}
               <li class="sitemap-child"><a href="{% url 'job_skills' edu.slug %}">{{ edu.name }} Jobs</a></li>
            {% endfor %}
          <li class="sitemap-parent"><a href="">State Wise Jobs</a></li>
            {% for state in states %}
              <li class="sitemap-child"><a href="{% url 'job_locations' state.slug %}">Jobs in {{ state.name }}</a></li>
            {% endfor %}
            {% for state in states %}
              <li class="sitemap-child"><a href="{% url 'location_walkin_jobs' state.slug %}">Walkins in {{ state.name }}</a></li>
            {% endfor %}
            {% for state in states %}
              <li class="sitemap-child"><a href="{% url 'location_fresher_jobs' state.slug %}">Fresher Jobs in {{ state.name }}</a></li>
            {% endfor %}
          {% elif current_page == 4  %}
          <li class="sitemap-parent"><a>Walkins by Skills and Locations</a></li>
          {% for city in locations %}
                {% for skill in skills %}
                 <li class="sitemap-child"><a href="{% url 'custom_walkins' skill.slug city.slug %}">{{ skill.name }} Walk-ins in {{ city.name }}</a></li>
              {% endfor %}
            {% endfor %}
          {% elif current_page == 5  %}
          <li class="sitemap-parent"><a href="{% url 'jobs_by_location' 'fresher-jobs' %}">Fresher Jobs by Locations</a></li>
            {% for location in locations %}
               <li class="sitemap-child"><a href="{% url 'location_fresher_jobs' location.slug %}">Fresher Jobs in {{ location.name }}</a></li>
            {% endfor %}

          {% elif current_page == 6  %}
          <li class="sitemap-parent"><a href="{% url 'jobs_by_industry' %}">Industry</a></li>
            {% get_all_industries as industries %}
              {% for industry in industries %}
               <li class="sitemap-child"><a href="{% url 'job_industries' industry.slug %}">Jobs For {{ industry.name }}</a></li>
            {% endfor %}
          {% elif current_page == 7  %}
            <li class="sitemap-parent"><a href="{% url 'internship_jobs' %}">Internships</a></li>
            {%get_internships as all_internship_jobs%}
              {% for city in all_internship_jobs %}
                <li class="sitemap-child"><a href="{% url 'city_internship_jobs' city.slug  %}" title="{{ job.title}}">Internship in {{ city.name }}</a></li>
              {% endfor %}
          {% else %}
            {% if jobposts|get_object_list_type:"full-time" %}
               <li class="sitemap-parent"><a href="{% url 'full_time_jobs' %}">Full Time Jobs</a></li>
            {% endif %}
            {% for post in jobposts %}
              {% if post|get_job_type == 'full-time' %}
                 <li class="sitemap-child"><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></li>
              {% endif %}
            {% endfor %}


            {% if jobposts|get_object_list_type:"internship" %}
              <li class="sitemap-parent"><a href="{% url 'internship_jobs' %}">Internship Jobs</a></li>
            {% endif %}
            {% for post in jobposts %}
              {% if post|get_job_type == 'internship' %}
                 <li class="sitemap-child"><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></li>
              {% endif %}
            {% endfor %}

            {% if jobposts|get_object_list_type:"walk-in" %}
               <li class="sitemap-parent"><a href="{% url 'walkin_jobs' %}">Walk-in's</a></li>
            {% endif %}
            {% for post in jobposts %}
              {% if post|get_job_type == 'walk-in' %}
                 <li class="sitemap-child"><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></li>
              {% endif %}
            {% endfor %}

            {% if jobposts|get_object_list_type:"government" %}
               <li class="sitemap-parent"><a href="{% url 'government_jobs' %}">Government Jobs</a></li>
            {% endif %}
            {% for post in jobposts %}
              {% if post|get_job_type == 'government' %}
                 <li class="sitemap-child"><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></li>
              {% endif %}
            {% endfor %}
          {% endif %}
            <br>
        {% get_page current_page last_page|add:'6' as pages %}
        {% if current_page > 6 %}
                  <li><a href="/sitemap/"> First Site map</a></li>
        {% endif %}
        {% for s in pages %}
          {% if current_page == s %}
          {% else %}
          <li><a href="/sitemap/{{ s }}/">Site map{{s}}</a></li>
          {% endif %}
        {% endfor %}
        {% if current_page <  last_page|add:'-6' %}
          <li><a href="/sitemap/{{last_page|add:'6'}}/"> Last Site map</a></li>
        {% endif %}
        </ul>
      </div>
      </div>
    </div>
  </section>
  <!-- content of job page -->
</div>
{% endblock %}
{% block 'extra_js' %}
<script type="text/javascript">
$(document).ready(function(){
$('ul li').click(function(e){
  e.preventDefault();
  window.location = $(this).find('a').attr('href')
});
});
</script>
{% endblock %}