{% extends 'recruiter/index.html' %}
{% block 'stage' %}
    <div class="content_wrap">
        <div class="change_password">
            <h3><i class='fa fa-refresh'></i><span>Change</span> Password</h3>
            <div class="category">
                <div class="content_job_post">
                    <form id="changepasswordform" name="changepasswordform" method="post">
                        <div class="form_div">
                            <div class="input_element area_element">
                                <label>Current Password</label>
                                <input type="password" class="input full_wid" name="oldpassword" id="oldpassword">
                            </div>
                            <div class="input_element area_element">
                                <label>New Password</label>
                                <input type="password" class="input full_wid" name="newpassword" id="newpassword">
                            </div>
                            <div class="input_element area_element">
                                <label>Re-enter Password</label>
                                <input type="password" class="input full_wid" name="retypepassword" id="retypepassword">
                            </div>
                            <div class="clearfix"></div>
                            <div class="button_row">
                                <button type="submit" class="button change"><i class='fa fa-refresh'></i>Change</button>
                                <button type="button" class="button cancel"><i class='fa fa-times'></i>Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block mobile_menu %}
    <div class="vertical_menu">
        <ul>
            <li>
                <a class="post-new" href="#">Post a job</a>
            </li>
            <li>
                <a href="{% url 'recruiter:list' %}">Job List</a>
            </li>
            <li>
                <a href="{% url 'tickets:index' %}">Support</a>
            </li>
            <li>
                <a href="{% url 'recruiter:profile' %}">Profile</a>
            </li>
            <li class='active'>
                <a href="{% url 'recruiter:change_password' %}">Change Password</a>
                <input type="hidden" name="is_mobile_verifed" id="is_mobile_verifed"
                       value="{{ request.user.mobile_verified }}">
            </li>
            <li>
                <a href="{% url 'recruiter:getout' %}">Logout</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block 'extra_js' %}
    <script type="text/javascript">
        $(".cancel").click(function (e) {
            e.preventDefault();
            window.location = "{% url 'recruiter:list' %}";
        });
        $("form#changepasswordform").submit(function (e) {
            e.preventDefault();
            {% if request.user.is_agency_recruiter %}
                href = "{% url 'agency:change_password' %}"
            {% else %}
                href = "{% url 'recruiter:change_password' %}"
            {% endif %}
            $.post('.', $("form#changepasswordform").serialize(), function (data) {
                if (data.error) {
                    if (data.message) {
                        open_dialog(data.message, 'Error!')
                    }
                    $('div.error').remove();
                    for (var key in data.response) {
                        $('#' + key).after('<div class="error">' + data.response[key] + '</div>');
                    }
                } else {
                    open_dialog_with_url(data.message, 'Info!', '/recruiter/')
                }
            }, 'json');
        });

    </script>
{% endblock %}