<html>
<body>
<div>
<div>
Step 1 : Click on Recruiter Login in www.peeljobs.com to create an account as recruiter with registered email id and password.
</div>
<div>
Step2 : Verify your Mobile Number in the following path(Settings-->Profile-->Edit Profile)
</div>
<div>
Step 3 : Job portal for applicants ( www.peeljobs.com ). They can apply/view jobs by connecting with their social API’s like facebook, linkedin, twitter, google+
</div>
<div>
Step 4 : You can connect with social API’s by clicking on it to post your jobs.
</div>
<div>
Step 5 : Create Job Post by clicking on POST A NEW JOB button.
</div>
<div>
Step 6 : While doing job creation user can able to view their facebook groups if they already connect with the facebook. (As discussed in step3)
</div>
<div>
Step 7 : User can post their jobs in facebook profile page & user groups by selecting on correspondent check box.
</div>
<div>
Step 8 : By clicking on submit button, new Job Post will be created & posted on their facebook profile page & selected facebook groups.
</div>
<div>
Step 9 : If the user already posted a job in one of his/her groups and again if they don’t want to show up their jobs in that group just the user can uncheck their group in job post edit page it’ll automatically updated.
</div>
<div>
Step 10 : After completion of job posting if the user did any modifications in the job it’ll also automatically updated in their respective facebook pages.
</div>
<div>
Step 11 : By Clcking on job in job list page, User can view job post details.Here view page can able to view their edit the job, view the applied users list.
</div>
<div>
Step 12 : If an applicant view posted jobs in facebook pages, automatically the views count will be added for that job in jobs list page
</div>
<div>
Step 13 : If the user have any doubts/issues they can raise their tickets on support.
</div>
</div>


<div>
<h3>Benefits by using our site</h3>
<div>
1.In peeljobs at a time you can post your jobs to several social networking sites like facebook, twitter, linkedin.
</div>
<div>
2.For each job post you got views count. That means if any applicant viewed your job in any of the social networking site automatically the count will be updated.
</div>
<div>
3.If you want to create a new job you don’t need to create new job, you can copy from the existed job which matches to your requirement if there are any changes you can update it.
</div>
<div>
4.While doing job creation an alert box will be displayed with a text field there you can type your own message/title for that job. So, that can be populated in your social networking sites.
</div>
<div>
5.If you don’t want that job you can deactivate it and certain time again if you want to post that job you can activate it.
</div>
<div>
6.If you have any queries you can directly raise a ticket in support from your account.
</div>
</div>

<a href="{% url 'recruiter:verify_mobile' %}">Continue</a>
</body>
<!-- Google Code for Recruiter Registration Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 967397261;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "PdUlCLufg2EQjZ-lzQM";
var google_remarketing_only = false;
/* ]]> */
</script>
{% comment %} <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"> {% endcomment %}
</script>
<noscript>
<div style="display:inline;">
{% comment %} <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/967397261/?label=PdUlCLufg2EQjZ-lzQM&amp;guid=ON&amp;script=0"/> {% endcomment %}
</div>
</noscript>
