{% extends "mobile/base.html" %}
{% block block_canonical %}
    <link rel="canonical" href="https://peeljobs.com{{ request.path }}"/>
{% endblock %}

{% block block_title %}
    <title>Free Job Posting - Job Vacancies - Job search in India - PeelJobs</title>

    <meta name="description"
          content="PeelJobs - Free Job posting. Search & Apply for Full Time, Internship,  Walk In Jobs."/>

    <meta name="Keywords"
          content="job, jobs, tech jobs, it jobs, job sites, job vacancies, find jobs, search jobs, resume tips, job search engines, careers, technology jobs, career search, job descriptions, employment, work, job listings, peeljobs.com"/>
{% endblock %}
{% block stage %}

    <!-- PROFILE edit wrap -->
    <div class='profile_edit_wrap'>
        <div class='overlay_div_profile'></div>
        {% include 'mobile/abc.html' %}

    </div>
    <!--/ PROFILE edit wrap -->
    <!-- form -->
    <form name="languageform" id="languageform" method="post">
        <div class="profile_edit_from_wrap">
            <!-- input group -->
            <div class='form_group'>
                <div class='label'>Language Name</div>
                <div class='input_wrap'>
                    <select class="input" name="language" id="language">
                        <option value="">Select A Language</option>
                        {% for language in languages %}
                            <option value="{{ language.id }}" {% if language.id in request.user.language.all %}
                                    selected {% endif %}>{{ language.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!--/ input group -->
            <!-- input group -->
            <div class='form_group'>
                <div class='label'>Read</div>
                <div class='input_wrap'>
                    <input type="checkbox" name="read" id="read">
                </div>
            </div>
            <!--/ input group -->
            <!-- input group -->
            <div class='form_group'>
                <div class='label'>Write</div>
                <div class='input_wrap'>
                    <input type="checkbox" name="write" id="write">
                </div>
            </div>
            <!--/ input group -->
            <!-- input group -->
            <div class='form_group'>
                <div class='label'>Speak</div>
                <div class='input_wrap'>
                    <input type="checkbox" name="speak" id="speak">
                </div>
            </div>
            <!--/ input group -->
            <!-- button row -->
            <div class="button_row">
                <button type="submit" class="button submit"><span class='pj-reset i'></span>Submit</button>
                <button type="button" class='button submit add_another'>Save & Add Other</button>

                <button type="button" class="button reset_filter cancelbutton"><span class='pj-checkbox i'></span>
                Cancel
                </button>
            </div>
            <!--/ button row -->
        </div>
    </form>
    <!--/ form -->
{% endblock %}
{% block 'extra_js' %}

    <script type="text/javascript">
        $(".cancelbutton").click(function (e) {
            window.location = "{% url 'my:profile' %}";
        });

        $("form#languageform").submit(function (e) {
            e.preventDefault();
            $.post(".", $("form#languageform").serialize(), function (data) {
                if (data.error) {
                    if (data.response_message) {
                        open_dialog(data.response_message, 'Error!')
                    }
                    else{
                        open_dialog("Some Content Missing", 'Warning!')
                    $('p.hint').remove();
                    $('.add_another').removeClass('save_other')

                    for (var key in data.response) {
                        $('#' + key).after('<p class="hint">' + data.response[key] + '</p>');
                    }
                }
                } else {
                  if($('.add_another').hasClass('save_other')){
                    open_dialog_with_url('Profile Updated Successfully', 'Success!', ".")
                  }
                  else{
                        open_dialog_with_url('Profile Updated Successfully', 'Success!', "{% url 'my:profile' %}")
                    }
                }
            }, 'json');
        });

    </script>

{% endblock %}
