{% extends 'recruiter/index.html' %}
{% load tz %}

{% block 'stage' %}
    <style>
        .show-tickets {
            display: none;
        }
    </style>
    <!-- content -->
    <div class="content_wrap">
        <div class='ticket_list'>
            <!-- tabs -->
            <div class="tab_row">
                <a href="#" id="open" class="tickets"><span class='tab_button active'>
        Open Tickets
     </span></a>
                <a href="#" id="closed" class="tickets"><span class='tab_button'>
        Closed Tickets
     </span></a>
                <a href="{% url 'tickets:new_ticket' %}"><span class='tab_button raise_ticket_button'>
      <i class='fa fa-ticket'></i>Raise a ticket
     </span></a>
            </div>
            <!--/ tabs -->
            <div class="display open">
                <!-- content_tickets -->
                <div class="content_tickets">
                    {% if request.user.get_open_tickets %}
                        {% for ticket in request.user.get_open_tickets %}
                            <!-- ticket -->
                            <div class="ticket_wrap">
                                <div class="ticket">
                                    <div class="ticket_content">
                                        <div class="heading">
                                            {{ ticket.title }}
                                        </div>
                                        <!-- detail_each -->
                                        <div class="detail_each">
                                            <i class='fa fa-user'></i>
                                            <span class='name'>{{ ticket.user.email }}</span>
                                        </div>
                                        <!--/ detail_each -->
                                        <!-- detail_each -->
                                        <div class="detail_each">
                                            <i class='fa fa-calendar'></i>
                                            <span class='name'>{{ ticket.created_on|timezone:"Asia/Calcutta" }}</span>
                                        </div>
                                        <!--/ detail_each -->
                                        <!-- detail_each -->
                                        <div class="detail_each">
                                            <label>Type</label>
                                            <span class='name'>{{ ticket.ticket_type }}</span>
                                        </div>
                                        <!--/ detail_each -->
                                        <!-- detail_each -->
                                        <div class="detail_each">
                                            <label>Status</label>
                                            <span class='name'>{{ ticket.status }}</span>
                                        </div>
                                        <!--/ detail_each -->
                                    </div>
                                    <div class="actions">
                                        <a href="{% url 'tickets:view_ticket' ticket.id %}">
              <span class='action_each view'>
                <i class='fa fa-eye'></i>
                <span class='name'>View</span>
              </span>
                                        </a>
                                        <a href="{% url 'tickets:edit_ticket' ticket.id %}">
              <span class='action_each edit'>
                <i class='fa fa-pencil-square-o'></i>
                <span class='name'>Edit</span>
              </span>
                                        </a>
                                        <a href="#" id="{{ ticket.id }}" class="status">
              <span class='action_each status_close' id="Closed">
                <i class='fa fa-times'></i>
                <span class='name'>Close</span>
              </span>
                                        </a>
                                        <a href="#" class="ticket-close" id="{{ ticket.id }}">
              <span class='action_each delete'>
                <i class='fa fa-trash'></i>
                <span class='name'>Delete</span>
              </span>
                                        </a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!--/ ticket -->
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true"><i class='fa fa-times'></i></span></button>
                            <h4>There are no ticktes now! If you want any support/report any bug
                                <a href="{% url 'tickets:new_ticket' %}">
                                    <button type="button" class="btn btn-default"><strong>Raise ticket</strong></button>
                                </a>
                            </h4>
                            </p>
                        </div>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
                <!--/ content_tickets -->
            </div>
            <div class="display closed show-tickets">
                <!-- content_tickets -->
                <div class="content_tickets">
                    {% if request.user.get_closed_tickets %}
                        {% for ticket in request.user.get_closed_tickets %}
                            <!-- ticket -->
                            <div class="ticket_wrap">
                                <div class="ticket">
                                    <div class="ticket_content">
                                        <div class="heading">
                                            {{ ticket.title }}
                                        </div>
                                        <!-- detail_each -->
                                        <div class="detail_each">
                                            <i class='fa fa-user'></i>
                                            <span class='name'>{{ ticket.user.email }}</span>
                                        </div>
                                        <!--/ detail_each -->
                                        <!-- detail_each -->
                                        <div class="detail_each">
                                            <i class='fa fa-calendar'></i>
                                            <span class='name'>{{ ticket.created_on|timezone:"Asia/Calcutta" }}</span>
                                        </div>
                                        <!--/ detail_each -->
                                        <!-- detail_each -->
                                        <div class="detail_each">
                                            <label>Type</label>
                                            <span class='name'>{{ ticket.ticket_type }}</span>
                                        </div>
                                        <!--/ detail_each -->
                                        <!-- detail_each -->
                                        <div class="detail_each">
                                            <label>Status</label>
                                            <span class='name'>{{ ticket.status }}</span>
                                        </div>
                                        <!--/ detail_each -->
                                    </div>
                                    <div class="actions">
                                        <a href="{% url 'tickets:view_ticket' ticket.id %}">
              <span class='action_each view'>
                <i class='fa fa-eye'></i>
                <span class='name'>View</span>
              </span>
                                        </a>
                                        <a href="{% url 'tickets:edit_ticket' ticket.id %}">
              <span class='action_each edit'>
                <i class='fa fa-pencil-square-o'></i>
                <span class='name'>Edit</span>
              </span>
                                        </a>
                                        <a href="#" id="{{ ticket.id }}" class="status">
              <span class='action_each status_open' id="Open">
                <i class='fa fa-history'></i>
                <span class='name'>Re-open</span>
              </span>
                                        </a>
                                        <a href="#" class='ticket-close' id="{{ ticket.id }}">
              <span class='action_each delete'>
                <i class='fa fa-trash'></i>
                <span class='name'>Delete</span>
              </span>
                                        </a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!--/ ticket -->

                        {% endfor %}
                    {% else %}
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true"><i class='fa fa-times'></i></span></button>
                            <h4>There are no closed ticktes now!!
                            </h4>
                            </p>
                        </div>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
                <!--/ content_tickets -->
            </div>
        </div>
    </div>
    <!--/ content -->

{% endblock %}
{% block 'extra_js' %}
    <!-- TICKETS -->
    <script type="text/javascript">
        $('.nav_btn').click(function (e) {
            $('#ticket_wrap').children('section').removeClass('active_ticket');
            var myId = $(this).attr('panId');
            $('#' + myId).addClass('active_ticket');
        });
        $('.other_attachment').click(function (e) {
            attachments_count = $('.attachments').length + 1
            $('.file_attachments').after('<div class="form-group"><input type="file" class="form-control attachments" placeholder="Ticket Title" name="attachment_' + attachments_count + '" id="attachment_' + attachments_count + '"></div>')
        });
        $(".status").click(function (e) {
            id = $(this).attr('id')
            value = $(this).children('span').attr('id')
            $.post('/tickets/status/' + id + '/', {'ticket_status': value, 'mode': 'status'}, function (data) {
                if (data.error == false) {
                    open_dialog_with_url(data.response, 'Info!', "/tickets/")
                } else {
                    open_dialog(data.resposne, 'Info!')
                }
            }, 'json');
        });

        $('.ticket-close').click(function (e) {
            e.preventDefault();
            url = $(this).attr('id') + '/'
            $('#block_question').text('Do you want to delete Ticket?')
            $('#block_question').dialog({
                modal: true,
                draggable: false,
                title: "Info!!",
                buttons: [
                    {
                        text: "Yes",
                        click: function () {
                            $(this).dialog("close");
                            $.post("/tickets/ticket/delete/" + url, {}, function (data) {
                                if (data.error == false) {
                                    open_dialog_with_url(data.response, 'Info!', "/tickets/")
                                } else {
                                    open_dialog(data.response, 'Info!')
                                }
                            }, 'json');
                        }
                    },
                    {
                        text: "No",
                        click: function () {
                            $(this).dialog("close");
                            return;
                        }
                    }
                ]
            });
        });
        $('form#ticketform').ajaxForm({
            type: 'POST',
            dataType: 'json',
            data: $('#ticketform').serialize(),
            success: function (data) {
                if (data.error == false) {
                    open_dialog_with_url(data.response, 'Info!', "/tickets/")
                } else {
                    $('div.error').remove();
                    for (var key in data.response) {
                        $('#' + key).after('<div class="error">' + data.response[key] + '</div>');
                    }
                }
            }
        });
        $('.tickets').click(function (e) {
            e.preventDefault();
            $('.tab_button').removeClass('active')
            $(this).children('span').addClass('active')
            id = $(this).attr('id')
            $('.display').removeClass('show-tickets')
            $('.display').addClass('show-tickets')
            $('div.' + id).removeClass('show-tickets')
        });
    </script>
    <!--/ TICKETS -->

{% endblock %}

