{% extends 'mobile/base.html'%}
{% load page_tags %}
{% block block_title %}
  <title>{% if meta_title %}{{ meta_title|safe }}{% else %}404 - Page Not Found - PeelJobs{% endif %}</title>
    <meta name="description" content="{% if meta_description %}{{ meta_description|safe }}{% else %}404 - Page Not Found - Peeljobs{% endif %}"/>
{% endblock %}
  {% if data_empty %}
  {% block robot_tag %}
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
  {% endblock %}
  {% endif %}
{% block stage %}
    <section class="err_container">
    <div class="page-404">
      <h1>{% if message_type %}{{message_type}}{% else %}404{% endif %}<span> {% if message %}{{ message }}{% else %}Sorry, the page you requested can not be found{% endif %}</span></h1>
      <h5>Did you enter any words incorrectly?</h5>
      <h4>{% if reason %}{{ reason }}{% else %}The URL may be misspelled or the page you're looking for is no longer available.{% endif %}</h4>
      {% if job_search %}
        <h5>You can browse jobs by <a href="{% url 'jobs_by_skill' %}">Skills</a>, <a href="{% url 'jobs_by_location' 'jobs' %}">Locations</a>, <a href="{% url 'jobs_by_industry' %}">Industries</a> and <a href="{% url 'jobs_by_degree' %}">Qualifications</a></h5>
      {% endif %}
      <a class='home' href="{% url 'my:job_alert' %}">Create a Job Alert</a>
    </div>
  </section>
   <section class="row" id='job_list' style="padding:0px 5px">
   <a href='{% url 'jobs:index'%}' class='suggested_head'>See Latest Jobs</a>
   {% get_latest_jobposts as job_list %}
    {% include 'mobile/job_list.html' with job_list=job_list %}
    </section>
{% endblock %}