{% extends 'mobile/base.html'%}
{% load thumbnail %}
{% load page_tags %}
{% load static %}
{% block block_title %}
  {% include "meta_data/company_detail.html" %}
{% endblock %}
{% block block_canonical_tag %}
  {% if current_page|slugify == '1'|slugify %}
    {% else %}
    <link rel="prev" href="https://peeljobs.com{{ current_url }}{% if prev_page != 1 %}{{ prev_page }}/{% endif %}" />
  {% endif %}
  {% if current_page <= last_page %}
    {% if current_page == last_page %}
    {% else %}
      <link rel="next" href="https://peeljobs.com{{ current_url }}{{current_page| add:"1"}}/" />
    {% endif %}
  {% endif %}
{% endblock %}
{% block stage %}
<div class="company_section">
  <div class="row mt description_row">
    <div class="container">
      <div class="row mt description_block">
          <div class="logo_menu ">
          <div class="logo">
           <a href="#">
            {% thumbnail company.get_logo_url "50x50" as im %}
                <img src="{{ im.url }}" alt="{{ company.name|capfirst}} Job Openings"/>
            {% endthumbnail %}
          </a>
          </div>
            <div class="address_block">
            <span class="company_title"> {{ company.name|capfirst}}</span>
            <span class="company_url"><a href="{{ company.website }}" rel="nofollow" target="_blank">
            {{ company.get_website }}</a></span>
            {% if company.address %}
            <strong>Reach US</strong>
            {{company.address}}
            {% endif %}
          </div>
          {%if company.get_active_company_menu %}
           <!--  <div class="menu">
              <ul>
                {% for menu in company.get_active_company_menu %}
                  <li><a href="{{menu.url}}">{{ menu.title }}</a></li>
                {% endfor %}
              </ul>
            </div> -->
          {% endif %}
          </div>
          <div class="company_desc">
          <div class="moto">Career Opportunities that takes you to the peeks of success</div>
          <div class="description">
           <p>{{ company.profile|safe }}</p>
          </div>
          </div>
      </div>
    </div>
  </div>

  <div class="company_jobs_list">
    <div class="container">
      <h1 class="jobs_heading">{{ h1_tag }}</h1>
      <div id="job_list" style="padding-top:10px;">
        {% include 'mobile/job_list.html' with job_list=job_list %}
      </div>
      <div>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- PJ Right Nav -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-5756092160559539"
                 data-ad-slot="3490610504"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
       <!-- pagination starts here -->
       {% if last_page > 1 %}
         <div class="pagination_row text-center">
        <ul class="pagination pagination-sm text-center">
        {% if prev_page < current_page %}
        <li><a href="{{current_url}}{% if prev_page == 1%}{% else %}{{ prev_page }}{% endif %}">Previous</a></li>
        {% endif %}
        <li {% ifequal s current_page %} class="active" {% endifequal %}><a href="{{current_url}}{% if current_page == 1%}{% else %}{{ current_page }}{% endif %}">{{current_page}} of {{ last_page }}</a></li>
       {% if aft_page > current_page %}
       <li><a href="{{current_url}}{{aft_page}}">Next</a></li>{% endif %}
      </ul>
      </div>
      {% endif %}
      <br clear="all">
      <div class="clearfix"></div>
    <!-- pagination ends here -->
    </div>
  </div>

</div>

{% endblock %}
{% block 'extra_js' %}
  <script type="text/javascript">
</script>
{% endblock %}