{% extends 'mobile/base.html'%}
{% load thumbnail %}
{% load page_tags %}
{% load static %}
{% block block_canonical_tag %}
  {% if current_page|slugify == '1'|slugify %}
    {% else %}
    <link rel="prev" href="https://peeljobs.com{{ current_url }}{% if prev_page != 1 %}{{ prev_page }}/{% endif %}" />
  {% endif %}
  {% if current_page <= last_page %}
    {% if current_page == last_page %}
    {% else %}
      <link rel="next" href="https://peeljobs.com{{ current_url }}{{current_page| add:"1"}}/" />
    {% endif %}
  {% endif %}
{% endblock %}
{% block block_title %}
  {% include "meta_data/recruiters_list.html" %}
{% endblock %}

{% block stage %}
<div class="recruiters_list__section">
  <form name="companyform" id="companyform" method="post">{% csrf_token %}
    <input type="hidden" name="alphabet_value" id="alphabet_value" value="{{request.POST.alphabet_value}}">
    <input type="hidden" name="page" id="page" value="{{request.POST.page}}">
    <button type="submit" style="display:none;"></button>
  </form>

  <div class="alphabets_row col-md-12">
    <ul class="list-inline">
      <li><a href="#" class="">All Recruiters</a></li>
      <li><a href="#" class="a">A</a></li>
      <li><a href="#" class="b">B</a></li>
      <li><a href="#" class="c">C</a></li>
      <li><a href="#" class="d">D</a></li>
      <li><a href="#" class="e">E</a></li>
      <li><a href="#" class="f">F</a></li>
      <li><a href="#" class="g">G</a></li>
      <li><a href="#" class="h">H</a></li>
      <li><a href="#" class="i">I</a></li>
      <li><a href="#" class="j">J</a></li>
      <li><a href="#" class="k">K</a></li>
      <li><a href="#" class="l">L</a></li>
      <li><a href="#" class="m">M</a></li>
      <li><a href="#" class="n">N</a></li>
      <li><a href="#" class="o">O</a></li>
      <li><a href="#" class="p">P</a></li>
      <li><a href="#" class="q">Q</a></li>
      <li><a href="#" class="r">R</a></li>
      <li><a href="#" class="s">S</a></li>
      <li><a href="#" class="t">T</a></li>
      <li><a href="#" class="u">U</a></li>
      <li><a href="#" class="v">V</a></li>
      <li><a href="#" class="w">W</a></li>
      <li><a href="#" class="x">X</a></li>
      <li><a href="#" class="y">Y</a></li>
      <li><a href="#" class="z">Z</a></li>
    </ul>
    <div class="clearfix"></div>
  </div>

  <div class="container list_item">
    {% for recruiter in recruiters %}
      <div class="companies_row recruiters_row">
      <a href="{% url 'recruiter_profile' recruiter.username %}" class="recruiter_url"></a>
        <!-- company_col starts here -->
          <div class=" col-md-4">
          <div class="company_col">
            <div class="logo">
              <a href="#">
                <img src="{% if recruiter.profile_pic %}{% thumbnail recruiter.profile_pic.url "100x100" upscale=True padding=True %}{% else %}{% static 'static/img/dummy.jpg' %}{% endif %}" /></a>
            </div>
            <div class="details">
              <div class="title"><a href="{% url 'recruiter_profile' recruiter.username %}">{{ recruiter.get_full_name }}{% if recruiter.year %}<span class='exp'> [{{ recruiter.year }} Years{% if recruiter.month|add:'0' > 0 %}, {{ recruiter.month }} Months{% endif %}]</span>{% endif %}</a></div>
              {% if recruiter.company.is_active and recruiter.company.slug %}
                <div class="link"><a href="#"><i class="fa fa-building"></i>
                  <a href="{% url 'company_jobs' recruiter.company.slug %}" target="_blank"> {{ recruiter.company.name }}
                  </a>
                </div>
              {% endif %}
              <div class="social_jobs">
                <span class="posts">Jobs Posted :{{ recruiter.get_active_jobposts_count }}</span>
                 <span class="pull-right social">
                  <ul>
                  <li>
                  {% if recruiter.is_fb_connected %}
                   <a class="facebook" href="{{ recruiter.get_facebook_object.facebook_url }}" target="_blank"> <i class='fa fa-facebook'></i>
                    </a>
                    {% else %}
                   <a class="facebook" style="background-color:#676767"><i class='fa fa-facebook'></i></a>
                    {% endif %}
                    </li>
                    <li>
                    {% if recruiter.is_tw_connected %}
                    <a class="twitter" href="{{ recruiter.get_twitter_url }}" target="_blank">
                      <i class='fa fa-twitter'></i>
                    </a>
                    {% else %}
                      <a class="twitter" style="background-color:#676767"><i class='fa fa-twitter'></i></a>
                    {% endif %}
                    </li>
                    <li>
                    {% if recruiter.is_ln_connected %}
                    <a class="linkedin" href="{{ recruiter.get_linkedin_object.linkedin_url }}" target="_blank">
                      <i class='fa fa-linkedin'></i>
                    </a>
                    {% else %}
                      <a class="linkedin" style="background-color:#676767"><i class='fa fa-linkedin'></i></a>
                    {% endif %}
                </span>
              </div>
              <!-- <div class="posts"><a href="#">12 Jobs Posted</a></div> -->
            </div>
            </div>
          </div>
      </div>
    {% endfor %}
    <div>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- PJ Right Nav -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-5756092160559539"
                 data-ad-slot="3490610504"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    {% if last_page > 1 %}
    <!-- pagination starts here -->
    <div class="pagination_row text-center">
      <ul class="pagination pagination-sm text-center">
        {% if previous_page < current_page %}
          <li><a class="{{previous_page}}" href="#">Previous</a></li>{% endif %}
          <li {% ifequal s current_page %} class="active" {% endifequal %}><a href="#" class="{{ current_page }}">{{current_page}} of {{ last_page }}</a></li>
          {% if aft_page > current_page %}
          <li><a href="#" class="{{ aft_page }}">Next</a></li>
          {% endif %}
      </ul>
    </div>
    <!-- pagination ends here -->
    {% endif %}
    <br clear="all">
  </div>
</div>
{% endblock %}
{% block 'extra_js' %}
<script type="text/javascript">
$(document).ready(function(){
  var cl = $('#alphabet_value').val()
  $("."+cl).parent().addClass('active')
})
  $('.list-inline li a').click(function(e){
  e.preventDefault();
  $('#page').val(1)
  $('#alphabet_value').val($(this).attr('class'));
  $('#companyform').submit();
});

$('.pagination-sm li a').click(function(e) {
    e.preventDefault();
    $('#page').val($(this).attr('class'))
    var clas = $(this).attr('class');
    if (clas == 1){
    $('#companyform').attr('action', '/recruiters/')
    }
    else{
    $('#companyform').attr('action', '/recruiters/page/'+ clas + '/')
    }
    $('#companyform').submit();
}); 

$('.recruiters_row').click(function(e){
  window.open($(this).find(".recruiter_url").attr("href"), '_blank')
  })
  $(".recruiters_row a").click(function(e){
  e.stopPropagation();
  })
</script>
{% endblock %}