Django==1.11.17
arrow==0.12.1
bpython==0.17.1
behave-django==1.1.0
celery==4.2.1
coverage==4.5.1
django-behave==0.1.6
django-blog-it==0.3
django-compressor==2.2
django-celery-beat==1.1.1
django-debug-toolbar==1.10.1
django-endless-pagination==2.0
django-debug-toolbar-template-timings==0.9
django-haystack==2.8.1
django-hmin==0.3.3
django-tellme==0.6.5
django-web-profiler==0.1.4
elasticsearch==2.3
elasticsearch-dsl==6.2.1
google-api-python-client==1.7.4
oauth2client
microurl==0.1.1
prospector==1.1.4
psycopg2-binary
#python-memcached==1.59
python-memcached
pymongo==3.7.2
raven==6.9.0
redis==2.10.6
sendgrid==6.1.1
sorl-thumbnail==12.5.0
tinys3==0.1.12
boto3
twython==3.7.0
beautifulsoup4==4.6.3
utils==0.9.0
python-magic==0.4.15
jsonpickle==1.0
pymemcache==2.0.0
lxml==4.2.5
pamqp==2.3.0
flower
django-sentry==1.13.5
django-celery-results==1.0.1
aiormq==2.6.0
kombu==4.6.4
ujson==1.35
uWSGI==2.0.17
django-redis==4.10.0
gunicorn==19.9.0

django-pyscss
django-static-precompiler

sphinx_rtd_theme
