{% extends 'dashboard/base.html' %}
{% load tz %}
{% block stage %}
    <section id='recruiters'>
        <div class="list_table">
            <div class="title_div">
                <h4>Email Templates</h4>
                <div class="records">
                    <div class="form-inline">
                    </div>
                </div>
                <div class='filter'>
                    <div class="form-inline">
                        <div class="form-group">
                            <span><a href="{% url 'dashboard:new_template' %}"><button class="btn btn-warning"><i
                                    class="fa fa-plus"></i> Add New Template</button></a></span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <table class="table table-hover" id="sample_1">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Subject</th>
                    <th>Created On</th>
                    <th>Modified On</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for mailtemplate in mailtemplates %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ mailtemplate.title }}</td>
                        <td>
                            <a href="{% url 'dashboard:view_mailtemplate' mailtemplate.id %}">{{ mailtemplate.subject }}</a>
                        </td>
                        <td>{{ mailtemplate.created_on|timezone:'Asia/Calcutta' }}</td>
                        <td>{{ mailtemplate.modified_on|timezone:'Asia/Calcutta' }}</td>
                        <td>
                            <a href="{% url 'dashboard:edit_mailtemplate' mailtemplate.id %}" id="{{ mailtemplate.id }}"
                               class="edit-mailtemplate"><i class="fa fa-check edit" title="Edit"></i></a>
                            <a href="#" id="{{ mailtemplate.id }}" class="delete-mailtemplate"><i
                                    class="fa fa-times delete" title="Delete"></i></a>
                            <a href="{% url 'dashboard:send_mail' mailtemplate.id %}" id="{{ mailtemplate.id }}"
                               class="send-mail"><i class="fa fa-envelope send_mail" title="Send Mail"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!--
  <div class="pagination">
  {% if recruiters.has_previous %}
    <span class='pagintion_btn'><a href="?page={{ recruiters.previous_page_number }}">Previous</a></span>
  {% endif %}
  <span class='pagination_text'>Page <b>{{ recruiters.number }}</b> of <b>{{ recruiters.paginator.num_pages }}</b></span>
  {% if recruiters.has_next %}
  <span class='pagintion_btn'><a href="?page={{ recruiters.next_page_number }}">Next</a></span>
  {% endif %}
  </div>
  !-->
        </div>
    </section>
{% endblock stage %}
{% block script %}
    <script type="text/javascript">
        $('#sample_1').DataTable({
            "sPaginationType": "full_numbers",
            "aaSorting": [],
            "bSort": true,
            "aLengthMenu": [[20, 50, 75, -1], [20, 50, 75, "All"]],
            "pageLength": 20,
        });
        $('.delete-mailtemplate').click(function (e) {
            var myPos = [ $(window).width() / 2, 50 ];
            e.preventDefault();
            url = $(this).attr('id') + '/'
            $('#block_question').text('Do you want to delete Template?')
            $('#block_question').dialog({
                modal: true,
                dialogClass: "no-close",
                draggable: false,
                title: "Info!!",
                position: myPos,
                buttons: [
                    {
                        text: "Yes",
                        click: function () {
                            $(this).dialog("close");
                            $.post('/dashboard/mail-template/delete/' + url, $("form#jobform").serialize(), function (data) {
                                if (data.error) {
                                    open_dialog(data.response, 'Error!')
                                } else {
                                    open_dialog_with_url('Email Template Deleted Successfully', 'Success!!!', "{% url 'dashboard:emailtemplates' %}")
                                }
                            }, 'json');
                        }
                    },
                    {
                        text: "No",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        });

    </script>
{% endblock script %}