{% extends 'recruiter/index.html' %}
{% load page_tags %}
{% load tz %}
{% block jobs %}
<li class="job"><a class="post-new" href="#">Post A new job</a></li>
<li class="job active"><a href="{% url 'recruiter:list' %}">jobs list</a></li>
{% endblock %}
{% block 'stage' %}
<div class="content_wrap">
  <section class='job_list'>
    <!-- tabs -->
    <div class="tab_row">
      <a href="{% url 'recruiter:list' %}"><span class='tab_button {% if not 'inactive' in request.path %}active{% endif %}'>
      Active Jobs
      </span></a>
      <a href="{% url 'recruiter:inactive_jobs' %}"><span class='tab_button {% if 'inactive' in request.path %}active{% endif %}'>
      Inactive Jobs
      </span></a>
    </div>
    <!--/ tabs -->
    <!-- table -->
    <div class="table_wraper">
      {% if not request.user.email_notifications %}
      <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class='fa fa-times'></i></span></button>
        <h4>Enable Email Notifications in your
        <a href="{% if request.user.is_agency_recruiter %}{% url 'agency:profile' %}{% else %}{% url 'recruiter:profile' %}{% endif %}">
          <button type="button" class="btn btn-default"><strong>Profile</strong></button>
        </a>to receive jobpost updates.</h4>
        </p>
      </div>
      {% endif %}
      {% if not request.user.is_active %}
      <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class='fa fa-times'></i></span></button>
        <h4>A confirmation email has been sent to you. Please click on the Activation Link to Activate your account</h4>
        </p>
      </div>
      {% endif %}
      <form name="jobtypeform" id="jobtypeform" method="post">
        <div class="pull-right checkbox_block">
          <input type="hidden" name="page" id="page" value="{{ current_page }}"/>
          <input type="radio" name="search_value" value="all" class="job_type" {% if search_value|slugify == 'all' %}checked{% endif %}>All<input type="radio" name="search_value" value="full-time" class="job_type" {% if search_value|slugify == 'full-time' %}checked{% endif %}>Full Time<input type="radio" name="search_value" value="internship" class="job_type" {% if search_value|slugify == 'internship' %}checked{% endif %}>Internship
          <input type="radio" name="search_value" value="walk-in" class="job_type" {% if search_value|slugify == 'walk-in' %}checked{% endif %}>Walkin's
        </div>
        </form>
      {% if not jobs_list %}
      <div class="alert alert-danger alert-dismissible fade in" role="alert" style="margin-top: 24px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class='fa fa-times'></i></span></button>
        <h4>
        {% if not 'inactive' in request.path %}
          You do not have any active jobs. Post your requirement now!
           <a href="{% if request.user.is_agency_recruiter %}{% url 'agency:new' 'full-time' %}{% else %}{% url 'recruiter:new' 'full-time' %}{% endif %}">
            <button type="button" class="btn btn-default"><strong>Create</strong></button>
          </a>
          {% else %}
          You do not have any inactive jobs!!
          {% endif %}
        </h4>
      </div>
      {% else %}
      <table class='job_list_table'>
      <thead>
        <tr>
          <th>Job Title</th>
          <th>Location</th>
          <th>Expiry</th>
          {% if 'inactive' in request.path %}
            <th>Closed Date</th>
          {% endif %}
          <th>Job Type</th>
          <th>Responses</th>
          {% if request.user.user_type == 'AA' %}
            <th>Assigned Recruiters</th>
          {% endif %}
          {% if not 'inactive' in request.path %}
            <th>Social</th>
          {% endif %}
          <th class="text-center">Actions</th>
          <th class="text-center">Status</th>
        </tr>
      </thead>
      <tbody>
      {% for post in jobs_list %}
        <tr class='job_detail {% if post.status == 'Draft' %}drafted{% elif post.status == 'Pending' %}pending{% elif post.status == 'Published' %}published{% elif post.status == 'Disabled' %}disabled{% elif post.status == 'Expired' %}disabled{% else %}live{% endif %}' data-href='{% url 'recruiter:view' post.id%}'>
        <td><span class="title">{{ post.title }}</span></td>
        <td><span>{%for location in post.location.all %}{{ location.name }} {% if forloop.last %}{% else %},{% endif%}{% empty %} N/A {% endfor %}</span></td>
        <td><span>{{ post.last_date }}</span></td>
        {% if 'inactive' in request.path %}
        <td><span>{{ post.closed_date }}</span></td>
        {% endif %}
        <td style="color:#222223"><span>{{ post.job_type|get_string }}</span></td>
        <td data-href="{% url 'recruiter:view' post.id%}?applicants=True" class="applicants"><span class="title">{{ post.responses }}</span></td>
        {% if request.user.user_type == 'AA' %}
        <td><span>{% for recruiter in post.agency_recruiters.all %}<a href="{% url 'agency:company_recruiter_profile' recruiter.id %}">{{recruiter.username}}</a>{% if forloop.last %}{% else %}, {% endif %}{% empty %} N/A {% endfor %}</span></td>
        {% endif %}
        {% if not 'inactive' in request.path %}
        <td align="left" class="share_td">
          {% if post.status == 'Live' %}
            <a href="#" data-href="https://www.facebook.com/sharer/sharer.php?u={{ post.get_job_minified_url }}&t={{ post.title }}" class="social_share share_icon fb" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" data-href="https://www.linkedin.com/cws/share?url={{ post.get_job_minified_url }}&token=&isFramed=true"  class="social_share share_icon linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="#" data-href="https://twitter.com/intent/tweet?text={{ post.title }}&url={{ post.get_job_minified_url }}&via=PeelJobs" class="social_share share_icon twit" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" data-href="https://plus.google.com/share?hl=en-US&url={{ post.get_job_minified_url }}" class="social_share share_icon google" target="_blank"><i class="fa fa-google-plus"></i></a>
          {% else %}
            <span class="social_share share_icon fb not_live" target="_blank"><i class="fa fa-facebook"></i></span>
            <span class="social_share share_icon linkedin not_live" target="_blank"><i class="fa fa-linkedin"></i></span>
            <span class="social_share share_icon twit not_live" target="_blank"><i class="fa fa-twitter"></i></span>
            <span class="social_share share_icon google not_live" target="_blank"><i class="fa fa-google-plus"></i></span>
          {% endif %}
        </td>
        {% endif %}
        <td>
          <a title='Edit' href="{% url 'recruiter:edit' post.id%}" style="margin-right:10px;color: #0060b9;">
            <i class='fa fa-pencil-square-o edit'></i>
          </a>
        {% if not 'inactive' in request.path %}
          <span class="delete-job" id="{{ post.id }}"><i class='fa fa-trash'></i></span>
        {% endif %}
        </td>
        <td >
          <span class='icon_wrap'>
            <span class="icon_table">
              <span class="icon_table_cell">
              {% if post.status == 'Pending' %}
                <i class='fa fa-clock-o'></i>
                <span class='tag'>Pending</span>
              {% elif post.status == 'Published' %}
                <i class='fa fa-newspaper-o'></i>
                <span class='tag'>Published</span>
              {% elif post.status == 'Disabled' %}
                <i class='fa fa-ban'></i>
                <span class='tag'>Disabled</span>
              {% elif post.status == 'Expired' %}
                <i class='fa fa-ban'></i>
                <span class='tag'>Expired</span>
              {% else %}
                <i class='fa fa-check'></i>
                <span class='tag'>Live</span>
              {% endif %}
              </span>
            </span>
          </span>
        </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
    <!--/ table -->
    {% endif %}
    {% get_page current_page last_page as pages %}
    {% if jobs_list %}
    <!-- pagination -->
    <div class="pagination">
    <div class="mob_pagination">
      {% if prev_page %}
      <a href="#" class="{{prev_page}}"><span class="link_each">
      previous
      </span></a>
      {% endif %}
      <span class='pages_count'>
        Page <strong>{{ current_page }}</strong> of <strong>{{ pages|length }}</strong>
      </span>
      {% if jobs_list.has_next %}
        <a href="#" class="{{current_page| add:"1"}}"><span class='link_each'>
        next
        </span></a>
      {% endif %}
    </div>
    {% get_page current_page last_page as pages %}
    <a href="#" class="{{previous_page}}" title="First"><span class='link_each'><i class="fa fa-angle-double-left"></i></span></a>
    <a href="#" class="{{prev_page}}" title="Prev"><span class='link_each'><i class="fa fa-angle-left"></i></span></a>
    {% for s in pages %}
    <a href="#" class="{{s}}"><span class='link_each'{% ifequal s current_page %} class="active" {% endifequal %}>{{s}}</span></a>
    {% endfor %}
    <a href="#" class="{{ aft_page }}"><span class='link_each'><i class="fa fa-angle-right pagination-next"></i></span></a>
    <a href="#" class="{{ after_page }}"><span class='link_each'><i class="fa fa-angle-double-right"></i></span></a>
    </div>
    <div class="clearfix"></div>
</div>
<!--/ pagination -->
{% endif %}
</section>
</div>
{% endblock %}
{% block 'extra_js' %}
<script type="text/javascript">
$('.social_share').click(function(e){
  e.stopPropagation();
  if ($(this).hasClass('not_live')){
    open_dialog('JobPost cannot be Shared until it goes live!', 'Alert!')
  }
  else{
    window.open($(this).attr('data-href'), '_blank');
  }
})
 $('.delete-job').click(function (e) {
      e.stopPropagation();
      url = $(this).attr('id') + '/'
      $('#block_question').text('Do you want to delete Jobpost?')
      $('#block_question').dialog({
          modal: true,
          draggable: false,
          title: "Info!!",
          buttons: [
              {
                  text: "Yes",
                  click: function () {
                      $(this).dialog("close");
                      $.post('/recruiter/job/delete/' + url, $("form#jobform").serialize(), function (data) {
                          if (data.error) {
                            open_dialog(data.response, 'Error!')
                          } else {
                          open_dialog_with_url('Job Post Deleted Successfully', 'Success!', '.')
                          }
                      }, 'json');
                  }
              },
              {
                  text: "No",
                  click: function () {
                      $(this).dialog("close");
                  }
              }
          ]
      });
  });

  $(".job_detail").click(function(e) {
      e.preventDefault();
      e.stopPropagation();
      window.document.location = $(this).data("href");
  });
    $(".job_detail a").click(function(e) {
      e.stopPropagation();
  });

$(".job_detail .applicants").click(function(e) {
      e.stopPropagation();
      window.location = $(this).attr('data-href')
  });
  $('.job_type').click(function(e){
    $('#jobtypeform').submit();
  })

  $(".pagination a").click(function(e){
    e.preventDefault();
    $('#page').val($(this).attr('class'));
    $('#jobtypeform').submit();
  });
</script>
{% endblock %}