{% extends 'recruiter/index.html' %}
{% load page_tags %}
{% load thumbnail %}
{% block jobs %}
<li class="job active"><a class="post-new" href="#">Post A new job</a></li>
<li class="job"><a href="{% url 'recruiter:list' %}">jobs list</a></li>
{% endblock %}
{% block 'stage' %}
<!-- content -->
<style type="text/css">
  .input_element {
  width: 32% !important;
  }
</style>
<div class="content_wrap">
<section id='job_post_new'>
  <h3 class="main_title">Create Client <span class="pull-right"><a href="{% url "agency:client_list" %}"><i
    class="fa fa-bars" aria-hidden="true"></i> Client List</a></span></h3>
  <div class="content_job_post">
    <!-- category -->
    <div class="category">
      <!-- form div -->
      <form name="clientform" id="clientform" method='post'>
        <div class="form_div">
          <div class="panel panel-default job_post_panel">
            <div class="panel-body">
              <div class="row  client_create_form">
                <!--input element -->
                <div class="input_element col-md-4">
                  <label>Client Name</label>
                  <input type="text" class="input full_wid" placeholder="Client Name"
                    name="name" id='name'>
                </div>
                <!--/input element -->
                <!--input element -->
                <div class="input_element  col-md-4">
                  <label>Website</label>
                  <input type="text" class="input full_wid" placeholder="Website"
                    name='website' id='website'>
                  <input type="hidden" name="no_of_branch" id="no_of_branch" value="1">
                  <input type="hidden" name="no_of_category" id="no_of_category" value='1'>
                  <input type="hidden" name="no_of_contract_details"
                    id="no_of_contract_details" value='1'>
                </div>
                <!--/input element -->
                <!--input element -->
                <div class="input_element  col-md-4">
                  <label>Company Logo</label>
                  <input type="file" class="input full_wid" name='logo' accept="image/*" id='logo'>
                </div>
                <!--/input element -->
                <div class="row">
                  <!--input element -->
                  <div class="input_element area_element">
                    <textarea class="input" placeholder="Company Description"
                      name='decription' id='decription'></textarea>
                  </div>
                  <!--/ input element -->
                </div>
              </div>
            </div>
            <div class="panel-body">
              <label>Branch Details</label>
              <div class="branch_divs">
                <div class="row another_location">
                  <div class="col-md-12 form_left branch branch_1 branch_div">
                    <div class="half_wid_element">
                      <select class="input" name="location_1" id="location_1">
                        <option value=''>Select A Branch Location</option>
                        {% for city in cities %}
                        <option value='{{ city.id }}'>{{ city.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <!--/ input element -->
                    <!--/ input element -->
                    <br clear="all">
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <!--input element -->
                      <div class=" full_wid">
                        <label>Branch Address</label>
                        <textarea class="input" placeholder="Branch Address" rows="3"
                          name="address_1" id="address_1"></textarea>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class=" full_wid">
                        <label>Contact Details</label>
                        <textarea class="input"
                          placeholder="Enter Your Branch Contact Details"
                          rows="3" name="contact_details_1"
                          id="contact_details_1"></textarea>
                      </div>
                    </div>
                    <input type="checkbox" name="is_major_1" id="is_major"
                      class="is_major"/>Is Main Branch
                    <br clear="all">
                  </div>
                  <br clear="all">
                  <span class='delete_branch' id="branch_1"><i
                    class="fa fa-trash delete_client_branch"
                    aria-hidden="true"></i></span>
                </div>
              </div>
              <span class='add_location add_branch'><i
                class='fa fa-plus'></i>Another Branch</span>
            </div>
            <!--
              <div class="panel-body">
                  <label>Category Details</label>
                  <div class="row another_location new_category">
                      <div class="row">
                          <div class="col-md-6 category_name">
                              <div class="full_wid">
                                  <label>Name</label>
                                  <input type="text" name="name_1" id="name_1" class="input"
                                         placeholder="Enter Category Name"/>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class=" full_wid">
                                  <label>Percantage</label>
                                  <input type="text" name="percantage_1" id="percantage_1"
                                         class="input" placeholder="Enter Percantage Name"/>
                              </div>
                          </div>
                          <br clear="all">
                      </div>
                      <br clear="all">
              <span class='delete_branch delete_category' id="category_1"><i class="fa fa-trash delete_client_category" aria-hidden="true"></i>
                  </div>
                  <span class='add_location add_category'><i
                          class='fa fa-plus'></i>Another Category</span>
              </div>
              <div class="panel-body">
              <label>Contract Details</label>
              <div class="row another_location contact_details_div">
              <div class="row">
              <div class="col-md-6 category_name">
              <div class="col-md-6">
              <div class="full_wid">
              <label>Month</label>
              <select name="month_1" id="month_1" class="input">
              <option value="">Select A Month</option>
              {% for month in months %}
              <option value="{{ month.0 }}">{{ month.1 }}</option>
              {% endfor %}
              </select>
              </div>
              </div>
              <div class="col-md-6">
              <div class=" full_wid">
              <label>Percantage</label>
              <input type="text" name="contract_percantage_1" id="contract_percantage_1" class="input" placeholder="Enter Percantage Name"/>
              </div>
              </div>
              <br clear="all">
              </div>
              <br clear="all">
              <span class='delete_branch delete_category' id="category_1"><i class="fa fa-trash delete_client_contact" aria-hidden="true"></i>

              </div>
              <span class='add_location add_contract_details'><i class='fa fa-plus'></i>Another Contract Details</span>
              </div>-->
          </div>
        </div>
        <div class="row marl_15 job_post_button_row">
          <div class="button_left_col col-md-12">
            <!-- button row -->
            <div class="button_row wrap">
              <button type="submit" class='button post'>Submit</button>
              <button type="button" class='button cancel'>Cancel</button>
            </div>
            <!--/ button row -->
          </div>
        </div>
      </form>
</section>
</div>
<!--/ content -->
</div>
<!--/ container -->
{% endblock %}
{% block 'extra_js' %}
<script>
  $('form#clientform').ajaxForm({
      type: 'POST',
      dataType: 'json',
      data: $('#clientform').serialize(),
      success: function (data) {
          $.blockUI({message: '<img src="http://peeljobs.s3.amazonaws.com/static/img/loader-gif.gif" height="90px" width="90px"><h1>Please Wait...</h1>'});
          if (data.error == false) {
              $.unblockUI()
              open_dialog_with_url(data.response, 'Info!!', "{% url 'agency:client_list' %}")
          } else {
              $.unblockUI()
              open_dialog('Some Content Missing', 'Info!!')
              $('div.error').remove();
              for (var key in data.response) {
                  $('#' + key).after('<div class="error">' + data.response[key] + '</div>');
              }
          }
      }
  });
  $('.cancel').click(function (e) {
      window.location = "{% url 'agency:client_list' %}";
  })
  $('body').on('click', '.add_branch', function (e) {
      e.preventDefault();
      no_of_branches = $('#no_of_branch').val()
      no_of_location = $('div.branch_divs').length
      no_of_branch = no_of_location + 1
      $('#no_of_branch').val(no_of_branch);
      $.post('/agency/clients/branch/' + no_of_branches + '/', {'selected_locations': ''}, function (data) {
          $(".add_branch").before(data);
      });
  });
  
  $('.add_contract_details').click(function (e) {
      e.preventDefault();
      no_of_location = $('#no_of_contract_details').val()
      $.post('/agency/clients/contract-details/' + no_of_location + '/', {'selected_locations': ''}, function (data) {
          $(".add_contract_details").before(data);
      });
  });
  $('body').on('click', '.delete_client_branch', function (e) {
      if ($('.branch_divs').length == 1) {
          open_dialog('Client Must have atleast one branch', 'Info!!')
      }
      else {
          $(this).parent().parent().parent().remove();
      }
  });
  $('body').on('click', '.delete_client_contact', function (e) {
      if ($('.contact_details_div').length == 1) {
          open_dialog('Client Must have atleast one Contract', 'Info!!')
      }
      else {
          $(this).parent().parent().remove();
      }
  });
  $('body').on("click", '.is_major', function (e) {
      if ($("input:checkbox[class=is_major]:checked").length > 1) {
          open_dialog('Company must have atleast one major branch', 'Info!!')
          $(this).prop('checked', false);
      }
      else {
      }
  });
  // $('.add_category').click(function (e) {
  //     e.preventDefault();
  //     no_of_category = $('div.category_name').length
  //     no_of_category = no_of_category + 1
  //     $('#no_of_category').val(no_of_category);
  //     data = '<div class="row another_location new_category"><div class="row"><div class="col-md-6"><div class=" full_wid"><label>Name</label><input type="text" name="name_' + no_of_category + '" id="name_' + no_of_category + '" class="input" placeholder="Enter Category Name"/></div></div><div class="col-md-6"><div class="full_wid"><label>Percantage</label><input type="text" name="percantage_' + no_of_category + '" id="percantage_' + no_of_category + '" class="input" placeholder="Enter Percantage Name"/></div></div><br clear="all"></div><br clear="all"><span class="delete_branch delete_category" id="category_' + no_of_category + '"><i class="fa fa-trash delete_client_category" aria-hidden="true"></i>'
  //     $(".add_category").before(data);
  // });
  // $('body').on('click', '.delete_client_category', function (e) {
  //     if ($('.new_category').length == 1) {
  //         open_dialog('Client Must have atleast one category', 'Info!!')
  //     }
  //     else {
  //         $(this).parent().parent().remove();
  //     }
  // });
</script>
{% endblock %}