{% extends "base.html" %}
{% load page_tags %}
{% load static %}
{% load thumbnail %}
{% load static %}
{% load searchtags %}
{% load cache %}

    {% block block_canonical_tag %}
      <link rel="canonical" href="https://peeljobs.com{{ request.path }}"/>
    {% endblock %}

{% block meta_tags %}
<meta name="google-site-verification" content="YRAH49iQBxqqgGD-ogtwLY3t39VcM_7NrhX0hyzirPY" />
<meta name="msvalidate.01" content="7748852145A5ECD3CF9FD6D8EAA04EDE" />
{% endblock %}
{% block search_block %}
<section>
  <div class="container search_login_row">
      <div class="row mar_lr_0 search_login_blocks">
        <div class="search_block col-md-12 col-sm-12">
          <p class="message">One step to change your career<br> Better matching jobs for your bright career</p>
          <div class="tabs_block">
            <ul class="tabs">
              <li><button class="job_type active_button" id="full-time">Full Time</button></li>
              <li><button class='job_type' id="internship">Internship</button></li>
              <li><button class='job_type' id="walk-in">Walkin</button></li>
              <li><button class='job_type' id="Fresher">Fresher</button></li>
            </ul>
            <div class="search_location_other_block">
              <div class="job-location_other">
                <form class="form-inline autocomplete-me search-form" name="search-form" id="search-form" method="POST">
                  <div class="input-group">
                    
                      <label class="sr-only"></label>
                      <select class="form-select form-control_opt" name="location" id="job_location ">
                        <option value="">Location</option>
                        {% get_locations as total_locations %}
                        {% for city in total_locations %}
                          <option value="{{ city.name }}">{{ city.name }}</option>
                        {% endfor %}
                        {% for state in states %}
                          <option value="{{ state.name }}">{{ state.name }}</option>
                        {% endfor %}
                      </select>
                    
                    
                      <label class="sr-only"></label>
                      <input type="text" class="form-control form-control_opt content_wrap_list" id ="q-field" name="q" placeholder="Enter Any Skills, Qualifications" autocomplete="off">
                      <input type="hidden" name="job_type" id='job_type'>
                      <button type="submit" class="btn btn-default">Search Jobs</button>
                      <!--<input type="hidden" name="search_slug" id='search_slug'>-->
                    
                  </div>
                </form>
              </div>
              <!--<span class="advanced_tag_div"><a href="#" class="adv_srch_link adv_search">Advanced Search</a></span>-->
            </div>
          </div>
        </div>
        {% if request.user.is_authenticated %}
          {% if request.user.user_type == 'JS' %}
          <div class="login_block col-md-4 col-sm-12 text-center">
            <div class="text-center head_profile">Your Profile Completeness </div>
            <div class="count" id='circle'>
              <span class="count_value"><small>{{ request.user.profile_completion_percentage }}%</small></span>
              <a href="/profile/">Update Your Profile</a>
            </div>
          </div>
          {% endif %}
        {% endif %}
        
      </div>
    </div>
</section>
{% endblock %}
{% block base %}
<!-- main_container starts here -->
  <section class="main_container">
    <div class="container">
      <div class="row mar_lr_0">
        <div class="col-md-12 left_container">
          <!-- register_block starts here -->
          <div class="row mar_lr_0 register_block">
            <div class="col-md-12 register_point border redirect_link" data-href="{% url 'my:alerts_list'%}">
              <div class="text-center register_col">
                <strong>Get Jobs Into your inbox</strong>
                <p>Create Job Alert in your desired areas and get best-matched jobs into your inbox.</p>
              </div>
            </div>
          </div>
          <!-- register_block ends here -->
          
          <!-- top_locations starts here -->
          {% cache 604800 top_job_locations_in_index %}
          <div class="row mar_lr_0 top_locations">
            <div class="heading text-uppercase">Top Job Locations</div>
            <div class="locations">
              <ul class="location_ul">
              {% get_locations as total_locations %}
              {% for location in total_locations|slice:"34" %}
                <li><a href="{{ location.get_job_url }}">{{ location.name }}</a></li>
                {% if forloop.counter|divisibleby:7 %}
                  </ul>
                  <ul class="location_ul">
                {% endif %}
              {% endfor %}
              </ul>
              <ul>
                <li><a class="pull-right view-more" href="{% url 'jobs_by_location' 'jobs' %}">View More</a></li>
              </ul>
            </div>
          </div>
          {% endcache %}

          <!-- top_locations edns here -->
        
        </div>
       
      </div>
    </div>
  </section>
  <!-- main_container ends here -->
  
{% endblock base %}
{% block 'extra_js' %}
<script type="text/javascript">
  $('span.user_search').click(function(e){
      $(window).scrollTop($('#banner').offset().top-$('.page-top').height()-100);
  });
  $(document).ready(function() {
    $('#myCarousel').carousel({
      interval: 10000
  })
      $(".latest_jobs_class").click(function(){
        window.location = $(this).attr('id')
      })
    $(".latest_jobs a").click(function(e){
      e.stopPropagation()
    })
    });
</script>
{% endblock %}
