{% extends "base.html" %}
{% load page_tags %}
{% load searchtags %}
{% load thumbnail %}
{% load static %}
{% block block_canonical_tag %}
{% if current_page|slugify == '1'|slugify %}
{% else %}
<link rel="prev" href="https://peeljobs.com{{ current_url }}{% if prev_page != 1 %}{{ prev_page }}/{% endif %}" />
{% endif %}
{% if current_page <= last_page %}
{% if current_page == last_page %}{% else %}
<link rel="next" href="https://peeljobs.com{{ current_url }}{{current_page| add:"1"}}/" />
{% endif %}{% endif %}
{% endblock %}
{% block block_title %}
  {% include "meta_data/companies_list.html" %}
{% endblock %}
{% block page_search_block %}
  {% show_search_filter %}
{% endblock %}

{% block base %}
<style>
  .recruiter_breadcrumbs{
    background: none;
  }
  </style>
      <!-- main_container starts here -->
      <section class="main_container">
        <div class="container">
        <!-- breadcrumb_section starts here -->
        <div class="breadcrumb_section row">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb triangle">
              <li>
                <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}" class="name">
                  <span class="name">Home</span>
                </a>
                </li>
              <li class="current">
                <span href=".">
                  <span class="name">Companies List</span>
                </span>
              </li>
            </ol>
          </nav>
        </div>
        <!-- breadcrumb_section ends here -->
          <div class="row mar_lr_0">
            <div class="col-md-9 left_container">
              <div class="row">
              <!--  alphabets_row starts here -->
              <form name="companyform" id="companyform" method="post">{% csrf_token %}
                <input type="hidden" name="alphabet_value" id="alphabet_value" value="{{request.POST.alphabet_value}}">
                <input type="hidden" name="page" id="page" value="{{request.POST.page}}">
                <button type="submit" style="display:none;"></button>
              </form>
              <div class="alphabets_row col-md-12">
                <ul class="alphabets-ul">
                  <li><a href="#" class="">All Companies</a></li>
                  <li><a href="#" class="a">A</a></li>
                  <li><a href="#" class="b">B</a></li>
                  <li><a href="#" class="c">C</a></li>
                  <li><a href="#" class="d">D</a></li>
                  <li><a href="#" class="e">E</a></li>
                  <li><a href="#" class="f">F</a></li>
                  <li><a href="#" class="g">G</a></li>
                  <li><a href="#" class="h">H</a></li>
                  <li><a href="#" class="i">I</a></li>
                  <li><a href="#" class="j">J</a></li>
                  <li><a href="#" class="k">K</a></li>
                  <li><a href="#" class="l">L</a></li>
                  <li><a href="#" class="m">M</a></li>
                  <li><a href="#" class="n">N</a></li>
                  <li><a href="#" class="o">O</a></li>
                  <li><a href="#" class="p">P</a></li>
                  <li><a href="#" class="q">Q</a></li>
                  <li><a href="#" class="r">R</a></li>
                  <li><a href="#" class="s">S</a></li>
                  <li><a href="#" class="t">T</a></li>
                  <li><a href="#" class="u">U</a></li>
                  <li><a href="#" class="v">V</a></li>
                  <li><a href="#" class="w">W</a></li>
                  <li><a href="#" class="x">X</a></li>
                  <li><a href="#" class="y">Y</a></li>
                  <li><a href="#" class="z">Z</a></li>
                  <!--<li><a href="#" class="0-9">0-9</a></li>-->
                </ul>
              </div>
              <!-- alphabets_row ends here -->
              <div class="clearfix"></div>
              <!-- companies_row starts here -->
              <div class="row companies_row g-3">
                <!-- company_col starts here -->
                  {% for company in companies %}
                  <div class=" col-md-4">
                    <div class="company_col">
                    <div class="logo">
                      {% thumbnail company.get_logo_url "50x50" as im %}
                        <img src="{{ img.url }}" alt="{{ company.name|capfirst}} Job Openings">
                      {% endthumbnail %}
                    </div>
                    <div class="details">
                      <div class="title"><a class='company_url' href="{% url 'company_jobs' company.slug %}" target="_blank" title="{{ company.name|capfirst}}">{{ company.name }}</a></div>
                      {% if company.website %}
                      <div class="link"><a rel="nofollow" href="{% if 'http' in company.website %}{{ company.website }}{% else %}http://{{ company.website }}{% endif %}" target="_blank">{{ company.get_website }}</a></div>
                      {% endif %}
                      <!-- <div class="posts"><a href="#">12 Jobs Posted</a></div> -->
                    </div>
                    </div>
                  </div>
                  {% endfor %}
                  <!-- company_col ends here -->
              </div>
              <div class="clearfix"></div>
              <!-- companies_row ends here -->
              <div class="pagination_wrap d-flex justify-content-center mt-4">
                {% get_page current_page last_page as pages %}
                   {% comment %} <nav aria-label="Page navigation">
                    <ul class="pagination">
                    {% if current_page != 1 %}
                      <li class="prev"><a href="" class="{{previous_page}}"><i class="fa fa-angle-double-left"></i></a></li>
                      <li class="prev"><a href="" class="{{prev_page}}"><i class="fa fa-angle-left"></i></a></li>
                      <li><a href="" class="1">first</a></li>
                      {% endif %}
                      {% for s in pages %}
                      <li {% ifequal s current_page %} class="active" {% endifequal %}><a href="" class="{{s}}">{{s}}</a></li>
                      {% endfor %}
                      {% if current_page != last_page %}
                      <li><a href="" class="{{ last_page }}">last</a></li>
                      <li><a href="" class="{{ aft_page }}"><i class="fa fa-angle-right pagination-next"></i></a></li>
                      <li><a href="" class="{{ after_page }}"><i class="fa fa-angle-double-right"></i></a></li>
                      {% endif %}
                    </ul>
                  </nav>  {% endcomment %}
                  <nav aria-label="Page navigation">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="col-md-3 right_container">
              <!-- upload_btn_block starts here -->
              <div class="similar_job_posts" style="margin-bottom:10px;">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpeeljobs%2F&width=300&height=150&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=892560280818752" width="300" height="150" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
              </div>
              {% if request.user.is_authenticated %}
              {% if request.user.is_jobseeker and not request.user.resume %}
              <div class="upload_btn_block">
               <form name="resumeupload" id="resumeupload" method="post" action="{% url 'my:upload_resume' %}">
                <div class="upload_btn" id="resume_upload_but"><a href="/profile/"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload Your Resume </a></div>
                  <input type="file" name="resume" id="resume" style="display:none" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf, application/rtf, application/x-rtf, text/richtext, application/msword, application/vnd.oasis.opendocument.text, application/x-vnd.oasis.opendocument.text, .docx, .odt"></span>
                  <button type="submit" name="submit" class="submit" style="
                    display:none;"><span>Submit</span></button>
                  </form>
              </div>
              {% endif %} 
              {% else %}
              <div class="upload_btn_block">
                <div class="upload_btn upload_btn_resume"><a href="#" data-toggle="modal" data-target="#login_register"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload Your Resume </a></div>
              </div>
              {% endif %}
              <!--subscribe_box form starts here -->
              <div class="subscribe_box">
                <div class="login_box">
                  <p class="head text-capitalize">Subscribe with us, to get jobs to your inbox</p>
                  <form id="Jobsubscribeform" name="Jobsubscribeform" class="Jobsubscribeform" method = "POST">
                    <div class="form-group">
                      <select class="form-control" id="job_skills" name="skill" multiple>
                      </select>
                      <span class="skill_err"></span>
                      <p id="job_response_message"></p>
                    </div>
                    <div class="form-group">
                      {% if request.user.email %}
                      <input type="hidden" name="email" id="job_email" class="form-control" placeholder="Enter Your Email Address" value="{{ request.user.email }}" />
                      {% else %}
                      <input type="text" name="email" id="job_email" class="form-control" placeholder="Enter Your Email Address"/>
                      {% endif %}
                    </div>
                    <button type="submit" class="btn btn-default">Subscribe Here</button>
                  </form>
                </div>
              </div>
              <!--subscribe_box form ends here -->
                {% comment %} <div style="margin-top:10px;margin-bottom:10px;"> {% endcomment %}
                  {% comment %} <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- PJ Right Nav -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-5756092160559539"
                         data-ad-slot="3490610504"
                         data-ad-format="auto"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script> {% endcomment %}
                {% comment %} </div> {% endcomment %}
                <script>
                    $("#multiple").select2({
                      placeholder: "Select a programming language",
                      allowClear: true
                  });
                  </script>

              <!--register_login form starts here -->
              {% if not request.user.is_authenticated %}
              <div class="inner_login_box">
                <div class="login_box">
                  <p class="head text-capitalize left_login_text">ALREADY A MEMBER? LOGIN</p>
                  <form  id="JobMailRegisterForm" name="JobMailRegisterForm" class="JobMailRegisterForm"
                    method = "POST" >
                    <div class="form-group">
                      <input type="text" name="email" id="mail_email" class="form-control" placeholder="Enter Your Email Address"/>
                      <p id="mail_response_message"></p>
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" id="mail_password" class="form-control" placeholder="Enter Password"/>
                      <input type="hidden" name="register_type" id='left_register_type' value="login">
                    </div>
                    <button type="submit" class="btn btn-default left_login_form_button">Sign In</button>
                    <div class="forgot_create-new">
                      <a href="#" class="left_forgot_password">Forgot Password?</a> <a href="#" class="pull-right left_new_account">Create New Account?</a><a href="#" class="pull-right left_new_user_login" style="display:none;">Already a Member? Login</a>
                    </div>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
              {% endif %}
              <!--register_login form ends here -->
              {%get_latest_walkins as walkins%}
              {% if walkins %}
              <div class="walkin_jobs">
                <div class="heading text-uppercase">Walk-in Jobs</div>
                <ul class="walkin_blocks">
                {% for walkin in walkins|slice:"7" %}
                  <li class="walkin_block" id="{{ walkin.get_absolute_url }}">
                    <strong class="title"><a href="{{ walkin.get_absolute_url }}" target="_blank">{{ walkin.title }}</a></strong>
                    {% if walkin.company %}<p>{{ walkin.company.name }}</p>{% endif %}
                    <p class="location"><i class="fa fa-map-marker"></i>{%for location in walkin.location.all %}
                    {% if location.status == 'Enabled' %}
                      <a href="{{location.get_job_url}}" target="_blank">{{ location.name }}</a>
                      {% else %}
                      <a style="cursor:default">{{ location.name }}</a>
                      {% endif %}{% if forloop.last %}{% else %}, {% endif %}{% endfor %} </p>
                  </li>
                {% endfor %}
                <a href="{% url 'walkin_jobs' %}" target="_blank"><span class="view_all">See More</span></a>
                </ul>
              </div>
              {% endif %}
              <!-- walkin_jobs ends here -->
            </div>

          </div>
        </div>
      </section>
      <!-- main_container ends here -->
{% block pj_info %}
  <div class="col-md-2 col-sm-8 col-xs-8 about">
  </div>
{% endblock %}
{% endblock %}
{% block 'extra_js' %}
<script>
 $('.company_col').click(function(e){
   window.open($(this).find(".company_url").attr("href"), '_blank')
   })
  $(".company_col a").click(function(e){
     e.stopPropagation();
  })
$('.alphabets-ul li a').click(function(e){
  e.preventDefault();
  $('#page').val(1)
  $('#alphabet_value').val($(this).attr('class'));
  $('#companyform').submit();
});

$('.pagination li a').click(function(e) {
    e.preventDefault();
    $('#page').val($(this).attr('class'))
    url = '/companies/'
    if ($(this).attr('class') != 1 ){
    url = '/companies/'+ $(this).attr('class') + '/'
    }
    $('#companyform').attr('action', url)
    $('#companyform').submit();
});
function add_class(){
  var cl = $("#alphabet_value").val()
  if (cl){
  $("."+cl).parent('li').addClass('active')
}
}
add_class()

$('#job_skills').empty()
      $('#job_skills').append(new Option('Select a Skill', ''))
      $.getJSON("{% url 'jobs:get_skills' %}", function (data) {
          $.each(JSON.parse(data.response), function (key, field) {
              $('#job_skills').append(new Option(field.fields.name, field.pk))
          })
      });

</script>
{% endblock %}
