{% extends "base.html" %}
{% load page_tags %}
{% load searchtags %}
{% load cache %}

{% load thumbnail %}

{% block block_canonical %}
  <link rel="canonical" href="https://peeljobs.com{{ request.path }}"/>
{% endblock %}

{% block block_title %}
  {% include "meta_data/jobs_by_industry.html" %}
{% endblock %}
{% block page_search_block %}
{% show_search_filter %}
{% endblock %}
{% block base %}

<!-- content of list page -->
<section class="content_wrap_list main_container">
  <div class="container">
    <div class="breadcrumb_section row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb triangle">
          <li >
            <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}" class="name">
              <span class="name" >Home</span>
            </a>
          </li>
          <li>
            <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/jobs">
              <span class="name">Latest Jobs</span>
            </a>
          </li>
          <li class="current">
            <span href="{% url 'jobs_by_industry' %}" class="active job_detail">
              <span class="name">Jobs by Industry</span>
            </span>
          </li>
        </ol>
      </nav>
    </div>
    <h1 class='internship-text'>{{ h1_tag }}</h1>


    <div class="row">
      <!-- list -->
      <div class="browse_container col-md-9">
        <!-- browse_list starts here -->
        {% cache 604800 browse_jobs_by_industries_menu %}
          {% get_skills as total_skills %}
          {% get_industries as total_industries %}
          {% get_locations as total_locations %}
          {% get_qualifications as total_degrees %}
          <div class="browse_list">
            <div class="side_filter_section">

              <div class="accordion" id="accordion">
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Browse by Industries <i class="fa-solid fa-plus"></i>
                    </button>
                  </h4>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">

                    <div class="accordion-body">
                      <ul class="list-group">
                        {% for industry in total_industries %}
                        <li class="filter_option"><a href="{{ industry.get_job_url }}">{{ industry.name|get_industry_name }}</a></li>
                        {% endfor %}
                        <li class="filter_option more"><a href="{% url "jobs_by_industry" %}" target="_blank">More</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
  
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      Browse by Location <i class="fa-solid fa-plus"></i>
                    </button>
                  </h4>
                  <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordion">

                    <div class="accordion-body">
                      <ul>
                        {% for location in total_locations|slice:'10' %}
                          <li class="filter_option"><a href="{{ location.get_job_url }}">{{ location.name }}</a></li>
                        {% endfor %}
                        <li class="filter_option more"><a href="{% url "jobs_by_location" 'jobs' %}" target="_blank">More</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
  
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                      Browse by Skills <i class="fa-solid fa-plus"></i>
                    </button>
                  </h4>
                  <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordion">

                    <div class="accordion-body">
                      <ul class="list-group">
                        {% for skill in total_skills|slice:'10' %}
                        <li class="filter_option"><a href="{{ skill.get_job_url }}" >{{ skill.name }}</a></li>
                        {% endfor %}
                        <li class="filter_option more"><a href="{% url "jobs_by_skill" %}" target="_blank">More</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
  
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingFour">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                      Browse by Degrees <i class="fa-solid fa-plus"></i>
                    </button>
                  </h4>
                  <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" data-bs-parent="#accordion">

                    <div class="accordion-body">
                      <ul>
                        {% for degree in total_degrees|slice:'10' %}
                          <li class="filter_option"><a href="{% url 'job_skills' degree.slug %}" >{{ degree.name }}</a></li>
                        {% endfor %}
                        <li class="filter_option more"><a href="{% url "jobs_by_degree" %}">More</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        {% endcache %}
        <!-- browse_list ends here -->

        <!-- browse_results starts here -->
        <div class="browse_results skills_container">
          <div class="browse_heading">Browse jobs by Industry</div>
          <form name="skillform" id="skillform" method="post">
            <input type="hidden" name="alphabet_value" id="alphabet_value">
            <button type="submit" style="display:none;"></button>
          </form>
          <div class="skills_results">
            {% for industry in all_industries|dictsort:"name" %}
            <a href="{{ industry.get_job_url }}"> {{ industry.name|get_industry_name }} Jobs </a>
            {% endfor %}
          </div>
        </div>
        <!-- browse_results ends here -->
      </div>
      <!--/ list -->
      <!-- refine search -->
      {% include 'left_menu.html' %}
      <!--/ refine search -->
      <!-- register -->
      <!--<div class="col-md-2 register">
        <h3>Register free</h3>
        <div class="register_form">
          <input type='text' placeholder='Enter email id to register'>
          <input type="text" placeholder="Create Password">
          <button>Register Now</button>
        </div>
        </div>-->
      <!--/ register -->
    </div>
  </div>
</section>
<!--/ content of list page -->
{% block pj_info %}
  <div class="col-md-2 col-sm-8 col-xs-8 about">
  </div>
{% endblock %}
{% endblock %}
{% block 'extra_js' %}
<script>
  $('.list-inline li a').click(function(e){
    e.preventDefault();
    $('#alphabet_value').val($(this).attr('class'));
    $('#skillform').submit();
  });

 $('#job_skills').empty()
      $('#job_skills').append(new Option('Select a Skill', ''))
      $.getJSON("{% url 'jobs:get_skills' %}", function (data) {
          $.each(JSON.parse(data.response), function (key, field) {
              $('#job_skills').append(new Option(field.fields.name, field.pk))
          })
      });
</script>
{% endblock %}