{% extends "base.html" %}
{% load page_tags %}
{% load searchtags %}
{% load cache %}
{% load thumbnail %}
{% block block_canonical %}
<link rel="canonical" href="https://peeljobs.com{{ request.path }}"/>
{% endblock %}
{% block block_title %}
{% include "meta_data/jobs_by_skills.html" %}
{% endblock %}
{% block page_search_block %}
{% show_search_filter %}
{% endblock %}
{% block base %}
<!-- content of list page -->
<section class="content_wrap_list main_container">
  <div class="container">
    <div class="breadcrumb_section row mar_lr_0">
      <nav>
        <ol class="cd-breadcrumb triangle">
          <li>
            <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}" class="name">
              <span class="name" >Home</span>
            </a>
          </li>
          <li>
            <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/jobs">
              <span class="name">Latest Jobs</span>
            </a>
          </li>
          <li class="current">
            <span href="{% url 'jobs_by_location' 'jobs' %}" class="active job_detail">
              <span class="name">Jobs by Skill</span>
            </span>
          </li>
        </ol>
      </nav>
    </div>

    <h1 class='internship-text'>{{ h1_tag }}</h1>
    <div class="row">
      <!-- list -->
      <div class="browse_container col-md-9">
        <!-- browse_list starts here -->
        {% cache 604800 browse_jobs_by_skills_menu %}
          {% get_skills as total_skills %}
          {% get_industries as total_industries %}
          {% get_locations as total_locations %}
          {% get_qualifications as total_degrees %}
          <div class="browse_list">
            <div class="panel-group side_filter_section" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="filter_icon">Browse by Skills <i class="more-less glyphicon glyphicon-minus pull-right"></i></a>
                  </span>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <ul class="list-group">
                      {% for skill in total_skills|slice:'10' %}
                      <li class="filter_option"><a href="{{ skill.get_job_url }}" >{{ skill.name }}</a></li>
                      {% endfor %}
                      <li class="filter_option more"><a href="{% url "jobs_by_skill" %}" >More</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <span class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="filter_icon collapsed"> Browse by Location <i class="more-less glyphicon glyphicon-plus pull-right"></i></a>
                  </span>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul>
                      {% for location in total_locations|slice:'10' %}
                        <li class="filter_option"><a href="{{ location.get_job_url }}" >{{ location.name }}</a></li>
                      {% endfor %}
                      <li class="filter_option more"><a href="{% url "jobs_by_location" 'jobs' %}" >More</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <span class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="filter_icon collapsed">Browse by Industries <i class="more-less glyphicon glyphicon-plus pull-right"></i></a>
                  </span>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul class="list-group">
                      {% for industry in total_industries %}
                        <li class="filter_option"><a href="{{ industry.get_job_url }}">{{ industry.name|get_industry_name }}</a></li>
                        {% endfor %}
                        <li class="filter_option more"><a href="{% url "jobs_by_industry" %}" >More</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <span class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseZero" class="filter_icon"> Browse by Degree <i class="more-less glyphicon glyphicon-plus pull-right"></i></a>
                  </span>
                </div>
                <div id="collapseZero" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul>
                      {% for degree in total_degrees %}
                        <li class="filter_option"><a href="{% url 'job_skills' degree.slug %}" >{{ degree.name }}</a></li>
                      {% endfor %}
                      <li class="filter_option more"><a href="{% url "jobs_by_degree" %}" >More</a></li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
        {% endcache %}
        <!-- browse_list ends here -->
        <!-- browse_results starts here -->
        <div class="browse_results skills_container">
          <div class="browse_heading">Browse jobs by skills</div>
          <form name="skillform" id="skillform" method="post">
            <input type="hidden" name="alphabet_value" id="alphabet_value" value="{{request.POST.alphabet_value}}">
            <button type="submit" style="display:none;"></button>
          </form>
          <div class="alphabetics">
            <ul class="list-inline">
              <li><a href="#" class="all">All</a></li>
              <li><a href="#" class="a">A</a></li>
              <li><a href="#" class="b">B</a></li>
              <li><a href="#" class="c">C</a></li>
              <li><a href="#" class="d">D</a></li>
              <li><a href="#" class="e">E</a></li>
              <li><a href="#" class="f">F</a></li>
              <li><a href="#" class="g">G</a></li>
              <li><a href="#" class="h">H</a></li>
              <li><a href="#" class="i">I</a></li>
              <li><a href="#" class="j">J</a></li>
              <li><a href="#" class="k">K</a></li>
              <li><a href="#" class="l">L</a></li>
              <li><a href="#" class="m">M</a></li>
              <li><a href="#" class="n">N</a></li>
              <li><a href="#" class="o">O</a></li>
              <li><a href="#" class="p">P</a></li>
              <li><a href="#" class="q">Q</a></li>
              <li><a href="#" class="r">R</a></li>
              <li><a href="#" class="s">S</a></li>
              <li><a href="#" class="t">T</a></li>
              <li><a href="#" class="u">U</a></li>
              <li><a href="#" class="v">V</a></li>
              <li><a href="#" class="w">W</a></li>
              <li><a href="#" class="x">X</a></li>
              <li><a href="#" class="y">Y</a></li>
              <li><a href="#" class="z">Z</a></li>
            </ul>
          </div>
          <div class="skills_results">
            {% if all_skills %}
            {% for skill in all_skills|dictsort:"name" %}
            <a href="{{ skill.get_job_url }}" > {{skill.name}} Jobs </a>
            {% endfor %}
            {% else %}
            No Skills Available Here.
            {% endif %}
          </div>
        </div>
        <!-- browse_results ends here -->
      </div>
      <!--/ list -->
      <!-- refine search -->
        {% include 'left_menu.html' %}
      <!--/ refine search -->
      <!-- register -->
      <!--<div class="col-md-2 register">
        <h3>Register free</h3>
        <div class="register_form">
          <input type='text' placeholder='Enter email id to register'>
          <input type="text" placeholder="Create Password">
          <button>Register Now</button>
        </div>
        </div>-->
      <!--/ register -->
    </div>
  </div>
</section>
<!--/ content of list page -->
{% block pj_info %}
  <div class="col-md-2 col-sm-8 col-xs-8 about">
  </div>
{% endblock %}
{% endblock %}
{% block 'extra_js' %}
<script>
  $('.list-inline li a').click(function(e){
    e.preventDefault();
    $('#alphabet_value').val($(this).attr('class'));
    $('#skillform').submit();
  });

function add_class(){
  var cl = $("#alphabet_value").val()
  if (cl){
  $("."+cl).addClass('active')
}
}
add_class()
 $('#job_skills').empty()
      $('#job_skills').append(new Option('Select a Skill', ''))
      $.getJSON("{% url 'jobs:get_skills' %}", function (data) {
          $.each(JSON.parse(data.response), function (key, field) {
              $('#job_skills').append(new Option(field.fields.name, field.pk))
          })
      });
</script>
{% endblock %}