{% extends 'mobile/base.html'%}
{% load thumbnail %}
{% load page_tags %}
{% block stage %}
<!-- content of job_list -->
    {% if not applied_jobs %}
    <section id='job_not_found'>
      <div class="page-404 err_container">
        <h2>Sorry</h2>
        <h3>You haven't Applied for any Jobs</h3>
        <a href="/jobs/"><i class="fa fa-home"></i>Go to Jobs Page</a>
      </div>
      <div class='suggested_head'>SUGGESTED JOBS</div>
      {% include 'mobile/job_list.html' with job_list=suggested_jobs %}
    </section>
    {% else %}
    <section id='job_list' class='row'>
    {% include 'mobile/job_list.html' with job_list=applied_jobs %}
    <!-- profile alert -->
    <!--/ profile alert -->
    </section>
    {% endif %}
    <!--/ content of job_list -->
{% endblock %}