{% extends 'mobile/base.html'%}
{% load thumbnail %}
{% block block_title %}
  {% include "meta_data/jobs_by_location.html" %}
{% endblock %}
{% block stage %}

    <!-- content of job_list -->
    <section id='job_list'>
    <h1 class='internship-text' style="margin-left:10px">{{ h1_tag }}</h1>
    <div class="browse_heading">Browse jobs by Union Territories and cities in india.</div>
    <div class="search_jobs"><form name="searchform" id="searchform" method="post">
    <input type="text" class="form-control" placeholder="Search By Location" name="location" id="search_value" autocomplete="off" value="{{ request.POST.location }}"/>
    <button type="submit" style="display: none;"></button></form></div>
    <div class="skills_results">
      <div class="browse_col">
        <ul>
          {% if states %}
            {% if job_type == 'jobs' %}
            {% for state in states %}
                <li {% if state.is_duplicate %}class="state"{% else %}class="state state_url" href='{% url 'job_locations' state.slug %}'{% endif %} >{{ state.name}}</li>
                {% for city in state.active_cities %}
                  <li><a href="{% url 'job_locations' city.slug %}">Jobs in {{ city.name }}</a></li>
                {% endfor %}
            {% endfor %}
            {% elif job_type == 'walkins' %}
            {% for state in states %}
                <li {% if state.is_duplicate %}class="state"{% else %}class="state state_url" href='{% url 'location_walkin_jobs' state.slug %}'{% endif %}>{{ state.name}}</a>
                </li>
                {% for city in state.active_cities %}
                  <li><a href="{% url 'location_walkin_jobs' city.slug %}">Walkins in {{ city.name }}</a></li>
                {% endfor %}
            {% endfor %}
            {% else %}
              {% for state in states %}
                <li {% if state.is_duplicate %}class="state"{% else %}class="state state_url" href='{% url 'location_fresher_jobs' state.slug %}'{% endif %}>{{ state.name}}</li>
                {% for city in state.active_cities %}
                  <li><a href="{% url 'location_fresher_jobs' city.slug %}">Fresher Jobs in {{ city.name }}</a></li>
                {% endfor %}
            {% endfor %}
            {% endif %}
          {% else %}
            <a class="empty_results">No States Available.</a>
          {% endif %}
            </ul>
        </div>
    </div>
    <div>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- PJ Right Nav -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-5756092160559539"
                 data-ad-slot="3490610504"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    <!-- profile alert -->
    {% if request.user.is_authenticated %}
      {% if request.user.profile_completion_percentage < 50 %}
      <!-- profile alert -->
      <a href="{% url 'my:profile' %}">
      <div class="profile_complete"><a href="{% url 'my:profile' %}">
      Complete the profile to apply jobs.<span class='pj-close close_icon'></span>
      </div></a>
      {% endif %}
    {% endif %}
{% endblock %}
{% block 'extra_js' %}
  <script type="text/javascript">

  $(document).ready(function() {

     $('#search_value').keyup(function(e){
      if ($("#search_value").val() == ''){
        $('.ac-cityresults').remove()
        return
      }
     $.get('/search/city-auto/', $("#searchform").serialize(), function (data) {
        $('.ac-cityresults').remove()
        var results = data.results || []
        var re = new RegExp(' ', 'g');
        var results_wrapper = $('<div class="ac-cityresults"></div>')
        var base_elem = $('<div class="result-wrapper"><a href="" class="ac-result"></a><br><p class="auther"></p></div>')
        if(results.length > 0) {
          for(var res_offset in results) {
          {% if job_type == 'jobs' %}
          elem = $('<div class="result-wrapper"><a href="/jobs-in-'+
                  results[res_offset]['name'].replace(re, '-')+'/" class="ac-cityresult"><span>'+results[res_offset]['name'] + '</span></a></div>');
          {% elif job_type == 'walkins' %}
          elem = $('<div class="result-wrapper"><a href="/walkins-in-'+ results[res_offset]['name'].replace(re, '-')+'/" class="ac-cityresult"><span>'+results[res_offset]['name'] + '</span></a></div>');
          {% else %}
            elem = $('<div class="result-wrapper"><a href="/fresher-jobs-in-'+ results[res_offset]['name'].replace(re, '-') + '/"' + 'class="ac-cityresult"><span>'+results[res_offset]['name'] + '</span></a></div>');
          {% endif %}
            results_wrapper.append(elem);
          }
        }
        else {
          return false
        }
        $("#search_value").after(results_wrapper)
          }, 'json');
    });
});
  $('.ac-cityresults').on('click', '.result-wrapper', function(e){
        $('.ac-cityresults').remove()
  })
  $('.state_url').click(function(e){
    window.location = $(this).attr('href')
  })
</script>
{% endblock %}