{% extends 'dashboard/base.html' %}
{% load page_tags %}
{% load tz %}
{% block stage %}
<section id='recruiters'>
  <div class="list_table">

 <span>
        <a class="label {% if status == 'all' %}label-primary{% else %}label-default{% endif %}" href="{% url "dashboard:applicants" 'all' %}">All Logins</a>/
        <a class="label {% if status == 'social' %}label-primary{% else %}label-default{% endif %}" href="{% url "dashboard:applicants" 'social' %}">Social Logins</a> /
        <a class="label {% if status == 'email' %}label-primary{% else %}label-default{% endif %}" href="{% url "dashboard:applicants" 'email' %}">Registrations</a> /
         <a class="label {% if status == 'resume' %}label-primary{% else %}label-default{% endif %}" href="{% url "dashboard:applicants" 'resume' %}">Resume Users</a> /
         <a class="label {% if status == 'resume-pool' %}label-primary{% else %}label-default{% endif %}" href="{% url "dashboard:applicants" 'resume-pool' %}">Resume Pool</a>
      </span>
  <!-- Tab panes -->
          <h4>Job Seekers<span>
        <a class="label label-primary" href="{% url 'dashboard:applicants' status %}">All</a>
        <a class="label label-primary" href="{% url 'dashboard:applicants' status %}?resume_uploaded=true">Resume Uploaded</a>
        <a class="label label-default" href="{% url 'dashboard:applicants' status %}?profile_completed=true">Profile Completed</a>
        <a class="label label-success" href="{% url 'dashboard:applicants' status %}?appliedto_jobs=true">Aplliedto Jobs</a>
        <a class="label label-danger" href="{% url 'dashboard:applicants' status %}?login_once=true">Login Only Once</a>
      </span>
      {% if status != "social" %}
        <span>
        <a class="label label-default filter_active" href="{% if request.GET.resume_uploaded %}?resume_uploaded=true&active=true{% elif request.GET.profile_completed %}?profile_completed=true&active=true{% elif request.GET.appliedto_jobs %}?appliedto_jobs=true&active=true{% elif request.GET.login_once %}?login_once=true&active=true{% else %}?active=true{% endif %}">Active</a> /
        <a class="label label-default filter_inactive" href="{% if request.GET.resume_uploaded %}?resume_uploaded=true&inactive=true{% elif request.GET.profile_completed %}?profile_completed=true&inactive=true{% elif request.GET.appliedto_jobs %}?appliedto_jobs=true&inactive=true{% elif request.GET.login_once %}?login_once=true&inactive=true{% else %}?inactive=true{% endif %}">Inactive</a>
      </span>
      {% endif %}
      </h4>

      <form id="search_form" name="adv-search-form" class="search-form" method="POST">
    <div class="col-md-12 search_form">
      <div class="col-md-2 pad_lr_0">
        <input type="text" name="search" id="search" class="form-control" placeholder="Enter The search value here" value="{{ request.POST.search }}"/>
      </div>
      <div class="col-md-2 pad_lr_0">
        <input type="number" name="profile_completion" id="profile_completion" class="form-control" placeholder="Profile completion" value="{{ request.POST.profile_completion }}"/>
      </div>
     <div class="col-md-2 pad_lr_0">
        <select class="form-control" multiple name="location" id="location">
        {% get_locations as cities %}
            {% for city in cities %}
            <option value="{{city.id}}" {% if city.id|slugify in search_location %} selected {% endif %}>{{city.name}}</option>
            {% endfor %}
        </select>
      </div>
      <div class="col-md-2 pad_lr_0">
        <select class="form-control" multiple name="skills" id="skills">
        {% get_all_skills as skills %}
          {% for skill in skills %}
            <option value="{{skill.id}}" {% if skill.id|slugify in search_skills %} selected {% endif %}>{{skill.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-2 pad_lr_0">
        <input type="hidden" name="job_type" id="job_type" value="{{ job_type }}"/>
        <input type="hidden" name="page" id="page" value="{{ request.POST.page }}"/>
        <input type="text" class="form-control" aria-describedby="basic-addon2" id="reportrange" name="timestamp" value="{{request.POST.timestamp}}" placeholder="Select the date">
      </div>
      <div class="col-md-2 pad_lr_0">
        <button type="submit" class="form-control submit">Submit</button>
      </div>
    </div>
  </form>
      {% if applicants %}
    <table class="table table-hover" id="sample_1">
      <thead>
        <tr>
          <th>#</th>
          <th>Email</th>
          <th>User Name</th>
          <th>Date Joined</th>
          <th>Profile Completion Percentage</th>
          <th>Referer</th>
          <th>Status</th>
          <th>No of AppliedJobs</th>
          <th>Social Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for applicant in applicants %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td><a href="{% url 'dashboard:view_applicant' applicant.id %}">{{ applicant.email }}</a></td>
          <td>{% if applicant.username %}{{ applicant.username }}{% else %}{{ applicant.get_full_name}}{% endif %}</td>
          <td>{{ applicant.date_joined|timezone:"Asia/Calcutta" }}</td>
          <td width="5%">{{ applicant.profile_completion_percentage }}%</td>
          <td style="word-break: break-all;">{% if applicant.referer %}{{ applicant.referer }}{% else %}N/A{% endif %}</td>
          <td>{% if applicant.is_active %}Active{% else %}InActive{% endif %}</td>
          <td>{{ applicant.get_all_applied_jobs|length }}</td>
          <td>
            <ul class="social_integration">
              <li>
                {% if applicant.is_fb_connected %}
                <i class="fa fa-facebook fb"></i>
                {% else %}
                <i class="fa fa-facebook"></i></a>
                {% endif %}
              </li>
              <li>
                {% if applicant.is_tw_connected %}
                <i class="fa fa-twitter twit"></i>
                {% else %}
                <i class="fa fa-twitter"></i>
                {% endif %}
              </li>
              <li>
                {% if applicant.is_gp_connected %}
                <i class="fa fa-google-plus plus"></i>
                {% else %}
                <i class="fa fa-google-plus"></i>
                {% endif %}
              </li>
              <li>
                {% if applicant.is_ln_connected %}
                <i class="fa fa-linkedin in"></i>
                {% else %}
                <i class="fa fa-linkedin"></i>
                {% endif %}
              </li>
              <li>
                {% if applicant.is_gh_connected %}
                <i class="fa fa-github gh"></i>
                {% else %}
                <i class="fa fa-github"></i>
                {% endif %}
              </li>
            </ul>
          </td>
          <td>
          {% if status != "social" and applicant.registered_from == 'Email' %}
          {% if not applicant.is_active %}
          <a href="#" data-href="{% url 'dashboard:applicant_actions' applicant.id %}?action_type=enable" id="{{applicant.id}}"  title="Enable" class="perform-actions"><i class="fa fa-times delete" title="Enable"></i></a>
          {% else %}
          <a href="#" data-href="{% url 'dashboard:applicant_actions' applicant.id %}?action_type=disable" id="{{applicant.id}}" title="Disable" class="perform-actions"><i class="fa fa-check edit" title="Disable"></i></a>
          {% endif %}
          {% endif %}
          <a href="#" data-href="{% url 'dashboard:applicant_actions' applicant.id %}?action_type=delete" id="{{applicant.id}}" title="Delete" class="perform-actions"><i class="fa fa-trash edit" title="Delete"></i></a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
        <div class="pagination_wrap">
        {% get_page current_page last_page as pages %}
        <nav>
            <ul class="pagination">
            {% if current_page != 1 %}
              <li class="prev"><a href="#" class="{{previous_page}}"><i class="fa fa-angle-double-left"></i></a></li>
              <li class="prev"><a class="{{prev_page}}" href="#"><i class="fa fa-angle-left"></i></a></li>
              <li><a href="#" class="1">first</a></li>
              {% endif %}
              {% for s in pages %}
              <li {% ifequal s current_page %} class="active" {% endifequal %}><a href="#" class="{{s}}">{{s}}</a></li>
              {% endfor %}
              {% if current_page != last_page %}
              <li><a href="#" class="{{last_page}}">last</a></li>
              <li><a href="#" class="{{ aft_page }}"><i class="fa fa-angle-right pagination-next"></i></a></li>
              <li><a href="#" class="{{ after_page }}"><i class="fa fa-angle-double-right"></i></a></li>
              {% endif %}
            </ul>
        </nav>
  </div>
  {% else%}
  <div class="row  mt">
              <div class="page-404 text-center"  style="height:400px;width:100%">
<!--                  <h1>{{ message_type }},</h1>
                    <h4>{{ message }}</h4>!-->
                    <h1><span> Sorry, No users available with this search</span></h1>
                </div>
            </div>
  {% endif %}
</section>
{% endblock stage %}
{% block script %}
<script type="text/javascript">
$("#skills").select2({'placeholder': 'Search by Skills'})
$("#location").select2({'placeholder': 'Search by Location'})
$('.pagination li a').click(function(e) {
    e.preventDefault();
    $('#page').val($(this).attr('class'))
    $('#search_form').submit();
});

$('.perform-actions').click(function(e){
  e.preventDefault();
  e.stopPropagation();
  if (!confirm('Do you want to '+$(this).attr('title')+' this?'))
    return;
  href = $(this).attr('data-href')
  title = $(this).attr('title')
  $.post(href, function(data) {
          if (data.error) {
            open_dialog(data.response, 'Error!')
          } else {
            open_dialog("Job Seeker "+title+" Successfully", 'Success!')
            $('#search_form').submit();
          }
        }, 'json');
  });
</script>
{% endblock script %}