@blue: #5AA2CE;
@grey: #45586d;
@bg_color: #5C8AEA;
@body_login_bg: #f0f2f4;
@green: #1DA66E;
@heading: #4A545D;
@mheading: #131313;
@dblue: #0989D9;
@fb: #3b5998;
@in: #0077b5;
@git: #999999;
@gplus: #dd4b39;
@stack: #fe7a15;
@twit: #55acee;
@git_yellow: #ff9933;
@git_green: #6cc644;
@shadow: 1px 1px 1px darken(@dblue,15%);
@green_sky: #00aeef;
@theme_blue: #0060b9;
@border: #ced5df;
@text: #000;

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -4em;
}

.mt {
  margin-left: 0;
  margin-right: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  
  &.login_bg {
    background: @body_login_bg;
  }
}

.important {
  color: red;
}

.container {
  width: 1250px;
}

.mar_lr_0{
  margin-left: 0;
  margin-right: 0;
}

.vertical-right-aligned {
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
  position: fixed;
  right: 0;
  top: 20%;
  z-index: 100;
}

.inactive_form{
  display: none;
}

.active_form {
  display: block!important;
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from { transform: rotateY(180deg) }
  to { transform: rotateY(360deg) }
}

.form-group {
  margin-bottom: 0px !important;
  height: 85px;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 0px;
}

.hide {
  display: none;
}

.company_type_hide {
  display: none;
}

/* main_container starts here */
.main_container {
  padding-top: 18px;
  
  .banner_container {
    .card {
      border-radius: 0;
      border: none;
      background-color: white;
      
      .banner_block {
        padding: 10px;
        
        .banner-left {
          h3 {
            text-transform: uppercase;
            font-size: 19px;
          }
          
          .register_text {
            margin-left: 100px;
          }
          
          .register_banner_quote {
            background: #5aa2ce;
            color: #fff;
            font-size: 23px;
            padding: 5px 15px;
            margin-top: 0;
            display: inline-block;
            font-weight: 600;
            letter-spacing: 1px;
            
            &:hover {
              text-decoration: none;
              background: darken(@git_green, 5%);
            }
          }
          
          ul {
            margin: 0px;
            padding: 0;
            
            li {
              list-style: none;
              color: darken(#6B7988, 10%);
              font-size: 15px;
              line-height: 32px;
              display: block;
              list-style-position: inside;
              
              &:before {
                content: "\f00c";
                font-family: FontAwesome;
                display: inline-block;
                margin-left: -0.3em;
                font-size: 14px;
                margin-right: 0.4em;
                width: 1.3em;
                color: #4ea727;
              }
            }
          }
        }
        
        .banner-right {
          text-align: center;
          
          .banner_quote {
            background: #4caf50;
            color: #fff;
            font-size: 23px;
            padding: 5px 15px;
            margin-top: 0;
            display: inline-block;
            font-weight: 600;
            letter-spacing: 1px;
            
            &:hover {
              text-decoration: none;
              background: darken(@git_green, 5%);
            }
          }
        }
        
        h1 {
          margin: 0px;
          color: #444;
          font-size: 28px;
          margin-left: 0px;
          font-weight: 500;
          text-transform: uppercase;
          text-align: center;
        }
      }
      
      &.banner_panel {
        margin-bottom: 0;
      }
      
      &.latest_updates {
        padding: 10px 20px;
        background: #8c9fb1;
        color: #fff;
        
        ul {
          margin: 0;
          padding: 0;
          
          li {
            list-style: none;
            width: 24%;
            padding: 10px 10px;
            border-right: 1px dashed #abbac7;
            vertical-align: top;
            font-size: 13px;
            display: inline-block;
            text-transform: uppercase;
            font-weight: 500;
            line-height: 23px;
            height: 60px;
            
            &:last-child {
              border: none;
            }
          }
        }
      }
    }
  }
  
  .companies_block {
    .card {
      border-radius: 0;
      border: none;
      
      .card-body {
        padding: 10px;
        
        .sub_heading {
          text-transform: uppercase;
          font-size: 18px;
          letter-spacing: 0.5px;
        }
        
        .logo_list {
          margin: 0px;
          padding: 0;
          margin-top: 15px;
          
          li {
            list-style: none;
            display: inline-block;
            padding: 10px 17px;
            
            img {
              width: 120px;
            }
          }
        }
      }
    }
  }
  
  .features_block {
    h3 {
      font-size: 18px;
      color: #444;
    }
    
    .feature_item {
      .card {
        border-radius: 0;
        border: none;
        
        .card-body {
          padding: 25px 30px;
          
          .img {
            i {
              font-size: 30px;
              margin-bottom: 10px;
              text-align: center;
              background: #b3b3b3;
              color: #fff;
              display: inline-block;
              border-radius: 50%;
              width: 60px;
              height: 60px;
              padding-top: 15px;
            }
          }
          
          
          p {
            color: darken(#6B7988, 10%);
            font-size: 12px;
            line-height: 21px;
            margin-top: 20px;
            display: block;
          }
        }
      }
    }
  }
}

/* footer starts here */
footer {
  background: @grey;
  padding: 10px 0px;
  height: 4em;
  
  .footer_links {
    padding: 0;
    text-align: center;
    margin-left: -92px;
    
    ul {
      margin: 0px;
      padding: 0;
      margin-top: 5px;
    }
  }
  
  .contact {
    text-align: right;
    padding: 0;
    
    ul {
      margin: 0;
      padding: 0;
      
      li {
        list-style: none;
        display: inline-block;
      }
    }
  }
}

.push {
  height: 4em;
}

/* register_login_forgot starts here */
.register_login_forgot {
  .common_authentic_form {
    .card {
      border: none;
      border-radius: 0;
      
      .card-body {
        padding: 20px;
        
        .sub_heading {
          color: darken(#6B7988, 10%);
        }
        
        p {
          color: #6B7988;
          font-size: 12px;
          line-height: 21px;
          margin-top: 10px;
          display: block;
        }
        
        form {
          label {
            font-size: 12px;
            text-decoration: none;
            color: darken(#6B7988, 10%);
            font-weight: 500;
          }
          
          .form-control {
            background: @body_login_bg;
            border-radius: 0;
            box-shadow: none;
            height: 38px;
            border: 1px solid #e8e8e8;
          }
          
          button {
            border-radius: 5px;
            border: none;
            background-color: @git_green;
            color: #fff;
            padding: 14px;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 1px;
          }
          
          .show_form {
            float: right;
            margin-left: 10px;
            cursor: pointer;
            font-size: 12px;
            color: darken(#6B7988, 10%);
            margin-top: 4px;
            text-decoration: underline;
          }
          
          .customGPlusSignIn {
            display: inline-block;
            background: white;
            color: rgba(0,0,0,0.54);
            width: auto;
            border-radius: 5px;
            border: 2px solid #cdd2d4;
            box-shadow: none;
            white-space: nowrap;
            
            span.buttonText {
              display: inline-block;
              vertical-align: middle;
              padding: 0 10px;
              font-size: 14px;
              font-weight: bold;
              font-family: 'Roboto', sans-serif;
              height: 42px;
              line-height: 42px;
              margin: 0;
              padding: 0 12px;
            }
            
            &:hover {
              cursor: pointer;
            }
          }
       
        }
      }
    }
  }
  
  .contact_form {
    border-radius: 0;
    border: none;
    
    .card-body {
      padding: 20px;
      
      .sub_heading {
        color: darken(#6B7988, 10%);
      }
      
      p {
        color: darken(#6B7988, 10%);
        margin-top: 10px;
        font-size: 12px;
        margin-bottom: 15px;
      }
      
      .detail {
        color: #6B7988;
        font-size: 12px;
        margin-top: 10px;
        font-weight: 500;
      }
    }
  }
}

.header_banner {
  background: linear-gradient(to right, @theme_blue 0%, #075093 50%, @theme_blue 100%);
  
  .icon_banner {
    background: url('../../img/banner_icons.png') no-repeat center bottom;
    background-size: cover;
    
    .header_panel {
      background: url('../../img/banner_icons.png') no-repeat center bottom @theme_blue;
      
      .navbar {
        background: none;
        border: none;
        padding: 15px 0;
        margin: 0;
        
        .navbar-brand {
          color: #fff;
          font-weight: bold;
          font-size: 20px;
        }
        
        .main_menu {
          margin-left: 0px;
          
          li {
            font-weight: 500;
            display: flex;
            margin: 2px;
            
            a {
              color: #fff;
              padding: 5px 11px;
              font-size: 12px;
              font-weight: bold;
            }
            
            &.active {
              a {
                background: #fff;
                border-radius: 20px;
                color: @theme_blue;
              }
            }
            
            .logout {
              background: #fff;
              color: #0457a4;
              border-radius: 20px;
            }
            
            .profile_picture {
              height: 40px;
              width: 40px;
              border-radius: 50%;
              position: relative;
              top: -7px;
              margin: 0px 4px;
            }
          }
        }
        
        .navbar-right, .ms-auto {
          margin-top: 5px;
          
          li {
            margin-left: 7px;
            margin-bottom: 5px;
            
            a {
              border-radius: 20px;
              padding: 6px 20px;
              font-size: 12px;
              font-weight: 500;
              background: #fff;
              color: @green_sky;
              
              &:hover {
                background: #3dcaff;
                color: #fff;
              }
            }
            
            &:last-child {
              a {
                background: @green_sky;
                color: #fff;
                
                &:hover {
                  background: #3dcaff;
                  color: #fff;
                }
              }
            }
            
            &.log {
              a {
                background: @green_sky;
                color: #fff;
                
                &:hover {
                  background: #3dcaff;
                  color: #fff;
                }
              }
            }
            
            &.jobseeker_auth {
              a {
                background: #fff;
                color: @green_sky;
                
                &:hover {
                  background: #3dcaff;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* MEGAMENU STYLE */
.megamenu .nav,
.megamenu .collapse,
.megamenu .dropup,
.megamenu .dropdown {
  position: static;
}

.megamenu .container {
  position: relative;
}

.megamenu .dropdown-menu {
  left: auto;
}

.megamenu .megamenu-content {
  padding: 15px 0 0 9px;
}

.megamenu .dropdown.megamenu-fw .dropdown-menu {
  left: 0;
  right: 0;
  top: 40px;
  position: absolute;
}


.internship_parts {
  width: 20% !important;
}

a {
  text-decoration: none !important;
}

.captcha {
  margin-top: -22px;
  margin-bottom: 10px;
}
