{% extends 'dashboard/new_base.html' %}
{% load staticfiles %}
{% load page_tags %}
{% block title %}
{% if add_blog %}
Add
{% else %}
Edit
{% endif %} Blog
{% endblock %}
{% block extra_css %}
{% endblock %}
{% block content %}
<style type="text/css">
.upload-file-list{
    margin: 0px;
    padding:0px;
}
.upload-file-list li{
    list-style: none;
    display: inline-block;
    margin: 5px;
    word-wrap: break-word;
    word-break: break-all;
    vertical-align: top;
}
.upload-file-list li a{
    width: 80px;
}
.upload-file-list li a img,
.upload-file-list img{
    height: 55px;
    width: 55px;
    border:1px solid #ddd;

}
.upload-file-list li a span{
    display: block;
    text-align: center;
    width: 75px;
}
.upload-file-list li a.btn,
.add-new a.btn{
    padding:0px;
}
.upload-file-list li{
    position: relative;
}
span a.del-resource {
  position: absolute;
  text-decoration: none !important;
  width: 21px;
  border: 1px solid #E26A6A;
  height: 23px;
  background: #E26A6A;
  color: #fff;
  z-index: 10;
  text-align: center;
  border-radius: 50% !important;
  border-radius: 50%;
  padding-top: -6px;
  right: 12px;
  top: -10px;
}
span a.del-resource:hover{
    color: #fff;
    background: #dc4c4c;
}

</style>
<div class="row no_row_margin heading_count">
  <div class="heading col-md-6">Attachments</div>
</div>

{% if form.instance %}
  <div class="col-md-12">
    <form name="module_file" enctype="multipart/form-data" id="module_file" >

      <div class="col-md-8" style="padding:0px;">
        <div class="row marl div-file-upload">
          <input type="hidden" id="post_id" name="post_id" value="{{ form.instance.id }}">
          <input type="file" name="upload_file" id="upload_file" class="form-control" style="display:inline-block;width: auto;margin-left:20px">
        <input type="submit" id ="file_upload_btn" value="Upload" style="color: #FFFFFF;
          background-color: #437cae;
          border: none;
          padding: 8px 12px;">

        </div>
        <div class="row marl progress-row" style="display:none;position:relative;">
          <div class="progress" style="   margin-right: 5%;
            margin-top: 5px;
            margin-left: 0%;">
            <div class="bar" style="background-color: #009bdd;border-radius: 3px;width:0%;">&nbsp;</div>
            <div id="status"></div>
            <span class="percent" style="   position: absolute;  top: 5px;   /* margin-left: -3%; */  text-align: center;  left: 5px;">0%</span>
          </div>
        </div>
      </div>
    </form>
    </div>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">File Url</h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


    <div class='col-md-12'>
      <ul class="upload-file-list">
        {% for resource in blog_attachments %}
        <li>
          <span><a href='{{ resource.attached_file.url }}' id="{{ resource.id }}" class="del-resource">x</a></span>
          <span class="myModal2_{{forloop.counter}}" id='{{resource.attached_file.url}}'></span>
          <a id="myModal2_{{forloop.counter}}" href="myModal2" role="button" class="modalbutton" target='_blank'>
          <img src="{{ resource.attached_file.url }}" width="100" height="100">
          <span data-toggle="modal" data-target="#myModal" id="{{ STATIC_URL }}{{resource.attached_file.name}}" class="attachment_name">{{ resource.attached_file.name|get_resume_name }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
  </div>
{% endif %}

<div class="row no_row_margin heading_count">
  <div class="heading col-md-6" id='page_title'></div>
</div>
<div class="row no_row_margin">
  <div class="container-fluid">
    <form action="" method="post" enctype="multipart/form-data" id="post-form" role="form">
      {% csrf_token %}
      <div class="row form_row no_row_margin">
        <div class="col-md-12">
          <div class="col-md-6">
            {% for field in form %}
            {% if field.name == 'tags' %}
            <div class="form-group">
              <label>{{ field.label }}</label>
              <div class="controls">
                {% if add_blog %}
                <input class="form-control myTags" id="id_tags" maxlength="300" name="tags" placeholder="Please enter your Blog Tags" type="text" style="display: none;" value="">
                {% else %}
                <input class="form-control myTags" id="id_tags" maxlength="300" name="tags" placeholder="Please enter your Blog Tags" type="text" style="display: none;" value="{% if form.instance.tags.all %}{% for tag in form.instance.tags.all %}{{tag}},{% endfor %}{% endif %}">
                {% endif %}
                {% for error in form.tags.errors %}
                <p class="failure">{{ error|escape }}</p>
                {% endfor %}
              </div>
            </div>
            {% else %}
            {% if field.name != 'content' %}
            <div class="form-group">
              <label>{% if field.name == 'title' %}POST TITLE{% else %}{{ field.label }}{% endif %}</label>
              <div class="controls">
                {{ field }}
                {% if field.help_text %}
                <p class="help-inline"><small>{{ field.help_text }}</small></p>
                {% endif %}
              </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% if form.instance.id %}
            <div class="form-group">
              <label>History:</label>
              <div class="controls">
                <select name="history" class="form-control">
                  <option value=""> Please choose previous edit </option>
                  {% for history in history_list %}
                  <option value="{{history.id}}">{{ history.created_at }}</option>
                  {% endfor %}
                </select>
                <p class="help-inline"><small>Revert to previous edits</small></p>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="col-md-6">
            {% for field in form %}
            {% if field.name == 'content' %}
            <div class="form-group">
              <label>Description</label>
              <div class="controls">
                {{ field }}
                {% if field.help_text %}
                <p class="help-inline"><small>{{ field.help_text }}</small></p>
                {% endif %}
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="col-md-12">
          {{ formset.management_form }}
          {% for form in formset %}
          <div class="col-md-12 slug">
            {{ form }}
          </div>
          {% endfor %}
        </div>
        <br clear="all">
        <div class=" col-md-12 buttons_row text-left">
          <button type="submit" class="btn btn-default green_btn"> <i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
          <button type="reset" class="btn btn-default blue_btn"> <i class="fa fa-refresh" aria-hidden="true"></i> Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end of add form div -->
{% endblock %}
{% block js_script %}
<script type="text/javascript">
  $(document).ready(function(){
  
    // for form submission
    CKEDITOR.replace('content',{
      filebrowserUploadUrl: '{% url "upload_photos" %}',
      filebrowserBrowseUrl: '{% url "recent_photos" %}',
      uiColor: '#ffffff',
      height:475,
    });
    $('form#post-form').ajaxForm({
            beforeSerialize: function()
            {
                $('#id_content').val(CKEDITOR.instances.id_content.getData());
            },

            dataType:  'json',
            success:  function(data){
                    console.log(data)
                   if(data.error)
                   {
                       $('p.error_required').remove();
                       for (var key in data.response){
                        $('#id_'+key).after('<p class="error_required">* '+data.response[key]+'</p>');
                    }
                   }
                   else
                   {
                           window.location="{% url 'blog' %}";
                   }
            }
    });
  var bar = $('.bar');
  var percent = $('.percent');
  var status = $('#status');

  $('form#module_file').ajaxForm({
    dataType: 'json',
    data : $('form#module_file').serialize(),
    url:"/dashboard/aws-push-to-s3/",
    type: "POST",

    beforeSubmit: function(arr, $form, options) {
      $('.div-file-upload').hide();
      $('.progress-row').show();
      $('#file_upload_btn').attr('disabled','disabled');
    },

    uploadProgress: function(event, position, total, percentComplete) {
      var percentVal = percentComplete + '%';
      bar.width(percentVal);
      percent.html(percentVal);
    },

    success: function(data){
      $('#file_upload_btn').removeAttr('disabled');
      $('.div-file-upload').show();
      $('.progress-row').hide();
      if (data.error == false){
        //window.location ='.';
        ash = data.url;
        extension = data.url.split('.');
        extension = extension[extension.length-1];

        file_name = data.url.split('/');
        file_name = file_name[file_name.length-1];

        file_pos = $('ul.upload-file-list li').length + 1;
        new_file = '<li> \
              <span><a href="' + data.url +'" class="del-resource">x</a></span> \
              <span class="myModal2_' + file_pos + '" id="' + data.url + '"></span> \
              <a id="myModal2_' + file_pos + '" href="myModal2" role="button" class="modalbutton"> \
                <img height="100" width="100" src="' + data.url + '"> \
              <span>' + file_name + '</span> \
              </a> \
            </li>';

        $('ul.upload-file-list').append(new_file);
      }
      else{
        $('.help-block').remove();
        $('#upload_file').after('<p class="help-block">' + data.response + '</p>');
      }
    }
  });

    //  script for form submission ends here
  
  
    // for page title
  
        if(window.location.pathname=="{% url 'blog_add' %}"){
            $('#page_title').text('Add Blog');
        }
        else{
            var blog = '{{ blog_name.title }}';
            $('#page_title').text('Edit Blog: '+ blog);
        }
  
    //script for page title ends here
  
    // for tags
  
        function onAddTag(tag) {
            alert("Added a tag: " + tag);
        }
        function onRemoveTag(tag) {
            alert("Removed a tag: " + tag);
        }
  
        function onChangeTag(input,tag) {
            alert("Changed a tag: " + tag);
        }
  
        $(function() {
            $('.myTags').tagsInput({width:'auto'});
        });

    // script for tags ends here


  });

  // revert to history
  $("select[name=history]").change(function(e){
    var id = $(this).val()
    if(!id){
      return false;
    }
    $.post("", {"history_id": id, "csrfmiddlewaretoken": "{{ csrf_token }}"}, function(response){
      if(response.content){
        $('[name=content]').val(response.content);
        CKEDITOR.instances.id_content.setData(response.content)
      }
    })
  });
  $("body" ).on( "click",".del-resource",function(e){
    e.preventDefault();
    var key = $(this).attr('id');
    if (!confirm('Do you want to delete file?'))
        return;
    $.post("/dashboard/aws-del-from-s3/", {'attachment_id': key}, function(data){
      if(data.error)
      {
        alert(data.response);
      }
      else
      {
        $('#'+key).parent().parent().remove();
      }
    },"json");
  });
$('body').on('click', '.attachment_name', function(e){
  e.preventDefault();
  var id = $(this).attr('id');
  var div_id=$(this).attr('id');
  $("#myModal").css("display","block");
  $('.modal-body').html('<a href='+id+'>'+id+'</a>');
});

</script>
{% endblock %}