{% extends "dashboard/base.html" %}

{% load static %}
{% block stage %}
    <div class="login_wrapper">
        <div class="logo">
      <span class="img_div">
        <img src="{{logo}}">
      </span>
      <span class="text_logo">
        <span style="color: rgb(96, 125, 189); font-size: 35px;">Peel</span>
        <span style="color: rgb(194, 85, 85); font-size: 35px;">Jobs</span>
      </span>
        </div>
        <div class="clearfix"></div>
        <form id="changepasswordform" name="changepasswordform" method="post">
            <section id='sign_in' class="active_login_panel">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Enter current password" name="oldpassword"
                           id="oldpassword">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Enter new password" name="newpassword"
                           id="newpassword">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Re-enter new password"
                           name="retypepassword" id="retypepassword">
                </div>
                <div class="button_row_login">
                    <button class="sign_in_button" type="submit"><i class="fa fa-sign-in"></i>Change Password</button>
                </div>
            </section>
        </form>
    </div>
{% endblock stage %}

{% block script %}
    <script type="text/javascript">
        $("form#changepasswordform").submit(function (e) {
            e.preventDefault();
            $.post('.', $(this).serialize(), function (data) {
                if (data.error) {
                    if (data.message) {
                        open_dialog(data.message, 'Error!')
                    }
                    $('p.failure').remove();
                    for (var key in data.response) {
                        $('#' + key).after('<p class="failure">' + data.response[key] + '</p>');
                    }
                } else {
                    open_dialog_with_url(data.message, 'Success!!!', "/")
                }
            }, 'json');
        });

    </script>
{% endblock script %}
