<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
</head>
<body style="font-family: 'Lato', sans-serif; font-size: 16px; ; line-height: 20px; width: 700px; background: #fff; border: 2px solid #13a2f7; color: #4c4c4c;">
<!-- logo -->
	<div style="padding:20px; text-align: center">
	<img src='http://ui.printblink.com/pj_logo_email_template.jpg'>
	</div>
<!--/ logo -->
<!-- title -->
	<div style='background: #13a2f7; text-align: center; font-size: 20px; font-weight: 500; color: #fff; letter-spacing: 1px; text-transform: uppercase;padding: 20px'>New Ticket</div>
<!--/ title -->
<!-- text -->
	<div style="text-align: center; font-weight: 600;text-transform: capitalize; font-size: 18px; padding: 30px; padding-bottom:10px;">Welcome to peel jobs</div>
	<div style="width:100%; margin:0px auto; text-align: left; padding:10px; line-height:25px;">
	Thank you for contacting the peeljobs Support team. This message is to confirm that A Ticket ha been {% if ticket.status == 1 or ticket.status == 2 %}Opened{% elif ticket.status == 3%}Resolved{% else %}Closed{% endif %}({{ticket.title}})
		<div>
	Please contact the Support team if you have any further questions or issues.
	</div>
	</div>
		<div style="width: 40%; margin:0px auto; padding:20px 0px;">
		<a href="http://recruit.peeljobs.com/dashboard/"><button style="background: #09ba50; color:#fff; font-weight: 600;font-size: 14px; padding:12px; width: 100%;border-radius: 5px;border:1px solid #09ba50;cursor:pointer">Login into Your Account</button></a>
		</div>
<!--/ text -->
</body>
</html>