{% extends "base.html" %}
{% load searchtags %}
{% block block_canonical %}
<link rel="canonical" href="https://peeljobs.com{{ request.path }}"/>
{% endblock %}

{% block block_title %}
  <title>Edit User Personal Info - Free Job Posting - Job Vacancies - Job search in India - PeelJobs</title>

  <meta name="description" content="Edit User Personal Info - PeelJobs - Free Job posting. Search & Apply for Full Time, Internship,  Walk In Jobs. Fill Your Profile to receive email notifications. "/>

  <meta name="Keywords" content="job, jobs, tech jobs, it jobs, job sites, job vacancies, find jobs, search jobs, resume tips, job search engines, careers, technology jobs, career search, job descriptions, employment, work, job listings, peeljobs.com" />
{% endblock %}
{% block page_search_block %}
{% show_search_filter %}
{% endblock %}
{% block base %}
  <!-- main_container starts here -->
    <div class="row mar_lr_0 main_container">
      <div class="container">
        <div class="row mar_lr_0">
          <div class="profile_container">
            <!-- profile_left_container starts here -->
              {% include 'candidate/profile_completion.html' %}
            <!-- profile_left_container ends here -->
            <!-- profile_right_container starts here -->
          <div class="col-md-9 col-sm-9 detail_description_column">
          <div class="panel">
            <div class="panel-heading text-center text-uppercase">EDIT PROFILE</div>
            <div class="panel-body">
            <form name="personalform" id="personalform" method="post">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Profile Tiltle<span class="important">*</span></label>
                  <div class="col-sm-9">
                    <input type='text' class='form-control' id="resume_title" name="resume_title" placeholder="Resume Title" value='{% if request.user.resume_title %}{{ request.user.resume_title }}{% endif %}'>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">First Name<span class="important">*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="First Name" name="first_name" id="first_name" value="{{ request.user.first_name }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Last Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Last Name" name="last_name" id="last_name" value="{% if request.user.last_name %}{{ request.user.last_name }}{% endif %}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Mobile Number</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Mobile Number" id="mobile" name="mobile" value="{% if request.user.mobile > 0 %}{{ request.user.mobile }}{% endif %}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Alterate Mobile Number</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Alterate Mobile Number" id="alternate_mobile" name="alternate_mobile" value="{% if request.user.alternate_mobile > 0 %}{{ request.user.alternate_mobile }}{% endif %}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Industry</label>
                  <div class="col-sm-9">
                    <select class="form-control" name="industry" id="industry" multiple="multiple">
                      <option value="">Select A Industry</option>
                      {% for industry in industries %}
                        <option value="{{ industry.id }}" id="{{ industry.id}}" {% if industry in request.user.industry.all %} selected {% endif %}>{{ industry.name }}</option>
                      {% endfor%}
                      <option value="36" {% for i in request.user.industry.all %}{% if i.id == 36 %} selected {% endif %}{% endfor %}>Other Industry</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Functional Area</label>
                  <div class="col-sm-9">
                    <select class="form-control" name="functional_area" id="functional_area" multiple="multiple">
                      <option value="">Select A Industry</option>
                      {% for functional_area in functional_areas %}
                        <option value="{{ functional_area.id }}" id="{{ functional_area.id}}" {% if functional_area in request.user.functional_area.all %} selected {% endif %}>{{ functional_area.name }}</option>
                      {% endfor%}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Date Of Birth<span class="important">*</span></label>
                <div class="col-sm-9">
                  <input type='text' id='dob' class="form-control" placeholder="Date Of Birth" name="dob" value="{{ request.user.dob|date:"m/d/Y" }}"/>
                </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Gender</label>
                  <div class="col-sm-9">
                    <span class='radio_wrap'>
                      <input type="radio" name="gender" id="gender" value="M" {% if request.user.gender == 'M' %} checked {% endif %}>
                      <span>Male</span>
                    </span>
                    <span class='radio_wrap'>
                      <input type="radio" name="gender" id="gender" value="F" {% if request.user.gender == 'F' %} checked {% endif %}>
                      <span>Female</span>
                    </span>
                  </div>
                </div>
                <!--<div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Nationality<span class="important">*</span></label>
                  <div class="col-sm-9">
                    <select class="form-control" name="nationality" id="nationality">
                      <option value="">Select A Location</option>
                      {% for country in countries%}
                      <option value="{{ country.id }}" {% ifequal country.id|slugify request.user.nationality|slugify %} selected {% endifequal %}>{{ country.name }}</option>
                      {% endfor%}
                    </select>
                  </div>
                </div>-->
                                <div class="clearfix"></div>

                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Marital Status</label>
                  <div class="col-sm-9">
                    <select class="form-control" name="marital_status" id="marital_status">
                      <option value="">Select A Status</option>
                      {% for status in martial_status%}
                      <option value="{{ status.0 }}" {% ifequal status.0|slugify request.user.marital_status|slugify %} selected {% endifequal %}>{{ status.1 }}</option>
                      {% endfor%}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Current Location<span class="important">*</span></label>
                  <div class="col-sm-9">
                    <select class="form-control" name="current_city" id="current_city">
                      <option value="">Select A Location</option>
                      {% for city in cities%}
                        <option value="{{ city.id }}" {% ifequal city.id request.user.current_city.id %} selected {% endifequal %}>{{ city.name }}</option>
                      {% endfor %}
                      {% if request.user.current_city.status == 'Disabled' %}
                      <option value="{{request.user.current_city.id}}" selected>{{request.user.current_city.name}}</option>
                      {% endif %}
                    </select>
                  <input type="text" class="form-control" placeholder="Enter Other Location" id="other_location" name="other_location" style="display:none">
                  <span>Other Location </span><input type="checkbox" name="other_loc" id="other_loc"> 
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Preferred Location</label>
                  <div class="col-sm-9">
                    <select class="form-control" name="preferred_city" id="preferred_city" multiple="multiple">
                      <option value="">Select A Location</option>
                      {% for city in cities%}
                      {% if request.user.nationality|length > 0 %}
                      <option value="{{ city.id }}" id="{{ city.state.country.id}}" {% if city in request.user.preferred_city.all %} selected {% endif %} {% ifnotequal city.state.country.id|slugify request.user.nationality|slugify %} disabled {% endifnotequal %}>{{ city.name }}</option>
                      {% else %}
                      <option value="{{ city.id }}" id="{{ city.state.country.id}}">{{ city.name }}</option>
                      {% endif %}
                      {% endfor%}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Present Address</label>
                  <div class="col-sm-9">
                    <textarea class="form-control" name="address" id="address">{% if request.user.address %}{{ request.user.address }}{%endif%}</textarea>
                    <input type="checkbox" name="present_address" id="present_address"><span>Click Here If Present Address is same as Permanent Address</span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Permanent Address</label>
                  <div class="col-sm-9">
                    <textarea class="form-control" name="permanent_address" id="permanent_address">{% if request.user.permanent_address %}{{ request.user.permanent_address }}{% endif %}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Pincode</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="pincode" name="pincode" id="pincode" value="{% if request.user.pincode > 0 %}{{ request.user.pincode }}{% endif %}">
                    <input type="hidden" class="form-control" placeholder="pincode" name="user_id" id="user_id" value="{{ request.user.id }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label"></label>
                  <div class="col-sm-9">
                    <button type="submit" class='submit'>Save</button>
                    <button type="button" class="cancelbutton">Cancel</button>
                  </div>
                </div>
                <div class="clearfix"></div>
            </form>
            </div>
          </div>
          </div>
        </div>
    </div>
    </div>
{% block pj_info %}
  <div class="col-md-2 col-sm-8 col-xs-8 about">
  </div>
{% endblock %}
  {% endblock %}
{% block 'extra_js' %}
    <script type="text/javascript">
        $(function () {
            $("#dob").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1950:2020"
            });
        });
        $(".cancelbutton").click(function (e) {
            window.location = "{% url 'my:profile' %}";
        });


        $(document).ready(function () {
            $ = jQuery;

            $("select#preferred_city").select2({placeholder: "Select A City", maximumSelectionSize: 6});

            $("select#industry").select2({placeholder: "Select A Industry", maximumSelectionSize: 6});

            $("select#functional_area").select2({placeholder: "Select A Functional Area", maximumSelectionSize: 6});

            /*$("select#nationality").change(function (e) {
                $("select#preferred_city").select2("val", "");
                $("select#current_city").val('');
                $('select#current_city option').removeClass('current_city')
                $('select#preferred_city option').removeAttr('disabled')
                $('select#preferred_city option').removeAttr('selected');
                $('select#preferred_city option[id!=' + $(this).val() + ']').attr('disabled', true)
                $('select#current_city option[id!=' + $(this).val() + ']').addClass('current_city')

            });*/
            $('#present_address').click(function () {
                if (document.getElementById('present_address').checked) {
                    $("#permanent_address").val('');
                    $("#permanent_address").val($("#address").val());
                }
                else {
                    $("#permanent_address").val('');
                }
            });
        });

        $("form#personalform").submit(function (e) {
            e.preventDefault();
            $.post(".", $("form#personalform").serialize(), function (data) {
                if (data.error) {
                    $('p.hint').remove();
                    for (var key in data.response) {
                        $('#' + key).after('<p class="hint">' + data.response[key] + '</p>');
                    }
                } else {
                  open_dialog_with_url('Your profile has been updated successfully', 'Success!!!', "{% url 'my:profile' %}")
                }
            }, 'json');
        });
  $("#other_loc").click(function(e){
  $(this).parent().find('.hint').remove()
    if($(this).is(":checked")){
    $('#current_city').hide()
    $("#other_location").show()
  }
  else{
    $('#current_city').show()
    $("#other_location").hide()
  }
  })

    </script>

{% endblock %}
  