{% extends "base.html" %}
{% load searchtags %}
{% load static %}
{% load page_tags %}
{% block block_canonical %}
<link rel="canonical" href="https://peeljobs.com{{ request.path }}"/>
{% endblock %}

{% block block_title %}
  <title>Contact Recruiters - Free Job Posting - Job Vacancies - Job search in India - PeelJobs</title>

  <meta name="description" content="Add Education - PeelJobs - Free Job posting. Search & Apply for Full Time, Internship,  Walk In Jobs. Fill Your Profile to receive email notifications. "/>

{% endblock %}
{% block page_search_block %}
{% show_search_filter %}
{% endblock %}
{% block base %}
<!-- main_container starts here -->
<div class="row mar_lr_0 main_container">
  <div class="container">
    <!-- breadcrumb_section starts here -->
    <div class="breadcrumb_section row mar_lr_0">
      <nav>
        <ol class="cd-breadcrumb triangle">
          <li><a href="/">Home</a></li>
          <li><a href="/profile/">Profile</a></li>
          <li class="current"><a>Contact Recruiters</a></li>
        </ol>
      </nav>
    </div>
    <div class="row mar_lr_0">
      <div class="profile_container">
        <!-- profile_left_container starts here -->
          {% include 'candidate/profile_completion.html' %}
        <!-- profile_left_container ends here -->
        <!-- profile_right_container starts here -->
        <div class="col-md-9 col-sm-9 detail_description_column">
          <div class="panel message_panel">
            <div class="panel-heading text-center text-uppercase">JobPosts</div>
              <div class="panel-body">
              <div class="row marl chat_main_block mar_lr_0">
                {% if jobs %}
                <div class="col-md-3 pad_lr_0 recruiters_list_block">
                  <ul class="recruiters_list">
                    {% for job in jobs %}
                    {% get_unread_messages request.user job.user job.id as unread%}
                      <li class="col-md-12 pad_lr_0 job_button" id="{{ job.user_id }}" data-id='{{ job.id }}'>
                        <a>{{ job.title }}{% if unread %}<span class="msg_count pull-right">{{ unread }}</span>{% endif %}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="col-md-9 pad_lr_0 message_box1">
                  <h2 class="empty_msg">Select Jobs and Message</h2>
                </div>
                {% else %}
                  <div class="col-md-3 pad_lr_0"></div>
                  <div class="col-md-9 pad_lr_0">
                  <h2 class="empty_msg">No Conversations With JobPosts</h2>
                </div>
                {% endif %}
              </div>
          </div>
        </div>
          <!-- Contancting recruiters starts-->
          <div class="panel message_panel">
            <div class="panel-heading text-center text-uppercase">Contact Recruiters</div>
              <div class="panel-body">
              {% if recruiters %}
                <div class="row marl chat_main_block mar_lr_0">
                <div class="col-md-3 pad_lr_0 recruiters_list_block">
                  <ul class="recruiters_list">
                    {% for user in recruiters %}
                       {% get_unread_messages request.user user '' as unread %}
                      <li class="col-md-12 pad_lr_0 recruiter_button" id="{{ user.id }}">
                        <a>{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.email }}{% endif %}
                        {% if unread %}<span class="msg_count pull-right">{{ unread }}</span>{% endif %}</a>
                      </li>
                    {% endfor %}
                  </ul>
              </div>
              <div class="col-md-9 pad_lr_0 message_box2">
                <h2 class="empty_msg">Select recruiters and Message Them Directly</h2>
              </div>
            {% else %}
            <div class="col-md-3 pad_lr_0"></div>
             <div class="col-md-9 pad_lr_0">
                <h2 class="empty_msg">No Conversations With Recruiters</h2>
              </div>
            {% endif %}
            </div>
          </div>
          </div>
          <!-- Contancting recruiters ends-->
        </div>
      </div>
    </div>
  </div>
</div>
<li class="right clearfix pull-right message_box" id='' style="display:none">
  <i class="fa fa-trash-o pull-right delete_msg" aria-hidden="true"></i>
  <span class="chat-img pull-right">
    <img src="{% if request.user.profile_pic|length > 0 %}{{ request.user.profile_pic.url }}{% elif request.user.photo %}{{ request.user.photo }}{% else %}{% static 'dummy.jpg' %}{% endif %}" alt="User Avatar" class="img-circle" id='message_image'>
  </span>
  <div class="chat-body clearfix">
      <div class="header">
        <p id='message_text'></p>
        <small class=" text-muted">
          <span class="glyphicon glyphicon-time"></span>
          <span id='message_time'></span>
        </small>
      </div>
  </div>
</li>
{% block pj_info %}
  <div class="col-md-2 col-sm-8 col-xs-8 about">
  </div>
{% endblock %}
{% endblock %}
{% block 'extra_js' %}
<script type="text/javascript">
$(document).ready(function(){
$('body').on('keypress', "input[type=text], textarea", function (e) {
    if(e.which == 13 && !e.shiftKey) {
        $(this).closest("form").submit();
    }
});

$(".job_button").click(function(e){
    e.preventDefault()
    $('.job_button').removeClass('active')
    $(this).addClass('active')
    $(this).find('.msg_count').remove()
    $.post(".", {'r_id': $(this).attr('id'), 'job_id':$(this).attr('data-id'), 'mode': 'get_messages'}, function(data) {
        if (data.error == false) {
          $('.message_box1').html(data.messages)
          $('.message_box1 .chat').attr('id', 'chat1')
          $(".messages_container").scrollTop($(".messages_container")[0].scrollHeight);
        }
        else {
         open_dialog('Something Went Wrong!', 'Alert!')
        }
      }, 'json');
  })

$(".recruiter_button").click(function(e){
    e.preventDefault()
    $('.recruiter_button').removeClass('active')
    $(this).addClass('active')
    $(this).find('.msg_count').remove()
    $.post(".", {'r_id': $(this).attr('id'), 'mode': 'get_messages'}, function(data) {
        if (data.error == false) {
          $('.message_box2').html(data.messages)
          $('.message_box2 .chat').attr('id', 'chat2')
          $(".messages_container").scrollTop($(".messages_container")[0].scrollHeight);
        }
        else {
         open_dialog('Something Went Wrong!', 'Alert!')
        }
      }, 'json');
  })

  $('body').on('submit', 'form.messageform', function(e) {
    e.preventDefault();
    if ($(this).find('input[name=message], textarea').val().trim() == ''){
    open_dialog('Please Enter any message!', 'Alert!')
    return false
  }
  $.post(".", $(this).serialize(), function(data) {
    $('div.error').remove();
    if (data.error == false) {
      $msg = $('.message_box').clone()
      $($msg).attr('id', data.msg_id)
      $($msg).removeClass('message_box')
      $($msg).find('#message_text').text(data.message)
      $($msg).find('#message_time').text(data.time)
      $(".empty_msg").remove()
      if(data.job_post){
          $(".message_box1 .chat").append($msg.show())
          $(".messages_container").scrollTop($(".messages_container")[0].scrollHeight);
        }
      else{
          $(".message_box2 .chat").append($msg.show())
          $(".messages_container").scrollTop($(".messages_container")[0].scrollHeight);
        }
        $('input[name=message], textarea').val('')
    }
    else {
     open_dialog('Something Went Wrong!', 'Alert!')
    }
  }, 'json');
});
$('body').on('click', '.delete_msg', function(e){
  e.stopPropagation()
  id = $(this).parent().attr('id')
   $.post('.', {'mode': 'delete_message', 'id': id}, function (data) {
    if(data.error == false){
      if($('#'+id).siblings().length == 0){
        $('#'+id).closest('.chat').html('<div class="text-center empty_msg"><h2> No Messages</h2></div>')
      }
      $('#'+id).remove()
      open_dialog("Message Removed Successfully!", 'Success!')
    }
    else{
      open_dialog(data.message, 'Alert!')
    }
  }, 'json');
})
$('body').on('click', '.delete_chat', function(e){
  e.preventDefault()
  chat = $(this).closest('.message_box1')
   $.post('.', {'mode': 'delete_chat', 'user': $(this).attr('id'), 'job': $(this).attr('data-href')}, function (data) {
    if(data.error == false){
      open_dialog("Chat cleared Successfully!", 'Success!')
      if (chat.length > 0){$('#chat1').html('<div class="text-center empty_msg"><h2> No Messages</h2></div>')}
      else{$('#chat2').html('<div class="text-center empty_msg"><h2> No Messages</h2></div>')}
    }
    else{
      open_dialog("Something Went Wrong!", 'Alert!')
    }
  }, 'json');
})
})
</script>
{% endblock %}