{% extends "mobile/base.html" %}
{% block block_canonical %}
    <link rel="canonical" href="https://peeljobs.com{{ request.path }}"/>
{% endblock %}

{% block block_title %}
    <title>Free Job Posting - Job Vacancies - Job search in India - PeelJobs</title>

    <meta name="description"
          content="PeelJobs - Free Job posting. Search & Apply for Full Time, Internship,  Walk In Jobs."/>

    <meta name="Keywords"
          content="job, jobs, tech jobs, it jobs, job sites, job vacancies, find jobs, search jobs, resume tips, job search engines, careers, technology jobs, career search, job descriptions, employment, work, job listings, peeljobs.com"/>
{% endblock %}
{% block stage %}

    <!-- PROFILE edit wrap -->
    <div class='profile_edit_wrap'>
        <div class='overlay_div_profile'></div>
        {% include 'mobile/abc.html' %}

    </div>
    <!--/ PROFILE edit wrap -->
    <!-- form -->
    <form name="projectform" id="projectform" method="post">
        <div class="profile_edit_from_wrap">
            <!-- input group -->
            <div class='form_group'>
                <div class='label'>Skill Name<span class="error">*</span></div>
                <div class='input_wrap'>
                    <select class="input" name="skill" id="skill">
                        <option value="">Select A Skill</option>
                        {% for skill in skills %}
                            <option value="{{ skill.id }}">{{ skill.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!--/ input group -->
            <!-- input group -->
            <div class='form_group'>
                <div class='label'>Experience<span class="error">*</span></div>
                <div class='input_wrap exp_year'>
                    <select class="input experience" name="year" id="year">
                        <option value="" default>years</option>
                        {% for year in years %}
                            <option value="{{ year.0 }}" id="{{ forloop.counter }}">{{ year.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class='input_wrap exp_year'>
                    <select class="input experience" id="month" name="month">
                        <option value="" default>months</option>
                        {% for month in months %}
                            <option value="{{ month.0 }}" id="{{ forloop.counter }}">{{ month.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!--/ input group -->
            <!-- input group -->
            <div class='form_group'>
                <div class='label'>Last Used(MM/DD/YYYY)</div>
                <div class='input_wrap'>
                    <input type="text" class="input" placeholder="Last Used" name="last_used" id="last_used" readonly='true'>
                </div>
            </div>
            <!--/ input group -->
            <!-- input group -->
            <div class='form_group'>
                <div class='label'>Version</div>
                <div class='input_wrap'>
                    <input type="text" class="input" placeholder="Version" name="version" id="version">
                </div>
            </div>
            <!--/ input group -->
            <!-- input group -->
            <div class='form_group'>
                <div class='label'>Proficiency</div>
                <div class='input_wrap'>
                    <select class="input" name="proficiency" id="proficiency">
                        <option value="">Select A status</option>
                        {% for status in status %}
                            <option value="{{ status.0 }}">{{ status.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!--/ input group -->
             <!-- input group -->
            <div class='form_group'>
                <div class='label'>Is Major Skill <input type="checkbox" class="input" name="is_major" id="is_major" value="True"></div>
            </div>
            <!--/ input group -->
            <!-- button row -->
            <div class="button_row">
                <button type="submit" class="button submit"><span class='pj-reset i'></span>Submit</button>
                <button type="button" class='button submit add_another'>Save & Add Other</button>

                <button type="button" class="button reset_filter cancelbutton"><span class='pj-checkbox i'></span>Cancel
                </button>
            </div>
            <!--/ button row -->
        </div>
    </form>
    <!--/ form -->
{% endblock %}
{% block 'extra_js' %}

    <script type="text/javascript">
        $(".cancelbutton").click(function (e) {
            window.location = "{% url 'my:profile' %}";
        });
        $("#skill").select2({'placeholder': 'Select A Skill'})
$(document).ready(function(){
   $(function () {
      $("#last_used").datepicker({
          changeMonth: true,
          changeYear: true,
          yearRange: "1950:2020"
      });
  });
  $("form#projectform").submit(function (e) {
    e.preventDefault();
    $.post(".", $("form#projectform").serialize(), function (data) {
      if (data.error) {
        if (data.response_message) {
            open_dialog(data.response_message, 'Error!')
        }
        else{
            open_dialog("Some content Mising", 'Warning!')
        $('p.hint').remove();
        $('.add_another').removeClass('save_other')

        for (var key in data.response) {
            if(key == 'skill'){
                $('#' + key).parent().after('<p class="hint">' + data.response[key] + '</p>');
            }
            else{$('#' + key).after('<p class="hint">' + data.response[key] + '</p>');}
        }
      }
      } else {
        if($('.add_another').hasClass('save_other')){
          open_dialog_with_url('Profile Updated Successfully', 'Success!', ".")
        }
        else{
            open_dialog_with_url('Profile Updated Successfully', 'Success!', "{% url 'my:profile' %}")
      }
      }
    }, 'json');
  });
})
    </script>
{% endblock %}
