{% extends 'mobile/base.html'%}
{% load page_tags %}
{% load thumbnail %}
{% block block_canonical %}
<link rel="canonical" href="https://peeljobs.com{{ request.path }}"/>
{% endblock %}

{% block block_title %}
  <title>Free Job Posting - Job Vacancies - Job search in India - PeelJobs</title>

  <meta name="description" content="PeelJobs - Free Job posting. Search & Apply for Full Time, Internship,  Walk In Jobs."/>

  <meta name="Keywords" content="job, jobs, tech jobs, it jobs, job sites, job vacancies, find jobs, search jobs, resume tips, job search engines, careers, technology jobs, career search, job descriptions, employment, work, job listings, peeljobs.com" />
{% endblock %}

{% block stage %}
<!-- PROFILE -->
<section id='profile_home'> 
    <!-- image -->
    <div class="image_wrap">
      <div class="profile_pic_details">
        <div class="profile_pic_block">
          <div class="profile_pic">
            <span class='image'>
            {% if request.user.profile_pic|length > 0 %}
            <img src="{{ request.user.profile_pic.url }}">{% else %}
            <img src="//d2pt99vxm3n8bc.cloudfront.net/static/dummy.jpg">
            {% endif %}
            <form name="profilepicform" id="profilepicform"><input type="file" id='file_input' name="profile_pic" id="profile_pic" style="display: none;" onchange="javascript: submitform()"><input type="submit" id='submit' name="submit" style="display: none;">
            </form>
              <span class='pj-camera i file_upload' title="upload profile picture"></span>
            </span> 
          </div>
           <div class="profile_details">
            <span class="block_item u_name"> {{request.user.get_email_name}} </span>
            {% if request.user.job_role %}<span class="block_item desig">{{ request.user.job_role }}</span>{% endif %}
            <span><i class="fa fa-map-marker" aria-hidden="true"></i> {% if request.user.current_city %}{{ request.user.current_city.name }}{% else %} Not Specified {% endif %}</span>
            <span><i class="fa fa-suitcase" aria-hidden="true"></i>{% if request.user.year %}{{ request.user.year }} Year(s) {{ request.user.month }} Month(s){% else %}Not Specified{% endif %}</span>
              Profile Completeness
              <div class="progress skill-bar">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{% if request.user.profile_completion_percentage < 10 %}9{% else %}{{ request.user.profile_completion_percentage }}{% endif %}" aria-valuemin="0" aria-valuemax="100" >
                  {% if request.user.profile_completion_percentage > 4 %}<span class="skill"><i class="val" 
                  style=" margin-right:50% !important;">{{ request.user.profile_completion_percentage }}%</i></span>{% endif %}
              </div>
              {% if request.user.profile_completion_percentage < 5 %}<span style="color:black; text-align:center">{{ request.user.profile_completion_percentage }}%</span>{% endif %}
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>


      <!-- social links -->
      <!-- <div class="user_login">
             <div class='social_wrap'>
                <ul>
                   <li>
                    {% if request.user.is_fb_connected %}
                      <a href="{{ request.user.tw_url }}"><span class='icon_wrap fb active'>
                      <span class='pj-facebook i'></span>
                      </span></a>
                    {% else %}
                      <a href="{% url 'social:facebook_connect' %}"><span class='icon_wrap fb'>
                      <span class='pj-facebook i'></span>
                      </span></a>
                    {% endif %}
                   </li>
                   <li>
                    {% if request.user.is_tw_connected %}
                      <a href="{{ request.user.tw_url }}"><span class='icon_wrap git active'>
                      <span class='pj-github i'></span>
                      </span></a>
                    {% else %}
                      <a href="{% url 'social:twitter_login' %}"><span class='icon_wrap git'>
                      <span class='pj-github i'></span>
                      </span></a>
                    {% endif %}
                   </li>
                   <li>
                    {% if request.user.is_ln_connected %}
                      <a href="{{ request.user.tw_url }}"><span class='icon_wrap in active'>
                      <span class='pj-linkedin i'></span>
                      </span></a>
                    {% else %}
                      <a href="{{ request.user.tw_url }}"><span class='icon_wrap in'>
                      <span class='pj-linkedin i'></span>
                      </span></a>
                    {% endif %}
                   </li>
                   <li>
                      <a><span class='icon_wrap gplus'>
                      <span class='pj-googleplus i'></span>
                      </span></a>
                   </li>
                </ul>
             </div>
          </div> -->
      <!--/ social links -->
      <!-- profile completeness -->
     <!--  <div class="complete">
      <span class='label'>Your profile is{% if request.user.profile_completion_percentage < 55 %}<span class='red'>{{request.user.profile_completion_percentage}}% complete</span>{% else %}<span class='green'>{{request.user.profile_completion_percentage}}% complete</span>{% endif %}</span>
      </div> -->
      <!--/ profile completeness -->
    </div>
    <div class="user_personal_detail_block">
    <div class="heading">Contact Details <span class="pull-right"><a href="{% url 'my:edit_personalinfo' %}"><i class="fa fa-edit"></i></a></span></div>
    <span class="block_item"><i class="fa fa-envelope"></i> {{ request.user.email }}</span>
    <span class="block_item"><i class="fa fa-phone"></i>{% if request.user.mobile %}{{ request.user.mobile }}{% else %} Not Specified {% endif %}</span>
    </div>
    <!--/ image -->
    <div class="profile_details_wrap">
    <!-- ticket each -->
    <div class="ticket_each">
    <span class='heading'>Profile<a  href="{% url 'my:edit_personalinfo' %}"><span class='pj-edit edit_i'></span></a></span>
    {% ifequal request.user.firstname ''%}
    <p class="error">Please Complete Your Profile to apply relevant jobs for your profile and get you dream job</p>{% else %}
    <div class="detail_each">
      <span class='detail_heading'>First Name</span>{% if request.user.first_name %}<span class='description'>{{ request.user.first_name }}{% else %}<span class="error">Not Specified</span></span>{% endif %}
    </div>
    <div class="detail_each">
      <span class='detail_heading'>Last Name</span>{% if request.user.last_name %}<span class='description'>{{ request.user.last_name }}{% else %}<span class="error">Not Specified</span></span>{% endif %}
    </div>
    <div class="detail_each">
      <span class='detail_heading'>Email</span>{% if request.user.email %}<span class='description'>{{ request.user.email }}</span>{% else %}<span class="error">Not Specified</span>{% endif %}
    </div>
    <div class="detail_each">
      <span class='detail_heading'>Current Location</span>{% if request.user.current_city %}
      <span class='description'><a href="{% url 'job_locations' request.user.current_city.slug %}" target="_blank">{{ request.user.current_city.name }}</a></span>{% else %}<span class="error">Not Specified</span>{% endif %}
    </div>
    <div class="detail_each">
      <span class='detail_heading'>Preffered Location</span>{% if request.user.preferred_city.all %}<span class='description'>{%for location in request.user.preferred_city.all %}<a href="{% url 'job_locations' location.slug %}" target="_blank">{{ location.name }}</a> {% if forloop.last %}{% else %}, {% endif%}{% endfor %}</span>{% else %}<span class="error">Not Specified</span>{% endif %}
    </div>
    <div class="detail_each">
      <span class='detail_heading'>Phone Number</span>{% if request.user.mobile %}
      <span class='description'>{{ request.user.mobile }}</span>{% else %}<span class="error">Not Specified</span>{% endif %}
    </div>
    <div class="detail_each">
      <span class='detail_heading'>Alternate Phone Number</span>
      {% if request.user.alternate_mobile %}<span class='description'>{{ request.user.alternate_mobile }}</span>{% else %}<span class="error">Not Specified</span>{% endif %}
    </div>
    <div class="detail_each">
      <span class='detail_heading'>Permanent Address</span>{% if request.user.permanent_address %}
      <span class='description'>{{ request.user.permanent_address }}</span>{% else %}<span class="error">Not Specified</span>{% endif %}
    </div>
    <div class="detail_each">
      <span class='detail_heading'>Pin Code</span>{% if request.user.pincode %}
      <span class='description'>{{ request.user.pincode }}</span>{% else %}<span class="error">Not Specified</span>{% endif %}
    </div>
    <div class="detail_each">
      <span class='detail_heading'>Marital Status</span>{% if request.user.marital_status %}
      <span class='description'>{{ request.user.marital_status }}</span>{% else %}<span class="error">Not Specified</span>{% endif %}
    </div>
    <div class="detail_each">
      <span class='detail_heading'>Gender</span><span class='description'>{%if request.user.gender == 'F' %}Female{% elif  request.user.gender == 'M' %}Male{% else %}<span class="error">Not Specified</span>{% endif %}</span>
    </div>
    <div class="detail_each">
      <span class='detail_heading'>Date of Birth</span>{% if request.user.dob %}
      <span class='description'>{{ request.user.dob }}</span>{% else %}<span class="error">Not Specified</span>{% endif %}
    </div>
     <div class="detail_each">
      <span class='detail_heading'>Industry</span>
      <span class='description'>{% for industry in request.user.industry.all %}{{ industry.name }}{% if forloop.last %}{% else %}, {% endif%} </span>{% empty %}<span class="error">Not Specified</span>{% endfor %}
    </div>
     <div class="detail_each">
      <span class='detail_heading'>Functional Area</span>
      {% for fun in request.user.functional_area.all %}{{ fun.name }}{% if forloop.last %}{% else %}, {% endif%} </span>{% empty %}<span class="error">Not Specified</span>{% endfor %}
    </div>
    {% endifequal %}
    </div>
    <!--/ ticket each -->
    <!-- ticket each -->
    <div class="ticket_each">
      <span class='heading'>Profile Description<a  href="{% url 'my:edit_profile_description' %}"><span class='pj-edit edit_i'></span></a></span>
    {% ifnotequal request.user.profile_description ''%}
      <div class="detail_each">
      <span>{{ request.user.profile_description}}</span>
      </div>
    {% else %}
    <p class="error" >Please Complete Your Profile Description</p>
    {% endifnotequal %}
    </div>
 <!-- ticket each -->
    <div class="ticket_each">
    <span class='heading'>Resume Upload</span>
    <div class="detail_each resume_class">
    {% if request.user.resume %}
      <span class="heading download" id="{{ request.user.resume|get_s3_url }}">
      <div class="resume_title">{{ request.user.resume|get_resume_name }}</div>
        <span class="pull-right">
          <a href="{{ request.user.resume|get_s3_url }}" target="_blank" class="download"  >Download</a>
           <a href="#" class="delete delete-resume">Delete</a>
        <br clear="all">
      </span>
          </span>
    {% endif %}
    <form name="resumeupload" id="resumeupload" method="post" action="{% url 'my:upload_resume' %}">
      <input type='file' name="resume" id="resume" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf, application/rtf, application/x-rtf, text/richtext, application/msword, application/vnd.oasis.opendocument.text, application/x-vnd.oasis.opendocument.text, .docx, .odt">
      <div class="button_row">
        <span class="button" id="resume_submit"><span class='pj-checkbox i'></span>Submit</span>
      </div>
    </form>
    </div>
    </div>
    <!-- ticket each -->
        <!--/ ticket each -->
    <div class="ticket_each">
    <span class='heading'>User Emails<a href="{% url 'my:edit_email' %}"><span class='pj-edit edit_i'></span></a></span>
    <div class="detail_each">
    {% for email in request.user.get_user_emails %}
      {% if email.is_primary %}
        <p><span></span><span class='description'>{{ email.email }}</span><span>--Primary</span></p>
      {% else%}
        <p><span></span><span class='description'>{{ email.email }}</span></p>
      {% endif %}
    {% endfor %}
    </div>
    </div>
    <!--/ ticket each -->
    
    <!-- ticket each -->
    <div class="ticket_each">
      <span class='heading'>Professional info<a href="{% url 'my:edit_professionalinfo' %}"><span class='pj-edit edit_i'></span></a></span>
      {% if request.user.year != '' or request.user.month != ''%}
        <div class="detail_each">
          <span class='detail_heading'>Total Experience(Y)</span><span class='description'>{% if request.user.year %}{{ request.user.year }} Year(s) {{ request.user.month }} Month(s){% else %}<span class="error">Not Specified</span>{% endif %}</span>
        </div>
        <div class="detail_each">
          <span class='detail_heading'>Prefered Industry</span><span class='description'>{% if request.user.prefered_industry %}<a href="{% url 'job_industries' request.user.prefered_industry.slug %}" target="_blank">{{ request.user.prefered_industry.name }}</a>{% else %}<span class="error">Not Specified</span>{% endif %}</span>
        </div>
        <div class="detail_each">
          <span class='detail_heading'>Current Salary</span><span class='description'>{% if request.user.current_salary %}<i class="fa fa-inr" aria-hidden="true"></i> {{ request.user.current_salary|get_formatted_salary }}{% else %}<span class="error">Not Specified</span>{% endif %}</span>
        </div>
        <div class="detail_each">
          <span class='detail_heading'>Expected Salary</span><span class='description'>{% if request.user.expected_salary %}<i class="fa fa-inr" aria-hidden="true"></i> {{ request.user.expected_salary|get_formatted_salary }}{% else %}<span class="error">Not Specified</span>{% endif %}</span>
        </div>
        <div class="detail_each">
          <span class='detail_heading'>Job Role</span><span class='description'>{% if request.user.job_role %}{{ request.user.job_role }}{% else %}<span class="error">Not Specified</span>{% endif %}</span>
        </div>
        <div class="detail_each">
          <span class='detail_heading'>Notice Period</span><span class='description'>{% if request.user.notice_period %}{{ request.user.notice_period }}{% else %}<span class="error">Not Specified</span>{% endif %}</span>
        </div>
      {% else %}
        <p class="error" >Please Complete Your Professional Information</p>
      {% endif %}
    </div>
    <!--/ ticket each -->
    <!-- ticket each -->
    <div class="ticket_each">
    <span class='heading'>Employment Details <a href="{% url 'my:add_experience' %}"><span class='pj-add add_i'></span></a></span>
    {% if not request.user.employment_history.all %}
      <p class="error" >Add Your Employment Details Here</p>
    {% else %}
    <!-- table -->
    {% for history in request.user.employment_history.all %}
      <div class='table_each'>
        <div class="edit_del_row"><a href="{% url 'my:edit_experience' history.id %}" id="{{ history.id }}"><span class='pj-edit edit_i'></span></a><a href="{% url 'my:delete_experience' history.id %}" class='employment-delete' id="{{ history.id }}"><span  class='pj-delete del_i'></span></a></div>
        <div class="detail_each">
          <span class='detail_heading'>Company</span><span class='description'>{{ history.company }}</span>
        </div>
        <div class="detail_each">
          <span class='detail_heading'>Designation</span><span class='description'>{{ history.designation }}</span>
        </div>
        <div class="detail_each">
          <span class='detail_heading'>From</span><span class='description'>{{ history.from_date }}</span>
        </div>
        <div class="detail_each">
          <span class='detail_heading'>To</span><span class='description'>{% if history.to_date == None %}Till Now{% else %}{{ history.to_date }}{%endif%}</span>
        </div>
        <div class="detail_each">
          <span class='detail_heading'>Salary</span><span class='description'>{% if history.salary %}<i class="fa fa-inr" aria-hidden="true"></i> {{ history.salary|get_formatted_salary }}{% else %}<span class="error">Not Specified</span>{% endif %}</span>
        </div>
      </div>
    {% endfor %}
    <!--/ table -->
    {% endif %}
    </div>
    <!--/ ticket each -->
    <!-- ticket each -->
    <div class="ticket_each">
    <span class='heading'>Education Details<a href="{% url 'my:add_education' %}"><span class='pj-add add_i'></span></a></span>
    {% if not request.user.education.all %}
    <p class="error" >Add Your Education Details Here</p>
    {% else %}
      {% for education in request.user.education.all %}
      <!-- table -->
      <div class='table_each'>
        <div class="edit_del_row"><a href="{% url 'my:edit_education' education.id %}" id="{{ education.id }}"><span class='pj-edit edit_i'></span></a>
        <a href="{% url 'my:delete_education' education.id %}" class='education-delete' id="{{ education.id }}"><span class='pj-delete del_i'></span></a></div>
        <div class="detail_each">
          <span class='detail_heading'>Institute</span><span class='description'>{{ education.institute.name }}</span>
        </div>
        <div class="detail_each">
          <span class='detail_heading'>Degree</span><span class='description'><a href="{% url 'job_skills' education.degree.degree_name.slug %}" target="_blank">{{ education.degree.degree_name }}</a></span>
        </div>
        <div class="detail_each">
          <span class='detail_heading'>From</span><span class='description'>{{ education.from_date }}</span>
        </div>
        <div class="detail_each">
          <span class='detail_heading'>To</span><span class='description'>{% if education.to_date == None %}Till Now{% else %}{{ education.to_date }}{%endif%}</span>
        </div>
        <div class="detail_each">
          <span class='detail_heading'>Specialization</span><span class='description'>{{ education.degree.specialization }}</span>
        </div>
        <div class="detail_each">
          <span class='detail_heading'>Score</span><span class='description'>{% if education.score %}{{ education.score }}{% else %}Not Specified{% endif %}</span>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    <!--/ table -->
    </div>
    <!--/ ticket each -->
    <!-- ticket each -->
    <div class="ticket_each">
    <span class='heading'>Technical Skills Details<a href="{% url 'my:add_technicalskill' %}"><span class='pj-add add_i'></span></a></span>
    {% if not request.user.skills.all %}
        <p class="error" >Add Your Technical Skills Details Here</p>
    {% else %}
    {% for skill in request.user.skills.all %}
    <!-- table -->
    <div class='table_each'>
      <div class="edit_del_row"><a href="{% url 'my:edit_technicalskill' skill.id %}" id="{{ skill.id }}"><span class='pj-edit edit_i'></span></a><a href="{% url 'my:delete_technicalskill' skill.id %}" class='technicalskill-delete' id="{{ skill.id }}"><span class='pj-delete del_i'></span></a></div>
      <div class="detail_each">
        <span class='detail_heading'>Name</span><span class='description'><a href="{% url 'job_skills' skill.skill.slug %}" target="_blank"> {{ skill.skill.name }}</a></span>
      </div>
      <div class="detail_each">
        <span class='detail_heading'>Experience</span><span class='description'>{% if skill.year %}{{ skill.year }} Yr {{ skill.month }} months{% else %}Not Specified{% endif %}</span>
      </div>
      <div class="detail_each">
        <span class='detail_heading'>Version</span><span class='description'>{% if skill.version %}{{ skill.version }}{% else %}Not Specified{% endif %}</span>
      </div>
      <div class="detail_each">
        <span class='detail_heading'>Proficiency</span><span class='description'>{% if skill.proficiency %}{{ skill.proficiency }}{% else %}Not Specified{% endif %}</span>
      </div>
      <div class="detail_each">
        <span class='detail_heading'>Last Used</span><span class='description'>{% if skill.last_used %}{{ skill.last_used }}{% else %}Not Specified{% endif %}</span>
      </div>
      <div class="detail_each">
        <span class='detail_heading'>Is Major</span><span class='description'>{{ skill.is_major }}</span>
      </div>
    </div>
    <!--/ table -->
    {% endfor %}
    {% endif %}
    </div>
    <!--/ ticket each -->
    <!-- ticket each -->
    <div class="ticket_each">
    <span class='heading'>Project Details<a href="{% url 'my:add_project' %}"><span class='pj-add add_i'></span></a></span>
    {% if not request.user.project.all %}
    <p class="error" >Add Your Project Details Here</p>
    {% else %}
    {% for project in request.user.project.all %}
    <!-- table -->
    <div class='table_each'>
      <div class="edit_del_row"><a href="{% url 'my:edit_project' project.id %}" id="{{ project.id }}"><span class='pj-edit edit_i'></span></a><a href="{% url 'my:delete_project' project.id %}" class='project-delete' id="{{ project.id }}"><span class='pj-delete del_i'></span></a></div>
      <div class="detail_each">
        <span class='detail_heading'>Name</span><span class='description'>{{ project.name }}</span>
      </div>
      <div class="detail_each">
        <span class='detail_heading'>Duration</span><span class='description'>{{ project.from_date }} - {% if project.to_date %}{{ project.to_date }}{% else %}Not Specified{% endif %}</span>
      </div>
      <div class="detail_each">
        <span class='detail_heading'>Skills</span><span class='description'>{% for skill in project.skills.all %}<a href="{% url 'job_skills' skill.slug %}" target="_blank">{{ skill.name }}</a> {% if forloop.last %}{% else %},{% endif%}{% endfor %}</span>
      </div>
      <div class="detail_each">
        <span class='detail_heading'>Location</span><span class='description'>{% if project.location %}{{ project.location.name }}{% else %}Not Specified{% endif %}</span>
      </div>
      <div class="detail_each">
        <span class='detail_heading'>Role</span><span class='description'>{% if project.role %}{{ project.role }}{% else %}Not Specified{% endif %}</span>
      </div>
      <div class="detail_each">
        <span class='detail_heading'>Size</span><span class='description'>{% if project.size %}{{ project.size }}{% else %}Not Specified{% endif %}</span>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    <!--/ table -->
    </div>
    <!--/ ticket each -->
    <!-- ticket each -->
    <div class="ticket_each">
    <span class='heading'>Languages<a href="{% url 'my:add_language' %}"><span class='pj-add add_i'></span></a>
    </span>
    {% if not request.user.language.all %}
      <p class="error" >Add Your Languages Here</p>
    {% else %}
    {% for language in request.user.language.all %}
    <!-- table -->
    <div class='table_each'>
      <div class="edit_del_row"><a href="{% url 'my:edit_language' language.id%}"><span class='pj-edit edit_i'></span></a><a href="#" class="language-delete" id="{{ language.id }}"><span class='pj-delete del_i'></span></a></div>
      <div class="detail_each">
        <span class='detail_heading'>Language</span><span class='description'>{{ language.language.name }}</span>
      </div>
      <div class="detail_each">
        <span class='detail_heading'>Read / Write / Speak </span>
        <span class='description'>
          <span class='boolean_value {% if language.read %}yes{%else%}no{%endif%}'>{{ language.read }}</span>
          <span class='boolean_value {% if language.write %}yes{%else%}no{%endif%}'>{{ language.write }}</span>
          <span class='boolean_value {% if language.speak %}yes{%else%}no{%endif%}'>{{ language.speak }}</span>
        </span>
      </div>
    </div>
    <!--/ table -->
    {% endfor %}
    {% endif %}
    </div>

    <!--/ ticket each
<div class="ticket_each">
  <a href="{% url 'my:user_password_change' %}">
    <span class='heading'>Change Password
      <span class='pj-edit add_i'></span>
    </span>
  </a>
    </div> -->


    </div>
  </section>
<!--/ PROFILE -->
{% endblock %}

{% block 'extra_js' %}
<script type="text/javascript">
  $(document).ready(function() {
    $('.progress .progress-bar').css("width",
      function() {
        return $(this).attr("aria-valuenow") + "%";
        }
      )
    });

    $("#resume_submit").click(function(){
      $("#resumeupload").submit()
    })

    /* profile title */
    $('.file_upload').click(function (e) {
        $('#file_input').click();
    });
    function submitform() {
        $('form#profilepicform').submit();
    }

    $('form#profilepicform').ajaxForm({
        type: 'POST',
        dataType: 'json',
        url: "{% url 'my:upload_profilepic' %}",
        data: $('#profilepicform').serialize(),
        success: function (data) {
            if (data.error == false) {
              open_dialog_with_url(data.data, 'Info!!', '.')
            } else {
              open_dialog(data.data, 'Error!!')
            }
        }
    });
    </script>
    <script type="text/javascript">
        $ = jQuery;

        $(document).ready(function () {
            // Setup the ajax indicator
            $('body').append('<div id="ajaxBusy"><p><img src="http://d2pt99vxm3n8bc.cloudfront.net/static/img/loader-gif.gif" height="60px" width="60px"></p></div>');
            $('#ajaxBusy').css({
                display: "none",
                margin: "0px",
                paddingLeft: "0px",
                paddingRight: "0px",
                paddingTop: "0px",
                paddingBottom: "0px",
                position: "fixed",
                left: "43%",
                top: "43%",
                width: "auto",
            });
            $("span.download").click(function (e) {
                window.location = $(this).attr('id');
            });
        });

        // Ajax activity indicator bound to ajax start/stop document events
        $(document).ajaxStart(function () {
            $('#ajaxBusy').show();
        }).ajaxStop(function () {
            $('#ajaxBusy').hide();
        });
        $('form#resumeupload').ajaxForm({
            type: 'POST',
            dataType: 'json',
            data: $('#resumeupload').serialize(),
            success: function (data) {
                if (data.error == false) {
                  open_dialog_with_url('Resume uploaded Successfuly!', "Success!!", '.')
                } else {
                  open_dialog(data.data, 'Info!!')
                }
            }
        });

        $("a.language-delete").click(function (e) {
            e.preventDefault();
            $('#block_question').text('Sure, You want to delete this Language?')
            $('#block_question').dialog({
                modal: true,
                dialogClass: "no-close",
                draggable: false,
                title: "Info!!",
                buttons: [
                    {
                        text: "Yes",
                        click: function () {
                        $(this).dialog("close");
                        $.post('/language/delete/' + $('.language-delete').attr('id') + '/', {}, function (data) {
                        if (data.error) {
                          open_dialog(data.response, 'Info!!')
                        } else {
                          open_dialog_with_url('Language deleted Successfully', 'Success', "{% url 'my:profile' %}")
                        }
                       }, 'json');
                        }
                    },
                    {
                        text: "No",
                        click: function () {
                            $(this).dialog("close");
                            return;
                        }
                    }
                ]
            });
        $('.ui-dialog-titlebar-close').html('<span>X</span>')
        });

        $("a.employment-delete").click(function (e) {
            e.preventDefault();
            $('#block_question').text('Sure, You want to delete Experience details?')
            $('#block_question').dialog({
                modal: true,
                dialogClass: "no-close",
                draggable: false,
                title: "Info!!",
                buttons: [
                    {
                        text: "Yes",
                        click: function () {
                        $(this).dialog("close");
                        $.post('/experience/delete/' + $('.employment-delete').attr('id') + '/',
                          $('.employment-delete').children('span').attr('id'), function (data) {
                        if (data.error) {
                          open_dialog(data.response, 'Error!!')
                        } else {
                          open_dialog_with_url('Experience has been deleted Successfully', 'Success', "{% url 'my:profile' %}")
                        }
                        }, 'json');
                        }
                    },
                    {
                        text: "No",
                        click: function () {
                            $(this).dialog("close");
                            return;
                        }
                    }
                ]
            });
        $('.ui-dialog-titlebar-close').html('<span>X</span>')
        });

        $("a.education-delete").click(function (e) {
          e.preventDefault();
          $('#block_question').text('Sure, You want to delete Education details?')
            $('#block_question').dialog({
                modal: true,
                dialogClass: "no-close",
                draggable: false,
                title: "Info!!",
                buttons: [
                    {
                        text: "Yes",
                        click: function () {
                        $(this).dialog("close");
                        $.post('/education/delete/' + $('.education-delete').attr('id') + '/', $('.education-delete').children('span').attr('id'), function (data) {
                        if (data.error) {
                          open_dialog(data.response, 'Error!!')
                        } else {
                            open_dialog_with_url('Education details deleted Successfully', 'Success', "{% url 'my:profile' %}")
                        }
                        }, 'json');
                        }
                    },
                    {
                        text: "No",
                        click: function () {
                            $(this).dialog("close");
                            return;
                        }
                    }
                ]
            });
        $('.ui-dialog-titlebar-close').html('<span>X</span>')
        });
        $("a.technicalskill-delete").click(function (e) {
            e.preventDefault();
           $('#block_question').text('Sure, You want to delete this Technical skill?')
            $('#block_question').dialog({
                modal: true,
                dialogClass: "no-close",
                draggable: false,
                title: "Info!!",
                buttons: [
                    {
                        text: "Yes",
                        click: function () {
                        $(this).dialog("close");
                        $.post('/technicalskill/delete/' + $('.technicalskill-delete').attr('id') + '/',
                          $('.technicalskill-delete').children('span').attr('id'), function (data) {
                        if (data.error) {
                          open_dialog(data.response, 'Error!!')
                        } else {
                        open_dialog_with_url("Technicalskill has been removed Successfully", 'Success', "{% url 'my:profile' %}")
                        }
                        }, 'json');
                        }
                    },
                    {
                        text: "No",
                        click: function () {
                            $(this).dialog("close");
                            return;
                        }
                    }
                ]
            });
        $('.ui-dialog-titlebar-close').html('<span>X</span>')
        });
        $("a.project-delete").click(function (e) {
            e.preventDefault();
            $('#block_question').text('Sure, You want to delete this Project?')
            $('#block_question').dialog({
                modal: true,
                dialogClass: "no-close",
                draggable: false,
                title: "Info!!",
                buttons: [
                    {
                        text: "Yes",
                        click: function () {
                        $(this).dialog("close");
                       $.post('/project/delete/' + $('.project-delete').attr('id') + '/', $('.project-delete').children('span').attr('id'), function (data) {
                        if (data.error) {
                          open_dialog(data.response, 'Error!!')
                        } else {
                        open_dialog_with_url("Project deleted Successfully", 'Success', "{% url 'my:profile' %}")
                        }
                        }, 'json');
                        }
                    },
                    {
                        text: "No",
                        click: function () {
                            $(this).dialog("close");
                            return;
                        }
                    }
                ]
            });
        $('.ui-dialog-titlebar-close').html('<span>X</span>')
        });
         $('.delete-resume').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $('#block_question').text('Do you want to delete Resume?')
            $('.ui-dialog-titlebar-close').empty()
            $('#block_question').dialog({
                modal: true,
                draggable: false,
                title: "Info!!",
                buttons: [
                    {
                        text: "Yes",
                        click: function () {
                            $(this).dialog("close");
                            $.post("{% url 'my:delete_resume' %}", {}, function (data) {
                                if (data.error) {
                                  open_dialog(data.response, 'Error!')
                                } else {
                                open_dialog_with_url('Your resume has been deleted successfully', 'Succes!',
                                  "{% url 'my:profile' %}")
                                }
                            }, 'json');
                        }
                    },
                    {
                        text: "No",
                        click: function () {
                            $(this).dialog("close");
                            return;
                        }
                    }
                ]
            });
          $('.ui-dialog-titlebar-close').html('<span>X</span>')
        });

    </script>

{% endblock %}
