{%load page_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peeljobs JobPost Status</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  </head>
  <body style="width:100% !important; margin:0 !important; padding:0 !important; -webkit-text-size-adjust:none; -ms-text-size-adjust:none;font-size:12px; font-family: 'Poppins', sans-serif;color: #45586d; background: #fff; ">
   <table cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="height:auto !important; margin:0; padding:0; width:100% !important; font-family: 'Poppins', sans-serif;color: #45586d; background: #fff;">
      <tr>
         <td>
          <table id="contenttable" width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="font-family: 'Poppins', sans-serif;color: #45586d; background: #fff; margin-top:0 !important; margin-right: auto !important; margin-bottom:0 !important; margin-left: auto !important; border:none; width: 100% !important; max-width:600px !important;border: 1px solid #ddd !important;">
              <tr>
                <td>
                  <table style="width:600px;background:#fff;padding:0;" cellpadding="0" cellspacing="0">
                    <tr>
                      <td style="background: #0358a6;height:30px;padding: 10px 15px;">
                        <a href="https://peeljobs.com/" style="text-overflow: ellipsis;overflow: hidden;color: #fff !important;margin-left: 0 !important;display: inline-block;margin: 0; padding:0;font-weight: 600;font-size: 18px;text-decoration:none;"><i class="fa fa-line-chart" aria-hidden="true"></i> Peeljobs</a>
                        <span style="float:right;color: #fff;letter-spacing: 0.7px;position: relative;top:5px;">Job Status </span>
                      </td>
                    </tr>
                    <tr style="background:#fff;">
                      <td style="text-align:left;padding:20px 15px;color: #131e26;font-weight: bold;font-size: 17px;">
                        <strong style="margin-bottom:15px;color:#45586d;font-size: 13px;font-weight:600;display:block;">Welcome to Peeljobs</strong>
                        <small style="margin-bottom:15px;color:#45586d;font-size: 13px;font-weight:500;display:block;">Dear {% if user.get_full_name %}{{ user.get_full_name }},{% else %}User,{% endif %}</small>
                        <p style="color: #4f657d;font-size: 12px;font-weight: 400;line-height:23px;margin-bottom:0px;">Here are some latest {% if walk_in %}Walk-in{% endif %} jobs which are suitable for your skills. You can go through the job details below and apply to the jobs by updating your profile. </p>
                      </td>
                    </tr>
                     <tr>
                      <td style="padding:0px 15px;width:100%;">
                        <div style="width:275px;float: left;"><a href="https://peeljobs.com/?referer=gmail" style="background:#62bb46;margin-bottom: 20px;padding:10px;text-align:center;color:#fff;font-size: 12px;font-weight:500;letter-spacing:0.7px;text-decoration:none;display:block;">Login & Complete your profile</a></div>
                         <div style="background:#ebecea;margin-bottom: 15px;text-align:center;color:#45586d;font-size: 12px;font-weight:500;letter-spacing:0.7px;width:275px;float: left;height:34px"><span style="position:relative;top:-3px;">Profile Completeness</span><span style="color:#c12c33;font-size: 24px;font-weight: 500;position: relative;top:0px;margin-left:7px;">{{user.profile_completion_percentage }}% </span></div>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding-left:15px;font-size: 12px;">
                        <strong style="color: #45586d;font-weight:600;font-size:12px;letter-spacing: 0.2px;margin-bottom: 10px;">Profile Details :</strong>
                        <div style="margin-top:10px;width:570px;">
                          <span style="width:350px;float:left;">Email Address : {{ user.email }}</span>
                                                </div>
                        <br>
                         <div style="margin-top:15px;width:570px;">
                          <span style="width:350px;float:left;">Mobile Number : {{ user.mobile }}</span>
                        </div>
                        <br>
                         <div style="margin-top:15px;width:570px;">
                          <span style="width:350px;float:left;">Last Logged On: {{user.last_login|date:"m/d/Y"}}</span>
                        </div>
                        <br>
                         <div style="margin-top:15px;width:570px;">
                          <span style="width:350px;float:left;">Profile Updated On: {{user.profile_updated|date:"m/d/Y"}}</span>
                          <br clear="all">
                        </div>
                        <br>
                      </td>
                    </tr>

                    {% if job_posts %}
                      <tr>
                      <td style="padding:0 15px;">
                        <p style="color: #4f657d;font-size: 12px;font-weight: 600;">Top Matching jobs for you</p>
                        {% for job in job_posts %}
                        <div style="font-size:12px;letter-spacing:0.6px;padding:8px 0;width:570px;border-bottom:1px solid #e0e0e0;">
                          <div style="width:400px;float:left;">
                            <a href="https://peeljobs.com{{job.slug}}" style="color:#0358a6;font-weight:500;">{{ job.title }} [{% if job.min_year == 0 and job.max_year == 0 %}Fresher{% else %}{{ job.min_year }} - {{ job.max_year }}Years Exp{% endif %}]</a>
                            <p style="margin:5px 0">{% if job.company.slug and job.company.is_active %}<a href="https://peeljobs.com/{{job.company.slug}}-job-openings/">{{job.company.name|capfirst}}</a>{% else %}{{job.company.name|capfirst}}{% endif %}</p>
                             <p style="margin:5px 0">Keyskills:{% for skill in  job.skills.all %}
                  <a  href="https://peeljobs.com{{skill.get_job_url}}" target="_blank">{{ skill }}</a>
                  {% endfor %} </p>
                             <p style="margin:5px 0">Industry:  {%for industry in job.industry.all %}<a href="https://peeljobs.com{{industry.get_job_url}}">{{ industry.name }}{% if forloop.last %}{% else %}, {% endif%}</a>{% endfor %}</p>
                             <p style="margin:5px 0">Location:  {%for location in job.location.all %}
                    <a href="https://peeljobs.com{{location.get_job_url}}">{{ location.name }}{% if forloop.last %}{% else %},{% endif%}</a>
                    {% endfor %}</p>
                          </div>
                          {% if job.job_type == 'walk-in' %}
                          {% else %}
                          <div style="width:170px;float:left;text-align:right;">
                               <a href="https://peeljobs.com{{job.slug}}" style="font-size:12px;font-weight:normal;background:#62bb46;color:#fff;display: inline-block;margin-top:7px;padding:5px 10px;letter-spacing:0.6px;text-decoration:none;">Apply Job</a>
                          </div>
                          {% endif %}
                          <br clear="all">
                        </div>
                        {% endfor %}
                      </td>
                    </tr>
                    <tr>
                        <td align="center">  <a href="https://peeljobs.com/jobs/" style="background: #e85d08;margin-top:10px;padding:5px 20px;text-transform:uppercase;text-decoration:none;color: #fff;font-weight: bold;font-size: 13px;display:inline-block;">See More</a></td>
                    </tr>
                    {% endif %}

                    <tr>
                       <td style="padding-left:15px;">
                        <span style="color:#45586d;font-size: 12px;margin-top:30px;display:block;">Thanks & Regards,</span>
                        <span style="color:#45586d;font-size: 12px;font-weight: 500;margin-top: 8px;display:block;margin-bottom: 30px;"><div>Peeljobs Team.</div>
                        <div>support@peeljobs.com</div></span>
                      </td>
                    </tr>
                     <tr>
                      <td>
                        <ul style="margin:0;padding:0;padding:0 8px;border-top:1px solid #e0e0e0;text-align:center;">
                          <li style="list-style:none;display:inline-block;">
                            <a href="https://peeljobs.com/page/terms-conditions/" target="_blank" style="color:#0358a6;font-size: 12px;padding:15px 7px;text-decoration:none;display:inline-block;">Terms & Conditions</a>
                          </li>
                           <li style="list-style:none;display:inline-block;">
                            <a href="https://peeljobs.com/page/privacy-policy/" style="color:#0358a6;font-size: 12px;padding:15px 7px;text-decoration:none;display:inline-block;" target="_blank">Privacy Policy</a>
                          </li>
                           <li style="list-style:none;display:inline-block;">
                            <a href="https://peeljobs.com/page/about-us/" style="color:#0358a6;font-size: 12px;padding:15px 7px;text-decoration:none;display:inline-block;" target="_blank">About Peeljobs</a>
                          </li>
                           <li style="list-style:none;display:inline-block;">
                            <a href="https://peeljobs.com/page/faq/" style="color:#0358a6;font-size: 12px;padding:15px 7px;text-decoration:none;display:inline-block;" target="_blank">FAQ's</a>
                          </li>
                           <li style="list-style:none;display:inline-block;">
                            <a href="https://peeljobs.com/contact/" style="color:#0358a6;font-size: 12px;padding:15px 7px;text-decoration:none;display:inline-block;" target="_blank">Contact Us</a>
                          </li>
                           <li style="list-style:none;display:inline-block;">
                            <a href="https://peeljobs.com/unsubscribe_email/user/{{user.unsubscribe_code}}/" style="color:#0358a6;font-size: 12px;padding:15px 7px;text-decoration:none;display:inline-block;margin-left:480px;" target="_blank">Unsubscribe</a>
                          </li>
                        </ul>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
         </td>
      </tr>
    </table>

  </body>
</html>
