<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css" />
<table border="0" cellpadding="0" cellspacing="0" id="backgroundTable" style="height:auto !important; margin:0; padding:0; width:100% !important; background:#fff;color:#222222;border:1px solid #ddd;">
	<tbody>
		<tr>
			<td>
			<table align="center" border="0" cellpadding="0" cellspacing="0" id="contenttable" style="background-color:#FFFFFF; text-align:center !important; margin-top:0 !important; margin-right: auto !important; margin-bottom:0 !important; margin-left: auto !important; border:none; width: 100% !important; max-width:700px !important;" width="700">
				<tbody>
					<tr>
						<td width="100%">
						<table border="0" cellpadding="0" cellspacing="0" style="background-color:#775bf4;" width="100%">
							<tbody>
								<tr>
									<td align="right" style="padding:2%;"><a href="http://peeljobs.com/?referer=gmail">Peeljobs</a></td>
								</tr>
								<tr>
									<td style="padding:1% 7%;text-align:center;color:#fff;font-family: 'Open Sans', sans-serif;">
									<h3 style="margin:0px;padding:0px;font-weight:bold;font-size:1.1em;text-transform:uppercase;line-height: 24px;">If the first step of your career goes right, then rest of your career will be bright</h3>

									<h4 style="margin:0px;padding:0px;font-weight:bold;font-size:1.1em;text-transform:uppercase;line-height: 24px;">Connect with any of your social networking sites to get hired</h4>
									</td>
								</tr>
								<tr>
									<td style="padding:2%;text-align:center;"><img src="{{ STATIC_URL }}campaign/social-networks/twitter.png" style="max-width:50%;" alt="Peeljobs-twitter" /></td>
								</tr>
								<tr>
									<td style="text-align:center;padding:2%;padding-bottom:5%;" width="100%"><a href="http://peeljobs.com/?referer=gmail" style="dispaly:inline-block;text-transform:uppercase;letter-spacing:1px;font-size:13px;font-family: 'Open Sans', sans-serif;font-weight:bold;background:#372c8a;color:#aba2f7;text-decoration:none;padding:7px 10px;">connect here</a></td>
								</tr>
							</tbody>
						</table>

						<table bgcolor="#FFFFFF" border="0" cellpadding="25" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td bgcolor="#ffffff" style="text-align:left;" width="100%">
									<p dir="ltr">Dear Member,</p>

									<p dir="ltr">Greetings from Peeljobs!</p>

									<p dir="ltr">Peeljobs is one of the best job portal website. Where you can search jobs by skill, location, industry, functional area etc.</p>

									<p dir="ltr">You no need to register into our website. You can log in with your existing social networking sites like Facebook, Google+, Linkedin, Github with one click. Here are few techniques to get into a challenging career.</p>

									<p dir="ltr">Get job alerts<br>
									Create job alerts to get opportunities that interest you. So, that you are always first to hear about the jobs that you really care/want about.
									</p>
									<p dir="ltr">If you have any further queries, please mail to support@peeljobs.com</p>
									<p dir="ltr">We are happy to help you.</p>
									</td>
								</tr>
								<tr>
									<td style="text-align:center;border-top:1px dashed #ccc;padding:15px 0px;">
									<ul style="margin:0px;padding;0px;">
										<li style="list-style:none;display:inline-block;"><a href="http://peeljobs.com/?referer=gmail" style="color:#5f6e76; font-family: 'Open Sans', sans-serif; font-size:12px;font-weight:400;padding:4px 10px;display:inline-block;text-decoration:none;">Login/Connect</a></li>
										<li style="list-style:none;display:inline-block;"><a href="https://peeljobs.com/internship-jobs/" style="color:#5f6e76; font-family: 'Open Sans', sans-serif; font-size:12px;font-weight:400;padding:4px 10px;display:inline-block;text-decoration:none;">Internship jobs</a></li>
										<li style="list-style:none;display:inline-block;"><a href="https://peeljobs.com/jobs/" style="color:#5f6e76; font-family: 'Open Sans', sans-serif; font-size:12px;font-weight:400;padding:4px 10px;display:inline-block;text-decoration:none;">View All Jobs</a></li>
										<li style="list-style:none;display:inline-block;"><a href="https://peeljobs.com/alert/list/" style="color:#5f6e76; font-family: 'Open Sans', sans-serif; font-size:12px;font-weight:400;padding:4px 10px;display:inline-block;text-decoration:none;">Job Alert</a></li>
										<li style="list-style:none;display:inline-block;"><a href="https://peeljobs.com/page/faq/" style="color:#5f6e76; font-family: 'Open Sans', sans-serif; font-size:12px;font-weight:400;padding:4px 10px;display:inline-block;text-decoration:none;">FAQs</a></li>
									</ul>
									</td>
								</tr>
								<tr>
			                        <tr><td style="padding:10px 0px;font-size:13px;"><span style="    float:left;padding-left: 8px;">Visit <a href="https://peeljobs.com/" style='text-decoration:none;'>Peeljobs.com</a></span><span style="float:right;padding-right: 8px;"><a href="https://peeljobs.com/email-unsubscribe/{{ message_id }}/">Unsubscribe</a></span></td></tr>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
